@font-face {
  font-family: "Didot-Bo1d-1";
  src: url("../fonts/Didot-Bold-1.ttf");
  font-display: fallback;
}

@font-face {
  font-family: "Didot-Italic-2";
  src: url("../fonts/Didot-Italic-2.ttf");
  font-display: fallback;
}

@font-face {
  font-family: "Flexure";
  src: url("../fonts/Flexure.ttf");
  font-display: fallback;
}

@font-face {
  font-family: "Fuji-Extended Bold";
  src: url("../fonts/Fuji-Extended Bold.ttf");
  font-display: fallback;
}

@font-face {
  font-family: "NotoSansCJKtc-Black";
  src: url("../fonts/NotoSansCJKtc-Black.otf");
  font-display: fallback;
}

@font-face {
  font-family: "NotoSansCJKtc-Bold";
  src: url("../fonts/NotoSansCJKtc-Bold.otf");
  font-display: fallback;
}

@font-face {
  font-family: "NotoSansCJKtc-DemiLight";
  src: url("../fonts/NotoSansCJKtc-DemiLight.otf");
  font-display: fallback;
}

@font-face {
  font-family: "NotoSansCJKtc-Light";
  src: url("../fonts/NotoSansCJKtc-Light.otf");
  font-display: fallback;
}

@font-face {
  font-family: "NotoSansCJKtc-Medium";
  src: url("../fonts/NotoSansCJKtc-Medium.otf");
  font-display: fallback;
}

@font-face {
  font-family: "NotoSansCJKtc-Regular";
  src: url("../fonts/NotoSansCJKtc-Regular.otf");
  font-display: fallback;
}

@font-face {
  font-family: "NotoSansCJKtc-Thin";
  src: url("../fonts/NotoSansCJKtc-Thin.otf");
  font-display: fallback;
}

@font-face {
  font-family: "NotoSansMonoCJKtc-Bold";
  src: url("../fonts/NotoSansMonoCJKtc-Bold.otf");
  font-display: fallback;
}

@font-face {
  font-family: "NotoSansMonoCJKtc-Regular";
  src: url("../fonts/NotoSansMonoCJKtc-Regular.otf");
  font-display: fallback;
}

@font-face {
  font-family: "PingFang";
  src: url("../fonts/PingFang.ttc");
  font-display: fallback;
}

@font-face {
  font-family: "PingFang-TC-Regular-2";
  src: url("../fonts/PingFang-TC-Regular-2.otf");
  font-display: fallback;
}

@font-face {
  font-family: "plantc";
  src: url("../fonts/plantc.ttf");
  font-display: fallback;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Fuji-Extended Bold, sans-serif;
  text-decoration: none;
}

#header {
  width: 100%;
  height: 123px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  background: transparent;
  z-index: 9;
}

@media all and (max-width: 991px) {
  #header {
    width: 100%;
    height: 55px;
  }
}

#header #hamburgerMenuToggle {
  opacity: 0;
}

#header #hamburgerMenuButton {
  width: 50px;
  height: 35px;
  background-color: black;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
  display: none;
}

#header #hamburgerMenuButton span {
  display: block;
}

#header #hamburgerMenuButton span, #header #hamburgerMenuButton span::before, #header #hamburgerMenuButton span::after {
  content: '';
  display: block;
  width: 50px;
  height: 5px;
  border-radius: 10px;
  background-color: #FDFBBA;
  position: absolute;
}

#header #hamburgerMenuButton span {
  top: 45%;
}

#header #hamburgerMenuButton span::before {
  content: '';
  top: -15px;
}

#header #hamburgerMenuButton span::after {
  content: '';
  top: 15px;
}

@media all and (max-width: 991px) {
  #header #hamburgerMenuButton {
    display: block;
  }
}

#header #headerContentContainer {
  width: 1180px;
  height: 50px;
  margin: 38px 0px 0px 364px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 1599px) {
  #header #headerContentContainer {
    width: 970px;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (max-width: 1199px) {
  #header #headerContentContainer {
    width: 920px;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (max-width: 991px) {
  #header #headerContentContainer {
    display: none;
  }
}

#header #headerContentContainer #logo {
  width: 264px;
  height: 46px;
}

@media all and (max-width: 1599px) {
  #header #headerContentContainer #logo {
    width: 216px;
    height: 38px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media all and (max-width: 1199px) {
  #header #headerContentContainer #logo {
    width: 216px;
    height: 38px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

#header #headerContentContainer #navigation {
  border: 1px solid blue;
  width: 762px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 1599px) {
  #header #headerContentContainer #navigation {
    width: 625px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#header #headerContentContainer #navigation a {
  font-size: 30px;
}

@media all and (max-width: 1599px) {
  #header #headerContentContainer #navigation a {
    font-size: 20px;
  }
}

@media all and (max-width: 1199px) {
  #header #headerContentContainer #navigation a {
    font-size: 20px;
  }
}

#header #headerContentContainer #navigation .navGeneralAnchors {
  color: #FDFBBA;
}

#header #headerContentContainer #navigation .navGeneralAnchors:hover {
  color: #FFE45E;
}

#header #headerContentContainer #navigation :nth-child(2), #header #headerContentContainer #navigation :nth-child(3) {
  margin-left: 25px;
}

@media all and (max-width: 1599px) {
  #header #headerContentContainer #navigation :nth-child(2), #header #headerContentContainer #navigation :nth-child(3) {
    margin-left: 20px;
  }
}

#header #headerContentContainer #navigation #navSepcialAnchor {
  color: #858585;
}

#header #headerContentContainer #navigation #navSepcialAnchor div {
  width: 139px;
  height: 100%;
  border-radius: 3px;
  text-align: center;
  background-color: #FFFF9B;
  margin: 0px 28px;
}

#header #headerContentContainer #navigation #navSepcialAnchor div:hover {
  background-color: #FFE45E;
}

@media all and (max-width: 1599px) {
  #header #headerContentContainer #navigation #navSepcialAnchor div {
    width: 114px;
  }
}

@media all and (max-width: 1599px) {
  #header #headerContentContainer #navigation .navIcons img {
    width: 30px;
  }
}

#header #headerContentContainer #navigation #navIcons02, #header #headerContentContainer #navigation #navIcons03 {
  margin-left: 20px;
}

#chapter01, #chapter02, #chapter03,
#chapter04, #chapter05, #chapter06 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#chapter01 .slide {
  position: relative;
}

#chapter01 .slide .mainSlogan {
  width: 450px;
  height: 200px;
  position: absolute;
  left: 177px;
  top: 308px;
  z-index: 2;
  color: #FDFBBA;
}

#chapter01 .slide .mainSlogan h3 {
  font-size: 25px;
}

#chapter01 .slide .mainSlogan h2 {
  font-size: 50px;
  margin-bottom: 23px;
}

#chapter01 .slide .mainSlogan a[data-id="mainSloganIcon01"], #chapter01 .slide .mainSlogan a[data-id="mainSloganIcon02"] {
  margin-right: 49px;
}

@media all and (max-width: 991px) {
  #chapter01 .slide #mainSlogan01 {
    position: static;
    text-align: center;
    margin: auto;
  }
}

@media all and (max-width: 767px) {
  #chapter01 .slide #mainSlogan01 {
    width: 285px;
    height: 320px;
    position: static;
    text-align: center;
    margin: auto;
  }
  #chapter01 .slide #mainSlogan01 h3 {
    font-size: 16px;
  }
  #chapter01 .slide #mainSlogan01 h2 {
    font-size: 30px;
    margin: 15px 0px 50px 0px;
  }
  #chapter01 .slide #mainSlogan01 div {
    height: 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #chapter01 .slide #mainSlogan01 div a {
    margin: 0 auto !important;
  }
  #chapter01 .slide #mainSlogan01 div a img {
    border: 1px solid red;
    height: 45px;
  }
}

@media all and (max-width: 1599px) {
  #chapter01 .slide #mainSlogan02, #chapter01 .slide #mainSlogan03, #chapter01 .slide #mainSlogan04 {
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 35%;
    left: 50%;
  }
  #chapter01 .slide #mainSlogan02 h2, #chapter01 .slide #mainSlogan03 h2, #chapter01 .slide #mainSlogan04 h2 {
    margin: 15px 0px 50px 0px;
  }
  #chapter01 .slide #mainSlogan02 a, #chapter01 .slide #mainSlogan03 a, #chapter01 .slide #mainSlogan04 a {
    display: none;
  }
}

#chapter01 .slide .subSlogan {
  width: 1066px;
  height: 425px;
  background-color: #F7F7F7;
  opacity: 70%;
  position: absolute;
  top: 237px;
  left: 734px;
  padding: 61px 99px 53px 61px;
}

#chapter01 .slide .subSlogan h3 {
  font-size: 30px;
  line-height: 48px;
  color: #C2B891;
}

#chapter01 .slide .subSlogan h2 {
  font-size: 48px;
  line-height: 64px;
  margin: 20px 0px 40px 0px;
  color: #5F695C;
}

#chapter01 .slide .subSlogan p {
  width: 662px;
  height: 148px;
  font-size: 25px;
  color: #5F695C;
}

#chapter01 .slide .subSlogan img {
  position: absolute;
  left: 689px;
  top: 67px;
}

@media all and (max-width: 1599px) {
  #chapter01 .slide .subSlogan {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
  }
}

#chapter01 #ch01Slide01 {
  position: relative;
  z-index: -2;
  background-image: url(../../../img/22/index/ch0101_bg_green_screen.png);
  background-repeat: no-repeat;
}

#chapter01 #ch01Slide01 .ch01BgShining {
  position: absolute;
  top: 0;
  z-index: 2;
}

#chapter01 #ch01Slide01 #ch01BgShining01 {
  -webkit-animation: fadeInOut 3s infinite ease-in-out;
          animation: fadeInOut 3s infinite ease-in-out;
}

#chapter01 #ch01Slide01 #ch01BgShining02 {
  -webkit-animation: fadeInOut 5s infinite ease-in-out;
          animation: fadeInOut 5s infinite ease-in-out;
}

#chapter01 #ch01Slide01 #ch01BgFruit {
  position: absolute;
  bottom: -120px;
  z-index: -1;
}

@media all and (min-width: 319px) and (max-width: 575px) {
  #chapter01 #ch01Slide01 #ch01BgFruit {
    width: 750px;
    bottom: 0;
  }
}

#chapter01 #ch01Slide02 {
  background-image: url(../../../img/22/index/ch0102_bg.jpg);
}

#chapter01 #ch01Slide02 #mainSlogan02 {
  color: #E4C962;
}

#chapter01 #ch01Slide03 {
  background-image: url(../../../img/22/index/ch0103_bg.jpg);
}

#chapter01 #ch01Slide04 {
  background-image: url(../../../img/22/index/ch0104_bg.jpg);
}

#chapter01 #ch01Slide04 #mainSlogan04 {
  color: #E4C962;
}

#chapter02 {
  position: relative;
  background-color: #B0BAA4;
  background-image: url(../../../img/22/index/ch02_bg_elephants.png);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: 0% 125%;
}

#chapter02 .conversionTitle {
  width: 850px;
  height: 53px;
  position: absolute;
  left: 640px;
  top: 186px;
  z-index: 2;
  font-size: 40px;
  color: #FFFADF;
}

#chapter02 .conversionNumBlock {
  width: 1320px;
  margin-left: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#chapter02 .conversionNumBlock .conversionNum {
  font-size: 300px;
  color: #F7F5F5;
}

#chapter02 .conversionNumBlock .conversionUnit {
  font-size: 40px;
  color: #F7F5F5;
}

#chapter02 #conversionUnitIconBlock {
  width: 120px;
  height: 450px;
  position: absolute;
  top: 206px;
  left: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#chapter03 {
  position: relative;
  background-color: #C8DED2;
  text-align: center;
}

#chapter03 #ch03MainSolgan {
  width: 581px;
  height: 103px;
  margin: auto;
  font-size: 36px;
  font-weight: 600;
  color: #727272;
  line-height: 55px;
  margin-top: -150px;
  margin-bottom: 40px;
}

#chapter03 #solganCardsContainer {
  width: 1300px;
  height: 320px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#chapter03 #solganCardsContainer .solganCard {
  width: 350px;
  height: 100%;
  position: relative;
}

#chapter03 #solganCardsContainer .cardDecorativeFrame {
  width: 320x;
  height: 380px;
  border: 4px solid #FEFA9C;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  margin-top: calc(640px - 490px);
}

#chapter03 #solganCardsContainer .cardDecorativeFrame .avatarDecorativeFrame {
  width: 250px;
  height: 250px;
  border-radius: 250px;
  border-bottom: 46px;
  background-color: #A7BBA9;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#chapter03 #solganCardsContainer .cardDecorativeFrame .avatarDecorativeFrame .avatarBlock {
  width: 220px;
  height: 220px;
  border-radius: 220px;
  background-color: #fff;
  margin: auto;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

#chapter03 #solganCardsContainer .cardDecorativeFrame .avatarDecorativeFrame .avatarBlock img {
  height: 100%;
}

#chapter03 #solganCardsContainer .cardDecorativeFrame .ch03CardTitle {
  font-size: 28px;
  font-weight: 600;
  color: #FFFFFF;
  margin-top: 180px;
}

#chapter03 #solganCardsContainer .cardDecorativeFrame .ch03CardParagraph {
  width: 280px;
  height: 95px;
  font-size: 20px;
  margin: auto;
  margin-top: 10px;
}

#chapter03 #solganCardsContainer .cardDecorativeFrame .ch03Shelter {
  width: 260px;
  height: 125px;
  background-color: #C8DED2;
  margin: auto;
  margin-top: 25px;
  -webkit-transform: translate(0%, -15%);
          transform: translate(0%, -15%);
}

#chapter03 #solganCardsContainer .cardDecorativeFrame .ch03Shelter img {
  width: 170px;
}

#chapter03 #solganCardsContainer .cardDecorativeFrame #ch03Shelter03 {
  -webkit-transform: translate(0%, -25%);
          transform: translate(0%, -25%);
}

#chapter03 #solganCardsContainer .cardDecorativeFrame #ch03Shelter03 img {
  width: 120px;
}

#chapter04 {
  background-image: url(../../../img/22/index/ch04_bg.jpg);
  position: relative;
  text-align: center;
}

#chapter04 h3 {
  font-size: 34px;
  font-weight: 600;
  color: #605F5F;
  margin-top: 120px;
  margin-bottom: 40px;
}

#chapter04 #productCarouselContainer {
  width: 1100px;
  height: 465px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#chapter04 #productCarouselContainer .productCard {
  border: 1px solid lightgray;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);
  background-color: #F3E9C0;
  width: 280px;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#chapter04 #productCarouselContainer .productCard .countdown {
  width: 100%;
  height: 45px;
  border-radius: 20px 20px 0px 0px;
  background-color: #FBFFE0;
  font-size: 18px;
  color: #707070;
  line-height: 45px;
}

#chapter04 #productCarouselContainer .productCard .countdown span {
  font-size: 28px;
  color: #9A0202;
}

#chapter04 #productCarouselContainer .productCard .productAvatarBlock {
  width: 100%;
  height: calc(420px - 45px - 45px);
  background-color: #F2F0D7;
}

#chapter04 #productCarouselContainer .productCard .productAvatarBlock .productAvatar {
  width: 250px;
  height: 250px;
  margin: auto;
  margin-top: 20px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5px;
}

#chapter04 #productCarouselContainer .productCard .productAvatarBlock .productAvatar img {
  -o-object-fit: contain;
     object-fit: contain;
}

#chapter04 #productCarouselContainer .productCard .productMainInfo, #chapter04 #productCarouselContainer .productCard .productSubInfo {
  width: 255px;
  margin: auto;
  color: #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#chapter04 #productCarouselContainer .productCard .productMainInfo .productName, #chapter04 #productCarouselContainer .productCard .productSubInfo .productName {
  font-size: 22px;
  line-height: 30px;
}

#chapter04 #productCarouselContainer .productCard .productMainInfo .productSellingPrice, #chapter04 #productCarouselContainer .productCard .productSubInfo .productSellingPrice {
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  color: #9A0202;
}

#chapter04 #productCarouselContainer .productCard .productSubInfo {
  background-color: #F3E9C0;
}

#chapter04 #productCarouselContainer .productCard .productSubInfo .ProductCategory, #chapter04 #productCarouselContainer .productCard .productSubInfo .productOriginalPrice {
  font-size: 18px;
  line-height: 26px;
}

#chapter04 #productCarouselContainer .productCard .productSubInfo .productOriginalPrice {
  text-decoration: line-through;
}

#chapter04 h4 {
  font-size: 26px;
  color: #666464;
  margin: 0px 0px 30px 0px;
}

#chapter04 #suppliersList {
  width: 1480px;
  height: 102px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#chapter04 #suppliersList .supplierLogoBlock {
  width: 240px;
  height: 100%;
}

#chapter04 #suppliersList .supplierLogoBlock img {
  width: 100%;
}

#chapter05 {
  background-color: #D8E6D9;
  position: relative;
}

#chapter05 .ch05BgFlower {
  width: 530px;
  position: absolute;
  z-index: 2;
}

#chapter05 img[data-id="ch05BgFlower01"] {
  left: -100px;
  bottom: -250px;
}

#chapter05 img[data-id="ch05BgFlower02"] {
  right: -150px;
  top: 40px;
}

#chapter05 #ch05MemoContainer {
  border: 13px solid #E6ECE2;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-top: 120px;
  position: relative;
}

@media all and (max-width: 1599px) {
  #chapter05 #ch05MemoContainer {
    width: 970px;
    height: 720px;
  }
}

#chapter05 #ch05MemoContainer #ch05MainTtile {
  width: 217px;
  height: 51px;
  border-bottom: 3px solid #F5EFD0;
  font-size: 36px;
  line-height: 48px;
  color: #605F5F;
  text-align: center;
  margin: auto;
  margin-top: 75px;
}

#chapter05 #ch05MemoContainer .ch05Memo {
  width: 330px;
  height: 300px;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  background-color: #FDFDF9;
  padding: 55px 0px 0px 45px;
  position: relative;
}

#chapter05 #ch05MemoContainer .ch05Memo .ch05MemoTape {
  position: absolute;
  opacity: 80%;
}

#chapter05 #ch05MemoContainer .ch05Memo h3 {
  font-size: 26px;
  line-height: 42px;
  color: #646464;
}

#chapter05 #ch05MemoContainer .ch05Memo p {
  width: 250px;
  height: 100px;
  font-size: 18px;
  line-height: 35px;
  color: #646464;
  margin-top: 10px;
}

#chapter05 #ch05MemoContainer .ch05Memo img {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

#chapter05 #ch05MemoContainer div[data-id="ch05Memo01"] {
  position: absolute;
  top: 163px;
  left: 139px;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

#chapter05 #ch05MemoContainer div[data-id="ch05Memo01"] div[data-id="ch05MemoTape01"] {
  width: 120px;
  height: 30px;
  background-color: #EDBEBE;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: -40px;
  top: 5px;
}

#chapter05 #ch05MemoContainer div[data-id="ch05Memo02"] {
  position: absolute;
  top: 267px;
  left: 594px;
}

#chapter05 #ch05MemoContainer div[data-id="ch05Memo02"] div[data-id="ch05MemoTape02"] {
  width: 140px;
  height: 25px;
  background-color: #B4E3E3;
  left: 30px;
  top: -12.5px;
}

#chapter05 #ch05MemoContainer div[data-id="ch05Memo03"] {
  position: absolute;
  top: 129px;
  left: 1032px;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

#chapter05 #ch05MemoContainer div[data-id="ch05Memo03"] div[data-id="ch05MemoTape03"] {
  width: 130px;
  height: 35px;
  background-color: #F4EACA;
  -webkit-transform: rotate(95deg);
          transform: rotate(95deg);
  left: -10px;
  top: -35px;
}

#chapter05 #ch05MemoContainer #ch05learnMoreButton {
  width: 240px;
  height: 70px;
  background-color: #DDBCBC;
  border-radius: 13px;
  padding: 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 50px;
  bottom: 30px;
}

#chapter05 #ch05MemoContainer #ch05learnMoreButton:hover {
  background-color: #DD9E9E;
}

#chapter05 #ch05MemoContainer #ch05learnMoreButton div img {
  width: 40px;
}

#chapter05 #ch05MemoContainer #ch05learnMoreButton span {
  font-size: 35px;
  line-height: 56px;
  color: #FFFFFF;
}

#chapter06 {
  background-color: #F6EEE5;
  border: 5px solid black;
}

#chapter06 #ch06FlexArea {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#chapter06 #ch06FlexArea #ch06contactUsArea {
  width: 50%;
  background-image: url(../../../img/22/index/ch06_bg01.png);
  padding: 235px 0px 0px 0px;
}

#chapter06 #ch06FlexArea #ch06contactUsArea #contactUsContainer {
  width: 550px;
  height: 630px;
  background-color: #F6EEE5;
  border: 5px solid #CEC6BD;
  -webkit-box-shadow: 3px 6px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 6px 6px 0px rgba(0, 0, 0, 0.2);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#chapter06 #ch06FlexArea #ch06contactUsArea #contactUsContainer #contactUsFrame {
  width: 500px;
  height: 580px;
  border: 4px solid #CEC6BD;
  margin: auto;
  padding: 30px 85px 30px 85px;
  text-align: center;
}

#chapter06 #ch06FlexArea #ch06contactUsArea #contactUsContainer #contactUsFrame h3 {
  font-size: 30px;
  line-height: 40px;
  color: #D0C37F;
}

#chapter06 #ch06FlexArea #ch06contactUsArea #contactUsContainer #contactUsFrame .ch06TtileDecoration {
  width: 275px;
  margin: auto;
  margin-bottom: 5px;
  border-bottom: 1px solid #D0C37F;
}

#chapter06 #ch06FlexArea #ch06contactUsArea #contactUsContainer #contactUsFrame #connectionInfoContainer {
  width: 100%;
  height: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px 0px 80px 0px;
}

#chapter06 #ch06FlexArea #ch06contactUsArea #contactUsContainer #contactUsFrame #connectionInfoContainer .connectionInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#chapter06 #ch06FlexArea #ch06contactUsArea #contactUsContainer #contactUsFrame #connectionInfoContainer .connectionInfo img {
  margin-right: 20px;
}

#chapter06 #ch06FlexArea #ch06contactUsArea #contactUsContainer #contactUsFrame #connectionInfoContainer .connectionInfo span {
  font-size: 24px;
  color: #D0C37F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#chapter06 #ch06FlexArea #ch06contactUsArea #contactUsContainer #contactUsFrame #connectionInfoContainer .connectionInfo #ch06SearchBar {
  width: 245px;
  height: 40px;
  border: 2px solid #D0C37F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 0px 10px;
}

#chapter06 #ch06FlexArea #ch06contactUsArea #contactUsContainer #contactUsFrame #connectionInfoContainer #address {
  text-align: left;
}

#chapter06 #ch06FlexArea #ch06contactUsArea #contactUsContainer #contactUsFrame #connectionInfoContainer #address img {
  height: 40px;
}

#chapter06 #ch06FlexArea #ch06contactUsArea #contactUsContainer #contactUsFrame #ch06IconContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#chapter06 #ch06FlexArea #ch06GuideArea {
  width: 50%;
  display: inline-block;
  padding: 235px 0px 0px 0px;
}

#chapter06 #ch06FlexArea #ch06GuideArea #ch06GuideContainer {
  width: 500px;
  height: 630px;
  margin: auto;
  text-align: center;
}

#chapter06 #ch06FlexArea #ch06GuideArea #ch06GuideContainer #ch06ImgBlock {
  width: 350px;
  height: 400px;
  margin: auto;
}

#chapter06 #ch06FlexArea #ch06GuideArea #ch06GuideContainer #ch06ImgBlock img {
  width: 100%;
}

#chapter06 #ch06FlexArea #ch06GuideArea #ch06GuideContainer h2 {
  font-size: 65px;
  color: #D0C37F;
  margin: 40px 0px 30px 0px;
}

#chapter06 #ch06FlexArea #ch06GuideArea #ch06GuideContainer #ch06GuideBlock {
  width: 465px;
  height: 75px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#chapter06 #ch06FlexArea #ch06GuideArea #ch06GuideContainer #ch06GuideBlock span {
  font-size: 30px;
  color: #D0C37F;
}

#chapter06 #ch06FlexArea #ch06GuideArea #ch06GuideContainer #ch06GuideBlock #ch06GuideButton {
  width: 166px;
  height: 50px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #D0C37F;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}

#chapter06 #ch06FlexArea #ch06GuideArea #ch06GuideContainer #ch06GuideBlock #ch06GuideButton:hover {
  background-color: #E3DAA9;
}
/*# sourceMappingURL=index.css.map */