* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#background {
  max-width: 1920px;
  width: 100vw;
  height: 100vh;
  position: relative;
}

#background .welcomeBg {
  width: 100%;
  height: 100vh;
  background-image: url("../img/21/welcome/donate_completed_bg.png");
  background-position: top;
  padding: 6vh 0px 0px 0px;
  position: absolute;
  z-index: -1;
}

#background .welcomeBg #flower_left {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 349px;
  width: 30%;
}

@media screen and (max-width: 1200px) {
  #background .welcomeBg #flower_left {
    opacity: 0.8;
  }
}

#background .welcomeBg #flower_right {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  max-width: 349px;
  width: 30%;
}

@media screen and (max-width: 1200px) {
  #background .welcomeBg #flower_right {
    opacity: 0.8;
  }
}

#background .welcomeLogo {
  display: flex;
  justify-content: center;
  max-width: 524px;
  width: 100%;
  padding: 6vh 0;
  margin: 0 auto;
}

@media screen and (max-width: 725px) {
  #background .welcomeLogo {
    width: 45vh;
  }
}

#background .welcomeLogo img {
  width: 100%;
}

#background #buttonContainer {
  max-width: 1100px;
  width: 100%;
  margin: 8vh auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}

@media screen and (max-width: 724px) {
  #background #buttonContainer {
    flex-direction: column;
    margin: 0vh auto 7vh;
  }
}

#background #buttonContainer a {
  border: 3px solid #B2C6A6;
  text-decoration: none;
  color: #8B7A69;
  font-size: 90px;
  text-align: center;
  max-width: 350px;
  height: 26vh;
  width: 100%;
  margin: 0 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #E2E9CC;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
  opacity: 0.7;
}

#background #buttonContainer a:hover {
  background-color: #CFD8B6;
  transform: scale(1.05);
  transition: all .3s;
}

@media screen and (max-width: 1025px) {
  #background #buttonContainer a {
    margin: 3vh;
    max-width: 300px;
    height: 22vh;
    width: 100%;
    font-size: 70px;
  }
}

@media screen and (max-width: 725px) {
  #background #buttonContainer a {
    max-width: 25vh;
    height: 17vh;
    width: 100%;
    margin: 2vh;
    font-size: 50px;
  }
}

@media screen and (max-width: 320px) {
  #background #buttonContainer a {
    max-width: 150px;
    height: 18vh;
    width: 100%;
    margin: 2vh;
    font-size: 30px;
  }
}

#background .mainSlogan {
  margin: 13vh auto 0;
  z-index: 2;
  color: #8B7A69;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
}

@media screen and (max-width: 725px) {
  #background .mainSlogan {
    margin: 5vh auto 0;
  }
}

#background .mainSlogan span {
  font-size: 25px;
  margin: 0.5vh;
}

@media screen and (max-width: 725px) {
  #background .mainSlogan span {
    font-size: 20px;
    margin: 0.5vh;
  }
}

@media screen and (max-width: 320px) {
  #background .mainSlogan span {
    font-size: 15px;
  }
}

#background .mainSlogan p {
  font-size: 50px;
  margin-bottom: 23px;
  margin: 0.5vh;
}

@media screen and (max-width: 725px) {
  #background .mainSlogan p {
    font-size: 30px;
    margin: 0.5vh;
  }
}

@media screen and (max-width: 320px) {
  #background .mainSlogan p {
    font-size: 25px;
  }
}

#background .mainSlogan .iconAll {
  margin: 1vh;
}

#background .mainSlogan .iconAll .icon {
  margin: 1vh;
  max-width: 72px;
  width: 100%;
}

@media screen and (max-width: 725px) {
  #background .mainSlogan .iconAll .icon {
    max-width: 60px;
  }
}

@media screen and (max-width: 320px) {
  #background .mainSlogan .iconAll .icon {
    max-width: 50px;
  }
}
/*# sourceMappingURL=welcomeIndex.css.map */