@import './link';
 
*{
    font-size: 24px;
    color: #707070;
    box-sizing: border-box;
}


.contents{
    // display: flex;
    width: 1200px;
    margin: 0 auto;
    background-color: $FB;
    // border: 1px solid $cf;
}
///////RWＤ///////////
@media screen and (max-width: $laptop ){
    .contents{
        width: 100%;
        
    }

}


.breadcrumbArea{
    // display: flex;
    padding: 25px 0px 25px 25px;
    font-size: 24px;
    width: 90%;
    .breadcrumb{
        display: flex;
        .breaditem > a {
            text-decoration: none;
            color: $C9;
        }
    }


    .breadcrumb > li + li:before {
        color: $C9;
        content: " > ";
        padding: 0 5px;
       
        
    }
}

.local{
    border: 1px solid darkcyan;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 24px;
    padding: 20px;
    background-color: $F2;
    // p{
    //     border: 1px solid goldenrod;
    // }
    p > img{
        width: 30px;
        // border: 1px solid seagreen;
        margin: 0 10px;
    }
    
}
@media screen and (max-width:320px){
    .local{
        padding: 0;
        font-size: 20px;
        p{
            margin: 5px;
        }
    }
}
@media screen and (max-width:540px){
    .localM{
        margin: 10px 0;
    }
}

.pdtQuantity{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    .productText{
        font-size: 24px;
    }
       
    .left,.right{
        background-color: #C9BE9F;
        height: 30px;
        cursor: pointer;

    }
    button.left{
        margin-right: -48px;
        // background-color: #C9BE9F;

    }
    button.right{
        margin-left: -48px;
    }
}

svg.pdtsvg{
    font-size: 10px;
    width: 10px;
    height: 10px;
    margin-bottom: 4px;
}
    
.pdtValue{
        width: 50px;
        height: 32px;
        // border-left: none;
        // border-right: none;
        font-size: 16px;
        font-weight: 400;
        // -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        cursor: text;
        border-radius: 0;
        border: none;
        color: #C9BE9F;
        // -webkit-appearance: none;
        // @content
}

.desItem{
    border: 1px solid palevioletred;
    display: flex;
    // padding: 50px 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    .itemText{
        @extend .desItem;
        
    }

}
.itemImg{
    width: 520px;
    // height: 520px;
    // margin: 50px 20px;
    img{
        width: 100%;
    }
    .pdtText{
        padding: 20px;
        border-radius: 30px 30px 0 0;
        background-color: $F2;
        p{
            font-size: 24px;
            width: 200px;
            margin: 0 auto;
        }
        span{
            color: red;
        }

    }
        .pdtTime{
            font-size: 30px;
            margin: 3px;
            // color: red;
        }
}
.itemText{
    display: inline-block !important;
    padding: 60px 30px;
    width: 520px;
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 26px;
        margin: 20px 0 65px 0;
    }
    .mr{
        span{
            font-size: 30px;
            color: red;
            margin-right: 30px;
            // border: 1px solid darkblue;
            // margin-bottom: 30px;
        }
        del{
            font-size: 24px;
        }
        .mrP{
            margin-top: 20px;
            margin-bottom: 65px;
            font-size: 24px;
        }
        
    }

    .mrB{
        // border: 1px solid firebrick;
        margin-bottom: 80px;
        // padding: 20px;
        p{
            font-size: 24px;
            margin: 10px 0;
        }
    }
}
///////////////// button區
.btn{
    cursor: pointer;
    img{
        margin-right: 5px;
    }
    padding: 14px 16px;
    background-color: $C9;
    border-radius: 5px;
    border: 1px solid $C9;
    color: $ff;
    
    // margin-left: 98px;
}
@media screen and (max-width:320px){
    .btn{
        // float: right;
        // margin-left: 50px;
        padding: 0;
        font-size: 14px;
        img{
            width: 15%;
        }
    }
    .pdtQuantity > button.right{
        margin: 0;
    }
    .pdtQuantity > button.left{
        margin: 0;
    }
    .pdtQuantity > .pdtValue{
        text-align: none;
    }
}
.pdtBTNArea{
    display: flex;
    justify-content: space-evenly;
    .pdtBTN{
        color: $ff;
        background-color: $C9;
        border-radius: 5px;
        border: 1px solid $C9;
        width: 190px;
        padding: 10px;

        img{
            width: 13px;
            margin-right: 5px;
        }
    }
}

@media screen and (max-width:520px){
    .pdtBTNArea > .pdtBTN{
        font-size: 16px;
        width: 100px;
        padding: 5px;

        img{
            width: 8px;

        }

    }
}