@import'./link';


*{
    color: #545454;
    font-family: "PingFang-TC-thin","NotoSansCJKtc-Thin","sans-serif";
    text-decoration: none;
}

#header{
    width: 100%;
    height: 123px;
    display: flex;
    position: fixed;
    background:$D3;
    z-index: 9;
    @include newRwd("bigPhone"){
        width: 100%;
        height: 55px;
    }
    // 漢堡選單開始
    #hamburgerMenuToggle{
        opacity: 0;
        &:checked + #hamburgerMenuButton > span{
            transform: rotate(45deg);
            &::before{
                top: 0;
                transform: rotate(0deg);
            }
            &::after{
                top: 0;
                transform: rotate(90deg);
            }
        }
        &:checked ~ #navigationForMobile{
            left: 0;
        }
    }
    #hamburgerMenuButton{
        width: 45px;
        height: 35px;
        align-self: center;
        margin-left: 10px;
        position: relative;
        cursor: pointer;
        display: none;
        span{
            display: block;
        }
        span, span::before, span::after{
            content: '';
            display: block;
            width: 45px;
            height: 5px;
            border-radius: 10px;
            background-color: #FDFBBA;
            position: absolute;
            transition-duration: .35s;
            }
        span{
            top: 45%;
            &::before{
                content: '';
                top: -15px;
            }
            &::after{
                content: '';
                top: 15px;
            } 
        }
        @include newRwd("bigPhone"){
            display: block;
        }
    }
    // 漢堡選單結束
    // 行動版導覽列開始
    #navigationForMobile{
        display: none;
        @include newRwd("bigPhone"){
            display: block;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 55px;
            left: -100%;
            background-color: white;
            opacity:80%;
            transition-duration: .35s;
            #searchBarForMobile{
                width: 100%;
                height: 70px;
                background-color: lightgrey;
                display: flex;
                #searchInputForMobile{
                    width: 80%;
                    height: 60%;
                    border-radius: 20px;
                    background-color: #FFFFFF;
                    display: block;
                    margin: auto;
                    align-self: center;
                }
            }
            li{
                list-style: none;
                text-align: center;
                font-size: 24px;
                margin: 30px 0px 0px 0px;
                a{
                    color: #515151;
                }
            }
        }
    }
    // 行動版導覽列結束
    #headerContentContainer{
        width: 1180px;
        height: 50px;
        margin: 38px 0px 0px 364px;
        display: flex;
        justify-content: space-between;
        @include newRwd("laptop"){
            width: 970px;
            margin: auto;
            align-items: center;
        }
        @include newRwd("pad"){
            width: 920px;
            margin: auto;
            align-items: center;
        }
        #logo{
            width: 264px;
            height: 46px;
            // &:hover{
            //     content: url('../../../img/22/index/ch01_header_logo_hover.png');
            // }
            @include newRwd("laptop"){
                width: 216px;
                height: 38px;
                align-self: center;
            }
            @include newRwd("pad"){
                width: 216px;
                height: 38px;
                align-self: center;
            }
            @include newRwd("bigPhone"){
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
            }
        }
        // 桌機版導覽列開始
        #navigationForPC{
            width: 762px;
            height: 50px;
            display: flex;
            align-items: center;
            @include newRwd("laptop"){
                width: 625px;
                align-items: center;
            }
            a{
                font-size: 30px;
                @include newRwd("laptop"){
                    font-size: 20px;
                }
                @include newRwd("pad"){
                    font-size: 20px;
                }
                @include newRwd("bigPhone"){
                    display: none;
                }
            }
            .navGeneralAnchors{
                color: #B8AD91;
                &:hover{
                    color: #CEC2B6;
                }
            }
            :nth-child(2),:nth-child(3){
                margin-left: 25px;
                @include newRwd("laptop"){
                    margin-left: 20px;
                }
            } 
            #navSepcialAnchor{
                color: #858585;
                padding: 4px 0;
                div{
                    width: 139px;
                    height: 100%;
                    border-radius: 3px;
                    text-align: center;
                    background-color: #B8AD91;
                    color: #ffffff;
                    &:hover{
                        background-color: #F2F0D7;
                        color: #CEC2B6;
                    }
                    margin: 0px 28px;
                    @include newRwd("laptop"){
                        width: 114px;
                    }
                }
            }
            .navIcons{
                img{
                    @include newRwd("laptop"){
                        width: 30px;
                        
                    }
                }
            }
            #navIcons02, #navIcons03{
                margin-left: 20px;
            }
        }
        // 桌機版導覽列結束
        // 行動版次導覽列開始
        #subNavigationForMobile{
            display: none;
            @include newRwd("bigPhone"){
                display: block;
                // border: 1px solid red;
                width: 96px;
                height: 40px;
                display: flex;
                justify-content: space-between;
                position: absolute;
                right: 10px;
            }
        }
        // 行動版次導覽列結束
    }
}
// 標頭結束


*{
    color: #545454;
}



////////搜尋區///////////////
/////////800px以上//////////
.part1{
    position:relative;
    top:84px;
}

#search{
    background-color: $FB;
    // border: 2px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
    
}
    
#span{
    // border: 1px solid $R;
    background-color:$F3;
    padding: 30px;
    font-size: 25px;
 }
 .selector_ul{
    display:flex;
    // border: 2px solid $G; 
    align-items: center;
    font-size: map-get($font , 22 );
    cursor: pointer;
    height: 84px;
    width: 1403px;

        .areaName{
            // border: 2px solid $G;
            margin: 0 15px;
            font-size: 24px;
    
   }
}  
@media screen and (max-width:1402px){
    .selector_ul{
        width: 100%;
    }
    div.itemArea {
        width: 91%;
    }
    div.btn{
        width: 96.5%;
        border: 2px solid #FBFFE0;
    }
    
    

}

.selector_ul{
        #btnMap{
            text-decoration: none;
            color: #545454;
            display: inline-block;
            background-color:$F3;
            border-radius: 10px;
            padding: 5px 10px;
            &:hover,&:active{
                color: $ff;
                background-color: $C9;
                border: $C9;
            }
            .iconMap{
                width: 20%;
                margin-right: 5px;
            }
            span.mapText{
                &:hover{
                    color: $ff;
            
                }
            }
        }            
}

///////////787以下/////////////////
@media screen and (max-width:787px){
    #fm1{
        display: flex;

    }
    #search{
        display: flex;
        margin: 0  !important; 
        padding: 0  !important;
        width: 100%;
    }
    .selector_ul{
        display: flex;
        padding: 10px;
        width: 100%;
        height: 46px;
        #span{
            font-size: 25px;
            padding: 11px 20px;
        }
        .areaName{
            margin: 0 3px !important;
            font-size: 25px;
            // input{
                // width: 20px;
                // height: 20px;
            // }
            &:nth-child(4){
                margin: 0px -2px !important;
            }
        }
        #selectAll{
            display: none;
        }
        
    }
    .btnMap{
        padding: 8px;
        margin-left: 5px;
        .mapText{
            display: none;

        }
        .iconMap{
            float: right;
            width: 60% !important;
        }
    }
    #selectBlock,#BTN{
        display: none;
    }
}
/////////文字///////////
@media screen and (min-width:392px) and (max-width:529px){
    .selector_ul {
        #span{
            font-size: 16px;
            padding: 13px 15px;
    
        }
        .areaName{
            font-size: 16px;
            input{
                width: 14px !important;
                height: 14px !important;
                }
            }
    }

    .itemArea{
        .itemName{
            font-size: 16px;
                input{
                    width: 14px !important;
                    height: 14px !important;
                }
            }
        }
    }







.wrap{
    // background-image: url(../img/bi2.png);
    background-image: url(../img/backgroud.png);
    background-repeat: repeat;
    // background-color:$D3;
}
//////////次級選單////////////
.itemArea{
    // border: 2px solid $P;
    font-size: 27px;
    margin: 0 auto;
    padding: 20px 40px;
    width: 1324px;
    background-color: #FBFFE0;
    display: flex;
    justify-content: space-around;
    .pText , #nth3{
        border-bottom: 2px solid $F3;
        padding: 0px 0 17px 0;
        color: #545454;
        margin-bottom: 25px;
        justify-content: center;
        display: flex;
    }
    .itemName{
        line-height: 2;
        .itemName2Wth{
            border-right: 2px solid #F3E9C0;
            border-left: 2px solid #F3E9C0;
        }
        .group{
            // width: 200px;
            padding: 10px;
            span{
                width: 100px;
                margin: 20px 0;
            }
        }
        .item1,.itemName2Wth,.item3{
            display: flex;
            // width: $pw;
            width: 100%;
            justify-content: center;
        }
        .item1{
            #group1 ,#group2{
                width: 127px;

            }
        }
        #group3,#group4,#group5,#group6{
            width: 121px;
        }
    }
}

@media screen and (min-width:800px)and (max-width:1403px){
    .itemName{
        width: 100%;
        .item1,.itemName2Wth,.item3{
            width: $null;
        }


    }

}

#itemArea1,#itemArea2,#itemArea3,#RWDMap{
    justify-content: start;
    .itemName > p{
        border-bottom: 2px solid $F3;
        padding: 0px 0 17px 0;
        color: #545454;
        margin-bottom: 25px;
    }
}
@media screen and (max-width:391px){
    .selector_ul{
        #span{
            font-size: 12px;
            padding: 13px 2px;
    
        }
        .areaName{
            font-size: 12px;
            input{
                width: 12px !important;
                height: 12px !important;

            }
        }
        
            
        
    }
    .itemArea{
        .itemName{
            font-size: 12px;
                input{
                    width: 12px !important;
                    height: 12px !important;
                }
            }
        }
    }
    
    
    
    



@media screen and (min-width:320px) and (max-width:799px){
        .itemName{
            p{
                display: flex;
                justify-content: center;
                
            }
        }
        div.itemArea{
            width: 97%;
            padding: 20px 0;
        }
        div.btn{
            width: 96.5%;
        }

}
@media screen and (min-width:800px) and (max-width:1366px){
    div.btn{
        width: 97%;
    }
}


    

.btn{
    display: flex;
    justify-content: center;
    background-color: $FB;
    width: 1403px;
    margin: 0 auto;
    #btn1,#btn2,#btn3,#btn4,#btn5{
        box-shadow:3px 3px 6px rgba(0,0,0,0.2);
        background-color: $C9;
        color: $ff;
        font-size: map-get($font, 22 );
        border: 1px solid $C9;
        border-radius: 10px;
                    &:focus{
                        outline: $FB;
                        border: 1px solid $FB;
                    }
    }
}
.wrap{
    background-image: url(../img/07/backgroud.png);
}

.context{
    
    margin-top: 108px;
    .productArea{
        
        width: 1403px;
        margin: 0 auto;
        // border: 1px solid goldenrod;

        
    }
}
///////////1200px以下時////////////////
@media screen and (max-width: 1402px ){
    .context .productArea{
        width: 100%;
    }

}

.width_2P{
    display: flex;
    flex-wrap: wrap;
    // width: 100%;
    // justify-content: space-between;
    justify-content: center;
    .product{
        margin-bottom: 20px;
        margin: 0 20px 20px 20px;
        font-size: 22px;
        width: 300px;
        // border: 1px solid $P;
        .pdtText{
            // width: 190px;//(190px)/2
            margin: 0 auto;
            padding: 20px;
            border-radius: 30px 30px 0 0;
            background-color: $FB;
            display: flex;
            justify-content: center;
            box-shadow:3px 3px 6px rgba(0,0,0,0.2);


            .pdtTime{
                font-size: 30px;
                margin: -5px 7px;
                color: red;
            }
        }

        

        .productBottom{
        box-shadow:3px 3px 6px rgba(0,0,0,0.2);
        display: flex;
        padding: 20px;
        background-color: $F3;
        border-radius: 0 0 30px 30px;
        position: relative;
            .carImg{
                padding: 12px;
                border-radius: 30px;
                background-color: #C9BE9F;
                position: absolute;
                bottom: 20px;
                left: 216px;
                border: 1px solid #C9BE9F;
                cursor: pointer;
                &:focus{
                    outline: none;
                }
            }
            .pdtExplanation{
                .pdtTime{
                    padding: 10px;
                    li{
                        &::before{
                            margin: 10px 0px 10px;
                        }
                    }
                }

                
            }
        }
    }
}

.productCenter{
    box-shadow:3px 3px 6px rgba(0,0,0,0.2);
    .pdtExplanation{
        padding: 15px 0px 15px 15px;
        display: flex;
        // border: 1px solid $cf;
        background-color:$F2;
        line-height: 1.5;
        
            .pdtTitle{
                margin-right: 20px;
                a{
                    text-decoration: none;
                    font-size: 25px;

                }
            }
            li{
                color: #838383;
                font-size: 20px;
            }
            #liM{
               margin: 10px 0;
               color: #838383; 
               font-size: 17px;
            }
        
    }
    .pdtImg{
        padding: 13px;
        background-color:$F2;
        width: 300px;
        cursor: pointer;
    }
}
.much{
    display: flex;
    flex-direction: column;
    // padding: 10px;
    .muchSpan{
            display: flex;
            flex-direction: column;
            font-size: 28px;
            color: $R;
            margin-bottom: 10px;
            

    }
    del{
        font-size: 20px;
    }
}
.pdtQuantity{
    button{
        background-color: #C9BE9F;
        border: 1px solid #C9BE9F;
        cursor: pointer;
        &:focus{
            outline: none;
            border: 1px solid #C9BE9F;
        }

    }
    button.left{
        margin-right: -7px;

    }
    button.right{
        margin-left: -7px;
    }
    input{
        outline: none;
    }
}

svg.pdtsvg{
    font-size: 10px;
    width: 10px;
    height: 10px;
}
    
    .pdtValue{
        width: 50px;
        // height: 32px;
        // border-left: none;
        // border-right: none;
        font-size: 16px;
        font-weight: 400;
        // -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        cursor: text;
        border-radius: 0;
        border: none;
        color: #C9BE9F;
        // -webkit-appearance: none;
    }
/////////////頁數/////////////////
.page-normal{
    display: flex;
    justify-content: center;
    padding-top: 114px;
    padding-bottom: 175px;
    .page-current,.page-prev{
        margin-right: 10px;
        font-size: 25px;
        color: #FBFFE0;
        border-radius: 50px;
        border: 3px solid #FBFFE0;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
    }
    a{
        margin: 0 10px;
        text-decoration: none;
        font-size: 25px;
        color: #FBFFE0;
        border-radius: 50px;
        border: 3px solid #FBFFE0;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        display: flex;
        justify-content: center;

    }
}
div.buttons{
    display: flex;
    justify-content: center;
    button{
        margin:20px 10px;

    }
}
///////////////footer////////////////
