<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>signUp_signIn</title>
  <link rel="stylesheet" href="../css/login.css">
  <link rel="stylesheet" href="../css/normalize.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <!-- axios套件 -->
  <script src="../node_modules/axios/dist/axios.min.js"></script>
  <!-- 信件發送 -->
  <script src="../js/03/smtp.js"></script>
</head>

<body>
  <component id="memheader" :is="headId" :prop="login" :sleprop="sellogin"></component>
  <main class="linWrap">

    <div class="signUpsignIn" id="signUpsignIn">

      <div class="signUp" id="signUp" :class="{signUpmm: movesignUpmm == false}">
        <h1 class="signUp">加入會員</h1>
        <div class="button">
          <button @click="activeButton('member')" :class="{adbtn: act == false}" class="buyBtn">我要買東西</button>
          <button @click="activeButton1('seller')" :class="{adbtn: act == true}" class="selBtn">我是賣家</button>
        </div>
        <component :is="content"></component>
      </div>

      <div class="signIn" id="signIn" :class="{signInmm: movesignInmm == false}">
        <h1 class="signIn">會員登入</h1>
        <form id="signIn" method="post" action="../PHP/Frontend/LoginR.php">
          <input type="text" :placeholder="loingacplace" v-model="loginachtml" name="account"
            :class="{loginredac:loginredac}" @click="clearredac">
          <input type="password" :placeholder="loingpaplace" v-model="loginpahtml" name="pwd"
            :class="{loginredpa:loginredpa}" @click="clearredpa">
          <div class="signforget">
            <div class="space"></div>
            <div class="button">
              <button class="subsignIn" :type="logintype" @click="loginfun">登入</button>
            </div>
            <div class="forget" style="opacity: 0;">
              <a>忘記密碼</a>
            </div>
          </div>
          <button class="changeTosignup" id="changeTosignup" type="button">註冊</button>
        </form>
      </div>

      <div class="overlayContainer" id="overlayContainer" :class="{overL: overlay == false}">
        <div class="container" :class="{overm: overlaycontainer == false}">
          <div class="signUpR" :class="{msignUpR: moveR == false}">
            <div class="signUpRborder">
              <h1>歡迎加入樂腹會員</h1>
              <h3>最完善的即期食品銷售平台</h3>
              <h3>精打細算</h3>
              <h3>加入愛護地球行列</h3>
              <button type="button" @click="signUpR">註冊</button>
            </div>
          </div>
          <div class="signInL" :class="{msignInL: moveL == false}">
            <div class="signInLborder">
              <h1>歡迎回來！</h1>
              <h3>登入會員享有更多服務</h3>
              <button type="button" @click="signInL">會員登入</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <component id="memfooter" :is="footerId"></component>


  <script src="../js/03/memheader.js"></script>
  <script src="../js/03/signUp_signIn.js"></script>
  <script src="../js/03/memfooter.js"></script>
</body>

</html>