<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love food|樂腹商城-結帳頁</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/store_04.css">
    <link rel="icon" type="image/png" href="../img/21/donation_description/map_leaf.png" />
    <!-- axios套件 -->
    <script src="../node_modules/axios/dist/axios.min.js"></script>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script src="../js/16/jquery.payform.min.js"></script>
</head>

<body>
    <!-- 標頭開始 -->
    <div id="all04">
        <header id="header">
            <!-- 漢堡選單開始 -->
            <input type="checkbox" id="hamburgerMenuToggle">
            <label for="hamburgerMenuToggle" id="hamburgerMenuButton">
                <span></span>
            </label>
            <nav id="navigationForMobile">
                <div id="searchBarForMobile">
                    <input type="text" placeholder="搜尋..." id="searchInputForMobile">
                </div>
                <ul>
                    <li>
                        <a href="./store_1.html" class="navGeneralAnchorsForMobile">樂腹商城</a>
                    </li>
                    <li>
                        <a :href="seljumpage" class="navGeneralAnchorsForMobile" @click="sellogIncheck">賣家專區</a>
                    </li>
                    <li>
                        <a href="./donation_description.html" class="navGeneralAnchorsForMobile">捐款說明</a>
                    </li>
                    <li>
                        <a href="./donate_now.html" id="navSepcialAnchorForMobile">
                            <div>
                                立即捐款
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- 漢堡選單結束 -->
            <div id="headerContentContainer">
                <a href="./index.html">
                    <img id="logo" src="../img/22/index/ch05_header_logo.png">
                </a>

                <!-- 導覽列開始 -->
                <nav id="navigationForPC">
                    <a href="./store_1.html" class="navGeneralAnchors">樂腹商城</a>
                    <a :href="seljumpage" class="navGeneralAnchors" :class="{selloginchangemem:sellogin}"
                        @click="sellogIncheck">賣家專區</a>
                    <a href="./donation_description.html" class="navGeneralAnchors">捐款說明</a>
                    <a href="./donate_now.html" id="navSepcialAnchor">
                        <div>
                            立即捐款
                        </div>
                    </a>
                    <a href="#0" id="navIcons01" class="navIcons" @click="longsearch" style="z-index: 99;">
                        <img src="../img/22/index/ch05_nav_search.png" alt="">
                        <input type="text" placeholder="搜尋..." id="searchInputForWeb" class="searchInputBlur"
                            style="height: 55px;">
                    </a>
                    <a href="./store_3.html" id="navIcons02" class="navIcons"
                        style="position: relative;margin-left: 0px;">
                        <div
                            style="width: 20px; height: 20px; border-radius: 50px; display: flex; justify-content: center; background-color: #ef8686; color: #ffffff; align-items: center; position: absolute; z-index: 1; right: -14%; font-size: 17px;top: -15%;">
                            {{itemQty}}</div>
                        <img src="../img/22/index/ch05_nav_cart.png" alt="">
                    </a>
                    <a :href="jumppage" id="navIcons03" class="navIcons" @click="logIncheck" @mouseover="onhover"
                        @mouseout="onout">
                        <img v-if="login" :src='Bigpicchange'>
                        <img v-else="login" src='../img/22/index/ch05_nav_member.png'>
                    </a>
                </nav>
                <nav id="subNavigationForMobile">
                    <a href="./store_3.html" id="navIcons04" class="navIconsForMobile"
                        style="position: relative;margin-left: 0px;">
                        <div
                            style="width: 20px; height: 20px; border-radius: 50px; display: flex; justify-content: center; background-color: #ef8686; color: #ffffff; align-items: center; position: absolute; z-index: 1; right: -14%; font-size: 17px;top: -20%;">
                            {{itemQty}}</div>
                        <img src="../img/22/index/ch05_nav_cart.png" alt="">
                    </a>
                    <a :href="jumppage" id="navIcons05" class="navIconsForMobile" @click="logIncheck"
                        @mouseover="onhover" @mouseout="onout">
                        <img v-if="login" :src='Bigpicchange'>
                        <img v-else="login" src='../img/22/index/ch05_nav_member.png'>
                    </a>
                </nav>
                <!-- 導覽列結束 -->
            </div>
        </header>
        <!-- 標頭結束 -->


        <article id="store_16">
            <!-- store_banner開始 -->
            <section class=banner_16>
                <div>
                    <img src="../img/16/storeApple.png">
                    <div>
                        <h1>樂腹商城</h1>
                        <p>Food waste, not in good taste.</p>
                    </div>
                </div>
            </section>
            <section class="breadcrumb_16">
                <div>
                    <span>樂腹商城</span>
                    <span>|</span>
                    <span>結帳</span>
                </div>
            </section>
            <!-- store_banner結束 -->
            <section class="cartbgc_16">
                <div class="cart_16">
                    <div class="item1">
                        <p>取貨資訊</p>
                    </div>
                    <section class="mainArea">
                        <template v-for="(item, index) in newStorage">
                            <ul class="list_h">
                                <li><img src="../img/16/sellerIcon.png"></li>
                                <li>{{item.seller}}</li>
                                <li>單價</li>
                                <li>數量</li>
                                <li>總計</li>
                            </ul>
                            <div class="content">
                                <div class="pickUpInfo">

                                    <div>
                                        <ul>
                                            <li><img src="../img/16/locationIcon2.png" class="locationIcon">取貨地點：
                                                <span>{{item.address}}{{mrtStation[index]}}<img
                                                        src="../img/16/Icon awesome-map-marker-alt.png"
                                                        class="mapIcon"></span>
                                            </li>
                                            <li><img src="../img/16/locationIcon.png"
                                                    class="locationIcon">取貨區間：{{item.pickUpTimeOrder}}
                                            </li>
                                        </ul>

                                        <div>
                                            <img src="../img/16/MRT.jpg" class="imgMRT" style="display:none;">
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <div class="orderItem">
                                    <div class="orderInfo" v-for="(detail, i) in item.goodList">
                                        <div class="imgBlock">
                                            <img :src="detail.img">
                                        </div>
                                        <div class="orderDetails">
                                            <ul>
                                                <li class="productName">{{detail.name}}</li>
                                                <li class="exp">有效期限：{{detail.exp}}</li>
                                            </ul>
                                        </div>
                                        <div class="orderDetails1">
                                            <ul class="orderTitle">
                                                <li>單價</li>
                                                <li>數量</li>
                                                <li>總計</li>
                                            </ul>
                                            <ul class="orders">
                                                <li class="price">${{detail.price}}</li>
                                                <li class="quantity">{{detail.qty}}</li>
                                                <li class="amount">${{detail.price * detail.qty}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </template>
                        <!-- 信用卡付款區 -->
                        <ul class="list_h">
                            <li><img src="../img/16/creditCardIcon.png"></li>
                            <li>信用卡付款</li>
                        </ul>
                        <div class="content">
                            <form action="" class="creditCardForm">
                                <div class="formGroup owner">
                                    <label for="owner">持卡人姓名：</label>
                                    <input type="text" class="formControl empty" id="owner">
                                </div>
                                <div class="creditInfo1" id="card-number-field">
                                    <label for="cardNumber">信用卡卡號：</label>
                                    <input type="text" name="creditCard" class="creditCard" maxlength="20"
                                        id="cardNumber">
                                </div>
                                <br>
                                <div class="creditInfo2">
                                    <div class="formGroup" id="expirationDate">
                                        <label>有 效 日 期：</label>
                                        <select class="expMonth">
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                        <label>月</label>
                                        <select class="expYear">
                                            <option value="20"> 2021</option>
                                            <option value="21"> 2022</option>
                                            <option value="22"> 2023</option>
                                            <option value="23"> 2024</option>
                                            <option value="24"> 2025</option>
                                            <option value="25"> 2026</option>
                                            <option value="26"> 2027</option>
                                            <option value="27"> 2028</option>
                                            <option value="28"> 2029</option>
                                            <option value="29"> 2030</option>
                                            <option value="30"> 2031</option>
                                        </select>
                                        <label>年</label>
                                    </div>



                                    <div id="securityCodeBlock" class="formGroup CVV">
                                        <label for="cvv" class="securityCode">背面末三碼：</label>
                                        <input type="text" name="securityCode" class="securityCode1 empty" maxlength="3"
                                            id="cvv">
                                    </div>
                                    <div class="formGroup" id="creditCards">
                                        <img src="../img/16/VISA_300x200.png" id="visa">
                                        <img src="../img/16/Master_300x200.png" id="mastercard">
                                        <img src="../img/16/AE_300x200.png" id="amex">
                                    </div>
                                </div>
                        </div>
                        </form>


                        <!-- 結帳總金額區 -->
                        <div class="item2">
                            <div>
                                <span d="pay-now">結帳總金額：</sapn>
                                    <span class="dollars">${{total}}</span>
                                    <button type="button" class="btn_modal" id="confirm-purchase"
                                        @click="checkOut">$結帳</button>

                                    <div class="overlay">
                                        <article>
                                            <div>
                                                <h1>訂購完成</h1>
                                            </div>
                                            <h2>Thank you for your order !</h2>
                                            <p v-for="(data,key) in newOrder">訂單{{key+1}}:
                                                <span>{{data.ORDER_ID}}</span>
                                            </p>
                                            <p>感謝您的支持與訂購！</p>
                                            <img :src="code" alt="">
                                            <button type="button" class="btn_modal_close">
                                                <a href="store_1.html">返回商城</a></button>
                                        </article>
                                    </div>
                            </div>
                        </div>
                    </section>


                </div>
            </section>
            <!-- footer開始 -->
            <footer>
                <div class="footerBlock">
                    <div>
                        <div class="footer_logo">
                            <a href="index.html"><img src="../img/16/footerLogo.png"></a>
                            <p class="copyright">&copyLOVE FOOD All right reserved</p>
                        </div>
                        <div class="info">
                            <a href="#"><img src="../img/16/footerLocationIcon.png">台北市南京東路三段215號5樓</a><br>
                            <a href="#"><img src="../img/16/footerPhoneIcon.png">02- 24708053</a><br>
                            <a href="#"><img src="../img/16/footerEmailIcon.png">service@lovefood.com</a>
                        </div>
                    </div>
                </div>
            </footer>
        </article>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.2/vue.js"></script>
<script src="../js/16/script.js"></script>
<script src="../js/16/store_04.js"></script>

</html>