<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>樂腹商城-購物車</title>

    <link rel="stylesheet" href="../css/store_03.css">
    <!-- axios套件 -->
    <script src="../node_modules/bootstrap-sass/assets/javascripts/bootstrap.js"></script>

</head>

<body>
    <!-- 標頭開始 -->
    <div id="all">
        <header id="header">
            <!-- 漢堡選單開始 -->
            <input type="checkbox" id="hamburgerMenuToggle">
            <label for="hamburgerMenuToggle" id="hamburgerMenuButton">
                <span></span>
            </label>
            <!-- 行動版行動導覽列開始 -->
            <nav id="navigationForMobile">
                <div id="searchBarForMobile">
                    <input type="text" placeholder="搜尋..." id="searchInputForMobile">
                </div>
                <ul>
                    <li>
                        <a href="./store_1.html" class="navGeneralAnchorsForMobile" id="shopPage">樂腹商城</a>
                    </li>
                    <li>
                        <a href="../frontend/sellerSignUp_SignIn.html" class="navGeneralAnchorsForMobile">賣家專區</a>
                    </li>
                    <li>
                        <a href="./donation_description.html" class="navGeneralAnchorsForMobile">捐款說明</a>
                    </li>
                    <li>
                        <a href="./donate_now.html" id="navSepcialAnchorForMobile">
                            <div>
                                立即捐款
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- 行動版導覽列結束 -->
            <!-- 漢堡選單結束 -->
            <div id="headerContentContainer">
                <a href="./index.html">
                    <img id="logo" src="../img/22/index/ch05_header_logo.png">
                </a>
                <!-- 桌機版導覽列開始 -->
                <nav id="navigationForPC">
                    <a href="./store_1.html" class="navGeneralAnchors" id="shopPageWeb">樂腹商城</a>
                    <a href="../frontend/sellerSignUp_SignIn.html" class="navGeneralAnchors">賣家專區</a>
                    <a href="./donation_description.html" class="navGeneralAnchors">捐款說明</a>
                    <a href="./donate_now.html" id="navSepcialAnchor">
                        <div>
                            立即捐款
                        </div>
                    </a>
                    <a href="#0" id="navIcons01" class="navIcons">
                        <img src="../img/22/index/ch05_nav_search.png" alt="">
                    </a>
                    <a href="#0" id="navIcons02" class="navIcons">
                        <img src="../img/22/index/ch05_nav_cart.png" alt="">
                    </a>
                    <a href="./memberInformation.html" id="navIcons03" class="navIcons">
                        <img src="../img/22/index/ch05_nav_member.png" alt="">
                    </a>
                </nav>
                <!-- 桌機版導覽列結束 -->
                <!-- 行動版次級導覽列開始 -->
                <nav id="subNavigationForMobile">
                    <a href="#0" id="navIcons04" class="navIconsForMobile">
                        <img src="../img/22/index/ch05_nav_cart.png" alt="">
                    </a>
                    <a href="./memberInformation.html" id="navIcons05" class="navIconsForMobile">
                        <img src="../img/22/index/ch05_nav_member.png" alt="">
                    </a>
                </nav>
                <!-- 行動版次級導覽列結束 -->
            </div>
        </header>
        <!-- 標頭結束 -->


        <article id="store_16">
            <!-- store_banner開始 -->
            <section class=banner_16>
                <div>
                    <img src="../img/16/storeApple.png">
                    <div>
                        <h1>樂腹商城</h1>
                        <p>Food waste, not in good taste.</p>
                    </div>
                </div>
            </section>
            <section class="breadcrumb_16">
                <div>
                    <span>樂腹商城</span>
                    <span>|</span>
                    <span>購物車</span>
                </div>
            </section>
            <!-- store_banner結束 -->
            <div class="cartbgc_16">
                <div class="cart_16">
                    <div class="item1">
                        <p>惜食清單</p>
                    </div>
                    <div class="mainArea">
                        <ul class="list_h">
                            <li><img src="../img/16/sellerIcon.png"></li>
                            <li>全家天山店</li>
                            <li>單價</li>
                            <li>數量</li>
                            <li>總計</li>
                        </ul>
                        <div class="content">
                            <div class="orderItem">
                                <template v-for="(item, index) in itemStorage">
                                    <div class="orderInfo">
                                        <div class="imgBlock">
                                            <img :src="item.img">
                                        </div>

                                        <div class="orderDetails">
                                            <ul>
                                                <li class="productName">{{item.name}}</li>
                                                <li class="exp">有效期限：{{item.exp}}</li>
                                            </ul>
                                        </div>

                                        <div class="orderDetails1">
                                            <ul class="orderTitle">
                                                <li>單價</li>
                                                <li>數量</li>
                                                <li>總計</li>
                                            </ul>
                                            <ul class="orders">
                                                <li class="price">{{item.price}}</li>
                                                <li class="quantity">
                                                    <div>
                                                        <button class="btn qtyReduce" @click="reduce(index)">-</button>
                                                        <input type="text" name="quantity" class="inputQty"
                                                            v-model="item.qty" />
                                                        <button class="btn qtyAdd" @click="add(index)">+</button>
                                                        <!-- v-model="item.qty" -->
                                                        <!-- :value="item.qty" @input="setQty"-->
                                                    </div>
                                                </li>
                                                <li class="amount">${{item.price * item.qty}}</li>
                                                <li><img src="../img/16/trashcanIcon.png" @click="del(index)"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <hr>
                                </template>

                                <div class="pickUpInfo">
                                    <p>取貨資訊</p>
                                    <div>
                                        <ul>
                                            <li><img src="../img/16/locationIcon.png" class="locationIcon">取貨區間：
                                                <!-- {{pickUpExp}} -->
                                            </li>
                                            <li><img src="../img/16/locationIcon2.png" class="locationIcon">取貨方式：
                                                <br>
                                                <input type="radio" name="pickUpLocation" @click="content='selfPickUp'"
                                                    checked>
                                                <span>到店自取</span>
                                                <!-- <div class="pickUpLocal">台北市 松山區 南京東路三段253號<img
                                                    src="../img/16/Icon awesome-map-marker-alt.png" class="mapIcon"></div> -->
                                                <br>
                                                <input type="radio" name="pickUpLocation" @click="content='showMap'">
                                                <span>捷運站取貨</span>
                                                <!-- <div class="mapIconW pickUpLocal">捷運南京復興站 8號出口<img
                                                    src="../img/16/Icon awesome-map-marker-alt.png" class="mapIcon">
                                            </div> -->
                                            </li>
                                            <li><img src="../img/16/locationIcon2.png" class="locationIcon">取貨地點：
                                                <!-- <component :is="content"></component> -->
                                                <div class="mapIconW pickUpLocal">捷運南京復興站 8號出口
                                                    <img src="../img/16/Icon awesome-map-marker-alt.png"
                                                        class="mapIcon">
                                                </div>
                                                <div class="MRT">
                                                    <div class="mapImg">
                                                        <img class="map_leaf" data-toggle="tooltip" title="捷運市政府站"
                                                            id="TaipeiCityHall"
                                                            src="../img/16/Icon awesome-map-marker-alt.png">
                                                        <img class="map_leaf" data-toggle="tooltip" title="捷運南京復興站"
                                                            id="Nanjing"
                                                            src="../img/16/Icon awesome-map-marker-alt.png">
                                                        <img class="map_leaf" data-toggle="tooltip" title="捷運忠孝復興站"
                                                            id="leaf_Neihu"
                                                            src="../img/16/Icon awesome-map-marker-alt.png">
                                                        <img class="map_leaf" data-toggle="tooltip" title="捷運大安站"
                                                            id="leafDaan"
                                                            src="../img/16/Icon awesome-map-marker-alt.png">
                                                        <img class="map_leaf" data-toggle="tooltip" title="捷運中山站"
                                                            id="leaf_Beitou"
                                                            src="../img/16/Icon awesome-map-marker-alt.png">
                                                        <img class="map_leaf" data-toggle="tooltip" title="捷運台北車站"
                                                            id="leaf_Beitou"
                                                            src="../img/16/Icon awesome-map-marker-alt.png">
                                                        <img class="map_leaf" data-toggle="tooltip" title="捷運西門站"
                                                            id="leaf_Beitou"
                                                            src="../img/16/Icon awesome-map-marker-alt.png">
                                                        <img class="map_leaf" data-toggle="tooltip" title="捷運中正紀念堂站"
                                                            id="leaf_Beitou"
                                                            src="../img/16/Icon awesome-map-marker-alt.png">
                                                        <img class="map_leaf" data-toggle="tooltip" title="捷運大橋頭站"
                                                            id="leaf_Beitou"
                                                            src="../img/16/Icon awesome-map-marker-alt.png">
                                                        <img class="map_leaf" data-toggle="tooltip" title="捷運民權西路站"
                                                            id="leaf_Beitou"
                                                            src="../img/16/Icon awesome-map-marker-alt.png">
                                                        <img class="map_leaf" data-toggle="tooltip" title="捷運石牌站"
                                                            id="leaf_Beitou"
                                                            src="../img/16/Icon awesome-map-marker-alt.png">
                                                        <img class="map_leaf" data-toggle="tooltip" title="捷運內湖站"
                                                            id="leaf_Beitou"
                                                            src="../img/16/Icon awesome-map-marker-alt.png">
                                                        <img class="map_leaf" data-toggle="tooltip" title="捷運南港站"
                                                            id="leaf_Beitou"
                                                            src="../img/16/Icon awesome-map-marker-alt.png">
                                                        <img class="map_leaf" data-toggle="tooltip" title="捷運古亭站"
                                                            id="leaf_Beitou"
                                                            src="../img/16/Icon awesome-map-marker-alt.png">
                                                        <img class="map_leaf" data-toggle="tooltip" title="捷運六張犁站"
                                                            id="leaf_Beitou"
                                                            src="../img/16/Icon awesome-map-marker-alt.png">
                                                    </div>
                                                    <img src="../img/16/MRT.jpg" class="imgMRT">

                                                    <!-- <ul id="MRT_Select">
                                                        <li><label for="">請選擇：</label></li>
                                                        <li class="mrtSelect" id="mrt1"><input type="checkbox">捷運市政府站</li>
                                                        <li class="mrtSelect" id="mrt2"><input type="checkbox">捷運南京復興站</li>
                                                        <li class="mrtSelect" id="mrt3"><input type="checkbox">捷運忠孝復興站</li>
                                                        <li class="mrtSelect" id="mrt4"><input type="checkbox">捷運大安站</li>
                                                        <li class="mrtSelect" id="mrt5"><input type="checkbox">捷運中山站</li>
                                                        <li class="mrtSelect" id="mrt6"><input type="checkbox">捷運台北車站</li>
                                                        <li class="mrtSelect" id="mrt7"><input type="checkbox">捷運西門站</li>
                                                        <li class="mrtSelect" id="mrt8"><input type="checkbox">捷運中正紀念堂站</li>
                                                        <li class="mrtSelect" id="mrt9"><input type="checkbox">捷運大橋頭站</li>
                                                        <li class="mrtSelect" id="mrt10"><input type="checkbox">捷運民權西路站</li>
                                                        <li class="mrtSelect" id="mrt11"><input type="checkbox">捷運石牌站</li>
                                                        <li class="mrtSelect" id="mrt12"><input type="checkbox">捷運內湖站</li>
                                                        <li class="mrtSelect" id="mrt13"><input type="checkbox">捷運南港站</li>
                                                        <li class="mrtSelect" id="mrt14"><input type="checkbox">捷運古亭站</li>
                                                        <li class="mrtSelect" id="mrt15"><input type="checkbox">捷運六張犁站</li>
                                                     </ul> -->
                                                </div>
                                            </li>
                                    </div>
                                </div>

                                <hr>
                                <div class="orderCount">
                                    <p>單筆訂單金額：${{total}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart_16FinalCount">
                        <div class="cart_16FinalCount_Main">
                            <div class="keepShop">
                                <a href="store_1.html"><img src="../img/16/backArrow.png">繼續購物</a>
                            </div>
                            <div class="pointsDetails">
                                <img src="../img/16/pointsIcon.png">
                                <div>
                                    <!-- <label>您的點數尚餘：<span v-if="membersPoints - inputValue >= 0">{{membersPoints -
                                            inputValue}}點</span><span v-else-if="membersPoints - inputValue < 0"
                                            style="color: red">折抵超過額度！</span>
                                    </label> -->
                                    <label>您的點數尚餘：<span>{{membersPoints - inputValue}}</span>點
                                    </label>

                                    <br>
                                    <span>
                                        <label for="points">使用</label>
                                        <input type="number" name="discount" min="0" max="">
                                        <label for="">點</label>
                                    </span>
                                    <a href="#">
                                        <button class="pointsDiscount" @click="discountAllPoints">全部扺用</button>
                                    </a>
                                    <p>註：一點為一元</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="item2">
                        <div>
                            <span>結帳總金額：</sapn>
                                <span class="dollars">${{total}}</span>
                                <button type="submit" v-if="membersPoints - inputValue >= 0"><a
                                        href="./store_4.html">$結帳</a></button>
                                <button type="submit" v-else disabled .prevent>$結帳</button>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <div class="footerBlock">
                    <div>
                        <div class="footer_logo">
                            <a href="index.html"><img src="../img/16/footerLogo.png"></a>
                            <p class="copyright">&copy LOVE FOOD All right reserved</p>
                        </div>
                        <div class="info">
                            <a href="#"><img src="../img/16/footerLocationIcon.png">台北市南京東路三段215號5樓</a><br>
                            <a href="#"><img src="../img/16/footerPhoneIcon.png">02-24708053</a><br>
                            <a href="#"><img src="../img/16/footerEmailIcon.png">service@lovefood.com</a>
                        </div>
                    </div>
                </div>
            </footer>
        </article>
    </div>
    <!-- <script src="../js/16/store_03.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.2/vue.js"></script>
    <script src="../js/16/vue_16.js"></script>
    <script src="../node_modules/axios/dist/axios.min.js"></script>


</body>
<!-- header vue -->
<script>
    const header = new Vue({
        el: '#header',
        data: {
            // 一般會員 href
            jumppage: '',
            // 賣家會員 href
            seljumpage: '',
            // 賣家會員class
            selloginchangemem: '',
            // 會員大頭貼
            Bigpicchange: "",
            // 判斷一般會員是否登入
            login: '',
            // 判斷賣家會員是否登入
            sellogin: '',
        },
        methods: {
            // 點擊判斷是否有登入會員，如果有登入就跳入會員中心，如果沒有登入，就進入登入註冊頁面
            logIncheck() {
                if (checkdata != '') {
                    if (checkdata.substr(0, 2) == 'MB') {
                        this.jumppage = './memberInformation.html';
                    } else if ((checkdata.substr(0, 2) == 'SP')) {
                        alert('尚未登入會員，請登入會員');
                        this.jumppage = './signUp_signIn.html';
                    }
                } else {
                    alert('尚未登入會員，請登入會員');
                    this.jumppage = './signUp_signIn.html';
                }
            },
            // 點擊判斷是否有登入賣家會員，如果有登入就跳入賣家中心，如果沒有登入，就進入登入註冊頁面
            sellogIncheck() {
                if (checkdata != '') {
                    if (checkdata.substr(0, 2) == 'MB') {
                        alert('尚未登入會員，請登入賣家會員');
                        this.seljumpage = './sellerSignUp_SignIn.html';
                    } else if ((checkdata.substr(0, 2) == 'SP')) {
                        this.seljumpage = '../backend/backendIndex.html';
                        this.selloginchangemem = true;
                    }
                } else {
                    alert('尚未登入會員，請登入會員');
                    this.seljumpage = './sellerSignUp_SignIn.html';
                }
            },
            // 判斷是否有會員登入及是哪一種會員
            // 看看是一般會員或是賣家會員
            checklogin() {
                axios.post('../PHP/Frontend/sessionR.php').then(res => {
                    // console.log(res);
                    // 賣家或是買家ID
                    checkdata = res.data;
                    // console.log(checkdata.substr(0, 2));
                    // alert(checkdata);
                    if (checkdata != '') {
                        // 判斷是賣家會員使"賣家專區"變色
                        if ((checkdata.substr(0, 2) == 'SP')) {
                            // console.log(checkdata.substr(0, 2));
                            this.sellogin = true;
                            // console.log(this.sellogin);
                        } else {
                            this.sellogin = false;
                            // console.log(this.sellogin);
                        }
                        // 判斷是一般會員使"會員"變色
                        if ((checkdata.substr(0, 2) == 'MB')) {
                            this.login = true;
                        } else {
                            this.login = false;
                        }
                    }
                });
            },
            // 大頭貼切換假如沒大頭貼就用預設如果有就切換
            Bitpicupdate() {
                // 撈圖片
                axios.post('../PHP/Frontend/appearImg.php').then(res => {
                    data = res.data
                    // console.log(data);
                    if (data != "") {
                        // atob函数用来解碼一个已经被base-64编碼過的數據
                        // 如果在PHP有base64_decode就不用atob
                        // this.Bigpicchange = atob(data);
                        $('#navIcons03 img').attr('src', atob(data));
                        $('#navIcons05 img').attr('src', atob(data));
                    }
                });
            },
            // hover取到圖片
            onhover() {
                // 撈圖片
                axios.post('../PHP/Frontend/appearImg.php').then(res => {
                    data = res.data
                    // console.log(data);
                    if (data != "") {
                        // atob函数用来解碼一个已经被base-64编碼過的數據
                        // 如果在PHP有base64_decode就不用atob
                        // this.Bigpicchange = atob(data);
                        // console.log(this.Bigpicchange);
                        $('#navIcons03 img').attr('src', atob(data));
                        $('#navIcons05 img').attr('src', atob(data));
                    }
                });
            },
            // leave回到原狀
            onout() {
                // 撈圖片
                axios.post('../PHP/Frontend/appearImg.php').then(res => {
                    data = res.data
                    // console.log(data);
                    if (data != "") {
                        // atob函数用来解碼一个已经被base-64编碼過的數據
                        // 如果在PHP有base64_decode就不用atob
                        // this.Bigpicchange = atob(data);
                        // console.log(this.Bigpicchange);
                        $('#navIcons03 img').attr('src', atob(data));
                        $('#navIcons05 img').attr('src', atob(data));
                    }
                });
            },

        },
        mounted() {
            // 看看是一般會員或是賣家會員
            this.checklogin();
            // 大頭貼切換假如沒大頭貼就用預設如果有就切換
            this.Bitpicupdate();
        },
        updated() {
            // 看看是一般會員或是賣家會員
            this.checklogin();
            // 大頭貼切換假如沒大頭貼就用預設如果有就切換
            this.Bitpicupdate();
        },
    });
</script>

</html>