<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>樂腹商城-結帳頁</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- <link rel="stylesheet" href="../css/reset/reset.css"> -->
    <link rel="stylesheet" href="../css/store_04.css">
    <!-- <script src="../js/16/store_04.js"></script> -->
    <script src="../node_modules/vue/dist/vue.js"></script>
    <!-- axios套件 -->
    <!-- <script src="../node_modules/axios/dist/axios.min.js"></script> -->
</head>

<body>
    <!-- 標頭開始 -->
    <header id="header">
        <!-- 漢堡選單開始 -->
        <input type="checkbox" id="hamburgerMenuToggle">
        <label for="hamburgerMenuToggle" id="hamburgerMenuButton">
            <span></span>
        </label>
        <nav id="navigationForMobile">
            <div id="searchBarForMobile">
                <input type="text" placeholder="搜尋..." id="searchInputForMobile">
            </div>
            <ul>
                <li>
                    <a href="./store_1.html" class="navGeneralAnchorsForMobile">樂腹商城</a>
                </li>
                <li>
                    <a :href="seljumpage" class="navGeneralAnchorsForMobile" @click="sellogIncheck">賣家專區</a>
                </li>
                <li>
                    <a href="./donation_description.html" class="navGeneralAnchorsForMobile">捐款說明</a>
                </li>
                <li>
                    <a href="./donate_now.html" id="navSepcialAnchorForMobile">
                        <div>
                            立即捐款
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- 漢堡選單結束 -->
        <div id="headerContentContainer">
            <a href="./index.html">
                <img id="logo" src="../img/22/index/ch05_header_logo.png">
            </a>

            <!-- 導覽列開始 -->
            <nav id="navigationForPC">
                <a href="./store_1.html" class="navGeneralAnchors">樂腹商城</a>
                <a :href="seljumpage" class="navGeneralAnchors" :class="{selloginchangemem:sellogin}"
                    @click="sellogIncheck">賣家專區</a>
                <a href="./donation_description.html" class="navGeneralAnchors">捐款說明</a>
                <a href="./donate_now.html" id="navSepcialAnchor">
                    <div>
                        立即捐款
                    </div>
                </a>
                <a href="#0" id="navIcons01" class="navIcons">
                    <img src="../img/22/index/ch05_nav_search.png" alt="">
                </a>
                <a href="#0" id="navIcons02" class="navIcons">
                    <img src="../img/22/index/ch05_nav_cart.png" alt="">
                </a>
                <a :href="jumppage" id="navIcons03" class="navIcons" @click="logIncheck" @mouseover="onhover"
                    @mouseout="onout">
                    <img v-if="login" :src='Bigpicchange'>
                    <img v-else="login" src='../img/22/index/ch05_nav_member.png'>
                </a>
            </nav>
            <nav id="subNavigationForMobile">
                <a href="#0" id="navIcons04" class="navIconsForMobile">
                    <img src="../img/22/index/ch05_nav_cart.png" alt="">
                </a>
                <a :href="jumppage" id="navIcons05" class="navIconsForMobile" @click="logIncheck" @mouseover="onhover"
                    @mouseout="onout">
                    <img v-if="login" :src='Bigpicchange'>
                    <img v-else="login" src='../img/22/index/ch05_nav_member.png'>
                </a>
            </nav>
            <!-- 導覽列結束 -->
        </div>
    </header>
    <!-- 標頭結束 -->


    <article id="store_16">
        <!-- store_banner開始 -->
        <section class=banner_16>
            <div>
                <img src="../img/16/storeApple.png">
                <div>
                    <h1>樂腹商城</h1>
                    <p>Food waste, not in good taste.</p>
                </div>
            </div>
        </section>
        <section class="breadcrumb_16">
            <div>
                <span>樂腹商城</span>
                <span>|</span>
                <span>結帳</span>
            </div>
        </section>
        <!-- store_banner結束 -->
        <section class="cartbgc_16">
            <div class="cart_16">
                <div class="item1">
                    <p>取貨資訊</p>
                </div>
                <section class="mainArea">
                    <ul class="list_h">
                        <li><img src="../img/16/sellerIcon.png"></li>
                        <li>全家天山店</li>
                        <li>單價</li>
                        <li>數量</li>
                        <li>總計</li>
                    </ul>
                    <div class="content">
                        <div class="pickUpInfo">

                            <div>
                                <ul>
                                    <li><img src="../img/16/locationIcon2.png" class="locationIcon">取貨地點：
                                        <span>南京復興捷運站 8號出口<img src="../img/16/Icon awesome-map-marker-alt.png"
                                                class="mapIcon"></span>
                                    </li>
                                    <li><img src="../img/16/locationIcon.png" class="locationIcon">取貨區間：2020/10/20
                                        18:00~21:00</li>
                                </ul>

                                <div>
                                    <img src="../img/16/MRT.jpg" class="imgMRT" style="display:none;">
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="orderItem">
                            <div class="orderInfo">
                                <div class="imgBlock">
                                    <img src="../img/16/foods/bread_145.png">
                                </div>
                                <div class="orderDetails">
                                    <ul>
                                        <li class="productName">日式紅豆銅鑼燒</li>
                                        <li class="exp">有效期限：2020年10月20日 23:59</li>
                                    </ul>
                                </div>
                                <div class="orderDetails1">
                                    <ul class="orderTitle">
                                        <li>單價</li>
                                        <li>數量</li>
                                        <li>總計</li>
                                    </ul>
                                    <ul class="orders">
                                        <li class="price">$23</li>
                                        <li class="quantity">4</li>
                                        <li class="amount">$92</li>
                                    </ul>
                                </div>
                            </div>
                            <hr>
                            <div class="orderInfo">
                                <div class="imgBlock">
                                    <img src="../img/16/foods/rice.png">
                                </div>
                                <div class="orderDetails">
                                    <ul>
                                        <li class="productName">鹽烤松阪豬</li>
                                        <li class="exp">有效期限：2020年10月20日 23:59</li>
                                    </ul>
                                </div>
                                <div class="orderDetails1">
                                    <ul class="orderTitle">
                                        <li>單價</li>
                                        <li>數量</li>
                                        <li>總計</li>
                                    </ul>
                                    <ul class="orders">
                                        <li class="price">$24</li>
                                        <li class="quantity">3</li>
                                        <li class="amount">$72</li>
                                    </ul>
                                </div>
                            </div>

                            <hr>

                            <div class="orderCount">
                                <p>單筆訂單金額：$164元</p>
                            </div>

                        </div>

                    </div>
                    <!-- 信用卡付款區 -->
                    <!-- <ul class="list_h">
                        <li><img src="../img/16/creditCardIcon.png"></li>
                        <li>信用卡付款</li>
                    </ul>
                    <div class="content">
                        <form action="" class="creditCardForm">
                            <div class="form-group owner">
                                <label for="owner">持卡人：</label>
                                <input type="text" class="form-control" id="owner" placeholder="與信用卡簽名相同">
                            </div>
                            <div class="creditInfo1" id="card-number-field">
                                <label for="creditCard">信用卡號：</label>
                                <div id="creditCardRwd cardNumber">
                                    <input type="text" name="creditCard" class="creditCard" maxlength="4">－<input
                                        type="text" name="creditCard" class="creditCard" maxlength="4">－<input
                                        type="text" name="creditCard" class="creditCard" maxlength="4">－<input
                                        type="text" name="creditCard" class="creditCard" maxlength="4">
                                </div>
                            </div>
                            <br>
                            <div class="creditInfo2">
                                <div class="formGroup" id="expirationDate">
                                    <label>有效日期：</label>
                                    <select class="expMonth">
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                    <label>月</label>
                                    <select class="expYear">
                                        <option value="20"> 2020</option>
                                        <option value="21"> 2021</option>
                                        <option value="22"> 2022</option>
                                        <option value="23"> 2023</option>
                                        <option value="24"> 2024</option>
                                        <option value="25"> 2025</option>
                                        <option value="26"> 2026</option>
                                        <option value="27"> 2027</option>
                                        <option value="28"> 2028</option>
                                        <option value="29"> 2029</option>
                                        <option value="30"> 2030</option>
                                    </select>
                                    <label>年</label>
                                </div>


                                <div id="securityCodeBlock CVV">
                                    <label for="cvv" class="securityCode">背面末三碼：</label>
                                    <input type="text" name="securityCode" class="securityCode1 form-control"
                                        maxlength="3" id="cvv">
                                </div>
                                <div class="formGroup" id="creditCards">
                                    <img src="../img/16/VISA_300x200.png" id="visa">
                                    <img src="../img/16/Master_300x200.png" id="mastercard">
                                    <img src="../img/16/JCB_300x200.png" id="amex">
                                </div>
                            </div>
                    </div>
                    </form> -->

                    <div class="creditCardForm">

                        <div class="payment">
                            <form>
                                <div class="form-group owner">
                                    <label for="owner">持卡人：</label>
                                    <input type="text" class="form-control" id="owner">
                                </div>
                                <div class="form-group CVV">
                                    <label for="cvv">驗證碼</label>
                                    <input type="text" class="form-control" id="cvv">
                                </div>
                                <div class="form-group" id="card-number-field">
                                    <label for="cardNumber">信用卡卡號</label>
                                    <input type="text" class="form-control" id="cardNumber">
                                </div>
                                <div class="form-group" id="expiration-date">
                                    <label>有效期限</label>
                                    <select>
                                        <option value="01">January</option>
                                        <option value="02">February </option>
                                        <option value="03">March</option>
                                        <option value="04">April</option>
                                        <option value="05">May</option>
                                        <option value="06">June</option>
                                        <option value="07">July</option>
                                        <option value="08">August</option>
                                        <option value="09">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                    <select>
                                        <option value="16"> 2016</option>
                                        <option value="17"> 2017</option>
                                        <option value="18"> 2018</option>
                                        <option value="19"> 2019</option>
                                        <option value="20"> 2020</option>
                                        <option value="21"> 2021</option>
                                    </select>
                                </div>
                                <div class="form-group" id="credit_cards">
                                    <img src="../img/16/VISA_300x200.png" id="visa">
                                    <img src="../img/16/Master_300x200.png" id="mastercard">
                                    <img src="../img/16/JCB_300x200.png" id="amex">
                                </div>
                                <!-- <div class="form-group" id="pay-now">
                                    <button type="submit" class="btn btn-default" id="confirm-purchase">Confirm</button>
                                </div> -->
                            </form>
                        </div>
                    </div>


                    <!-- 結帳總金額區 -->
                    <div class="item2">
                        <div id="pay-now">
                            <span>結帳總金額：</sapn>
                                <span class="dollars">$182元</span>
                                <button type="button" class="btn_modal" id="confirm-purchase">$結帳</button>

                                <div class="overlay">
                                    <article>
                                        <div>
                                            <h1>訂購完成</h1>
                                        </div>
                                        <h2>Thank you for your order !</h2>
                                        <p>訂單編號：ORD2020110101</p>
                                        <p>感謝您的支持與訂購！我們將盡快處理您的訂單。</p>
                                        <button type="button" class="btn_modal_close">
                                            <a href="store_1.html">返回商城</a></button>
                                    </article>
                                </div>
                        </div>
                    </div>
                </section>


            </div>
        </section>
        <!-- footer開始 -->
        <footer>
            <div class="footerBlock">
                <div>
                    <div class="footer_logo">
                        <a href="index.html"><img src="../img/16/footerLogo.png"></a>
                        <p class="copyright">&copyLOVE FOOD All right reserved</p>
                    </div>
                    <div class="info">
                        <a href="#"><img src="../img/16/footerLocationIcon.png">台北市南京東路三段215號5樓</a><br>
                        <a href="#"><img src="../img/16/footerPhoneIcon.png">02- 24708053</a><br>
                        <a href="#"><img src="../img/16/footerEmailIcon.png">service@lovefood.com</a>
                    </div>
                </div>
            </div>
        </footer>


    </article>
</body>
<!-- header vue -->
<script src="../js/16/jquery.payform.min.js"></script>
<script src="../js/16/script.js"></script>
<script>
    // new Vue({
    //     el: 'header',
    //     data: {
    //         // 一般會員 href
    //         jumppage: '',
    //         // 賣家會員 href
    //         seljumpage: '',
    //         // 賣家會員class
    //         selloginchangemem: '',
    //         // 會員大頭貼
    //         Bigpicchange: "",
    //         // 判斷一般會員是否登入
    //         login: '',
    //         // 判斷賣家會員是否登入
    //         sellogin: '',
    //     },
    //     methods: {
            // 點擊判斷是否有登入會員，如果有登入就跳入會員中心，如果沒有登入，就進入登入註冊頁面
            // logIncheck() {
            //     if (checkdata != '') {
            //         if (checkdata.substr(0, 2) == 'MB') {
            //             this.jumppage = './memberInformation.html';
            //         } else if ((checkdata.substr(0, 2) == 'SP')) {
            //             alert('尚未登入會員，請登入會員');
            //             this.jumppage = './signUp_signIn.html';
            //         }
            //     } else {
            //         alert('尚未登入會員，請登入會員');
            //         this.jumppage = './signUp_signIn.html';
            //     }
            // },
            // 點擊判斷是否有登入賣家會員，如果有登入就跳入賣家中心，如果沒有登入，就進入登入註冊頁面
            // sellogIncheck() {
            //     if (checkdata != '') {
            //         if (checkdata.substr(0, 2) == 'MB') {
            //             alert('尚未登入會員，請登入賣家會員');
            //             this.seljumpage = './sellerSignUp_SignIn.html';
            //         } else if ((checkdata.substr(0, 2) == 'SP')) {
            //             this.seljumpage = '../backend/backendIndex.html';
            //             this.selloginchangemem = true;
            //         }
            //     } else {
            //         alert('尚未登入會員，請登入會員');
            //         this.seljumpage = './sellerSignUp_SignIn.html';
            //     }
            // },
            // 判斷是否有會員登入及是哪一種會員
            // 看看是一般會員或是賣家會員
            // checklogin() {
            //     axios.post('../PHP/Frontend/sessionR.php').then(res => {
            //         // console.log(res);
            //         // 賣家或是買家ID
            //         checkdata = res.data;
            //         // console.log(checkdata.substr(0, 2));
            //         // alert(checkdata);
            //         if (checkdata != '') {
            //             // 判斷是賣家會員使"賣家專區"變色
            //             if ((checkdata.substr(0, 2) == 'SP')) {
            //                 // console.log(checkdata.substr(0, 2));
            //                 this.sellogin = true;
            //                 // console.log(this.sellogin);
            //             } else {
            //                 this.sellogin = false;
            //                 // console.log(this.sellogin);
            //             }
            //             // 判斷是一般會員使"會員"變色
            //             if ((checkdata.substr(0, 2) == 'MB')) {
            //                 this.login = true;
            //             } else {
            //                 this.login = false;
            //             }
            //         }
            //     });
            // },
            // 大頭貼切換假如沒大頭貼就用預設如果有就切換
            // Bitpicupdate() {
            //     // 撈圖片
            //     axios.post('../PHP/Frontend/appearImg.php').then(res => {
            //         data = res.data
            //         // console.log(data);
            //         if (data != "") {
            //             // atob函数用来解碼一个已经被base-64编碼過的數據
            //             // 如果在PHP有base64_decode就不用atob
            //             // this.Bigpicchange = atob(data);
            //             $('#navIcons03 img').attr('src', atob(data));
            //             $('#navIcons05 img').attr('src', atob(data));
            //         }
            //     });
            // },
            // hover取到圖片
            // onhover() {
            //     // 撈圖片
            //     axios.post('../PHP/Frontend/appearImg.php').then(res => {
            //         data = res.data
            //         // console.log(data);
            //         if (data != "") {
            //             // atob函数用来解碼一个已经被base-64编碼過的數據
            //             // 如果在PHP有base64_decode就不用atob
            //             // this.Bigpicchange = atob(data);
            //             // console.log(this.Bigpicchange);
            //             $('#navIcons03 img').attr('src', atob(data));
            //             $('#navIcons05 img').attr('src', atob(data));
            //         }
            //     });
            // },
            // leave回到原狀
            //     onout() {
            //         // 撈圖片
            //         axios.post('../PHP/Frontend/appearImg.php').then(res => {
            //             data = res.data
            //             // console.log(data);
            //             if (data != "") {
            //                 // atob函数用来解碼一个已经被base-64编碼過的數據
            //                 // 如果在PHP有base64_decode就不用atob
            //                 // this.Bigpicchange = atob(data);
            //                 // console.log(this.Bigpicchange);
            //                 $('#navIcons03 img').attr('src', atob(data));
            //                 $('#navIcons05 img').attr('src', atob(data));
            //             }
            //         });
            //     },

            // },
            // mounted() {
                // 看看是一般會員或是賣家會員
                // this.checklogin();
                // 大頭貼切換假如沒大頭貼就用預設如果有就切換
                // this.Bitpicupdate();
            // },
            // updated() {
                // 看看是一般會員或是賣家會員
                // this.checklogin();
                // 大頭貼切換假如沒大頭貼就用預設如果有就切換
                // this.Bitpicupdate();
        //     },
        // });
</script>

</html>