@mixin box-sizing(){
    box-sizing: border-box;
}

@mixin flex_Fa {
    display: flex;
    flex-wrap: wrap;
    justify-content: $cntr;
    width: map-get($Wth , 100 );
    @content;
}

@mixin B {
    border: $bd4 solid $R;
    @content;
}

@mixin rwd($breakpoint) {
    @if $breakpoint=="desktop" {
        @media all and (min-width: $desktop) {
            @content;
        }
    }
    @else if $breakpoint=="laptop" {
        @media all and (min-width: $laptop ) and (max-width: $desktop - 1) {
            @content;
        }
    }
    @else if $breakpoint=="pad" {
        @media all and (min-width: $pad ) and (max-width: $laptop - 1) {
            @content;
        }
    }
    @else if $breakpoint=="bigPhone" {
        @media all and (min-width: $bigPhone ) and (max-width: $pad - 1) {
            @content;
        }
    }
    @else if $breakpoint=="mediumPhone" {
        @media all and (min-width: $mediumPhone ) and (max-width: $bigPhone - 1) {
            @content;
        }
    }
    @else if $breakpoint=="smallPhone" {
        @media all and (min-width: $smallPhone ) and (max-width: $mediumPhone - 1) {
            @content;
        }
    }
}



@mixin pseudo($i) {
        content:"";
        background-repeat: no-repeat;
        width:30px;
        height:30px;
        top:3px;
        display: inline-block;
        position: relative;
        top: 4px;
        right: 3px;
        
    @if $i==1{
        mask-image: url('../../img/23/member.svg');
    }@else if $i==2{
        background-image: url('../../img/23/document-tasks.png');
    }@else if $i==3{
        background-image: url('../../img/23/bag.png');
    }@else if $i==4{
        background-image: url('../../img/23/diamond.png');
    }@else if $i==5{
        background-image: url('../../img/23/open-folder.png');
    }
}
