@mixin box-sizing(){
    box-sizing: border-box;
}

@mixin flex_Fa {
    display: flex;
    flex-wrap: wrap;
    justify-content: $cntr;
    width: map-get($Wth , 100 );
    @content;
}

@mixin B {
    border: $bd4 solid $R;
    @content;
}

// RWD六斷點（舊）
@mixin rwd($breakpoint) {
    @if $breakpoint=="desktop" {
        @media all and (min-width: $desktop) {
            @content;
        }
    }
    @else if $breakpoint=="laptop" {
        @media all and (min-width: $laptop ) and (max-width: $desktop - 1) {
            @content;
        }
    }
    @else if $breakpoint=="pad" {
        @media all and (min-width: $pad ) and (max-width: $laptop - 1) {
            @content;
        }
    }
    @else if $breakpoint=="bigPhone" {
        @media all and (min-width: $bigPhone ) and (max-width: $pad - 1) {
            @content;
        }
    }
    @else if $breakpoint=="mediumPhone" {
        @media all and (min-width: $mediumPhone ) and (max-width: $bigPhone - 1) {
            @content;
        }
    }
    @else if $breakpoint=="smallPhone" {
        @media all and (min-width: $smallPhone ) and (max-width: $mediumPhone - 1) {
            @content;
        }
    }
}

// RWD五斷點（新）
@mixin newRwd($breakpoint) {
    @if $breakpoint=="laptop" {
        @media all and (max-width: $desktop - 1) {
            @content;
        }
    }
    @else if $breakpoint=="pad" {
        @media all and(max-width: $laptop - 1) {
            @content;
        }
    }
    @else if $breakpoint=="bigPhone" {
        @media all and (max-width: $pad - 1) {
            @content;
        }
    }
    @else if $breakpoint=="mediumPhone" {
        @media all and (max-width: $bigPhone - 1) {
            @content;
        }
    }
    @else if $breakpoint=="smallPhone" {
        @media all and (min-width:$smallPhone - 1) and (max-width: $mediumPhone - 1) {
            @content;
        }
    }
}

//取size

@mixin get_size($height, $font){
    $padding: floor(($height - ($font * 1.4)) / 2);
    padding: 0 $padding;
    height: $height;
    font-size: $font;
}

//button
@mixin btn_xl{
@include get_size(56px, 32px);
}
@mixin btn_m{
@include get_size(44px, 16px);
}
@mixin btn_s{
@include get_size(36px, 14px);

}
@mixin btn_xs{
@include get_size(24px, 12px);
}
