<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOVEFOOD管理中心</title>
    <link rel="stylesheet" href="../css/backstage/backstageAll.css">
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body>
    <div class="containerFinance">
        <div class="navWrapper">
            <nav>
                <div class="navLeft">
                    <img src="../img/23/loveFood_logo1.png" alt="">
                    <h1>管理中心</h1>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="35.965" viewBox="0 0 36 35.965">
                    <path id="放大鏡"
                        d="M35.332,35.3a2.25,2.25,0,0,1-3.2,0l-6.96-6.961A15.7,15.7,0,0,1,9.633,30.217,15.521,15.521,0,0,1,1.248,21.85a15.659,15.659,0,0,1,0-12.252,15.684,15.684,0,0,1,3.357-5.01,15.885,15.885,0,0,1,5.027-3.34,15.618,15.618,0,0,1,12.235,0,16.036,16.036,0,0,1,5.027,3.34A15.588,15.588,0,0,1,30.252,9.6,15.388,15.388,0,0,1,31.5,15.715a15.339,15.339,0,0,1-3.129,9.422L35.332,32.1a2.25,2.25,0,0,1,0,3.2ZM15.75,4.5A11.214,11.214,0,0,0,4.5,15.733,11.2,11.2,0,0,0,15.75,26.965,11.214,11.214,0,0,0,27,15.732,11.195,11.195,0,0,0,15.75,4.5Z"
                        transform="translate(0 0)" fill="#887664" />
                </svg>
            </nav>
        </div>
        <div class="asideMainWrapper">
            <aside>
                <div>
                    <ul class="member">
                        <li>管理員</li>
                        <li>Name</li>
                    </ul>

                    <ul class="sideNav">
                        <a class="a-sideLink" href="backendIndex.html">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30.422" height="30.422"
                                    viewBox="0 0 30.422 30.422">
                                    <path id="Path_34" data-name="Path 34"
                                        d="M26.59,26.959C25.233,24.807,22.248,22.5,16.143,22.5S7.056,24.8,5.7,26.96a13.5,13.5,0,0,0,20.893,0Z"
                                        transform="translate(-0.932 -3.369)" fill="#897666" />
                                    <path id="Path_35" data-name="Path 35"
                                        d="M16.9,18.04A5.645,5.645,0,1,0,11.25,12.4,5.645,5.645,0,0,0,16.9,18.04Z"
                                        transform="translate(-1.684 -1.011)" fill="#897666" fill-rule="evenodd" />
                                    <path id="Path_36" data-name="Path 36"
                                        d="M15.211,1.9a13.31,13.31,0,1,0,13.31,13.31A13.31,13.31,0,0,0,15.211,1.9ZM0,15.211A15.211,15.211,0,1,1,15.211,30.422,15.211,15.211,0,0,1,0,15.211Z"
                                        fill="#897666" fill-rule="evenodd" />
                                </svg>
                                <li>會員管理</li>
                            </div>
                        </a>
                        <a class="a-sideLink" href="backendOrder.html">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="22.857" height="32"
                                    viewBox="0 0 22.857 32">
                                    <path id="Path_37" data-name="Path 37"
                                        d="M29.264,10.593l-8-8a1.04,1.04,0,0,0-.8-.343H9.036A2.286,2.286,0,0,0,6.75,4.536V31.964A2.286,2.286,0,0,0,9.036,34.25H27.321a2.286,2.286,0,0,0,2.286-2.286V11.393a1.04,1.04,0,0,0-.342-.8Zm-8.8-5.6,6.4,6.4h-6.4Zm6.857,26.971H9.036V4.536h9.143v6.857a2.286,2.286,0,0,0,2.286,2.286h6.857Z"
                                        transform="translate(-6.75 -2.25)" fill="#887664" />
                                    <path id="Path_38" data-name="Path 38"
                                        d="M16.469,23.47l-3.38-2.331L11.25,22.408l5.219,3.6,10.438-7.2-1.839-1.269Z"
                                        transform="translate(-7.65 -0.337)" fill="#887664" />
                                </svg>
                                <li>訂單管理</li>
                            </div>
                        </a>
                        <a class="a-sideLink" href="backendProduct.html">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30.422" height="30.422"
                                    viewBox="0 0 30.422 30.422">
                                    <path id="bag"
                                        d="M30.5,10.942H26.153v-.305A8.361,8.361,0,0,0,17.766,2.25h-.544a8.419,8.419,0,0,0-8.453,8.387v.305H4.423L2.25,32.672H32.672Zm-19.557-.305a6.257,6.257,0,0,1,6.281-6.214h.544a6.2,6.2,0,0,1,6.214,6.214v.305H10.942ZM4.681,30.5,6.372,13.115h2.4V15.58a2.173,2.173,0,1,0,2.173,0V13.115H23.98V15.58a2.173,2.173,0,1,0,2.173,0V13.115h2.4L30.248,30.5Z"
                                        transform="translate(-2.25 -2.25)" fill="#887664" />
                                </svg>
                                <li>商品管理</li>
                            </div>
                        </a>
                        <a class="a-sideLink" href="backendpoints.html">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="28.422" height="24.869"
                                    viewBox="0 0 28.422 24.869">
                                    <path id="diamond"
                                        d="M24.869,0l3.553,7.105H21.316ZM15.987,0h7.105L19.54,7.105ZM10.658,7.105,14.211,0l3.553,7.105ZM5.329,0h7.105L8.882,7.105ZM0,7.105,3.553,0,7.105,7.105ZM12.435,24.869,0,8.882H7.105ZM19.54,8.882,14.211,24.869,8.882,8.882Zm8.882,0L15.987,24.869,21.316,8.882Z"
                                        fill="#887664" />
                                </svg>
                                <li>點數管理</li>
                            </div>
                        </a>
                        <a class="a-sideLink" href="backendFinance.html">
                            <div class="currentPage">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28.422" height="28.422"
                                    viewBox="0 0 28.422 28.422">
                                    <path id="Icon_open-folder" data-name="Icon open-folder"
                                        d="M0,0V7.105H28.422V3.553H10.658V0ZM0,10.658V26.646a1.759,1.759,0,0,0,1.776,1.776H26.646a1.759,1.759,0,0,0,1.776-1.776V10.658Z"
                                        fill="#887664" />
                                </svg>
                                <li>財務管理</li>
                            </div>
                        </a>
                        <button class="btn-s btn-brown">登出</button>
                    </ul>
                </div>
            </aside>
            <main>
                <div id="financeDataFilterArea">
                    <div id="financeDataFilterBlock">
                        <div id="financeDataFilterTab01" class="financeDataFilterTab" @click="showTab = true"
                            :class="{'tabActive' : showTab === true}">
                            檢視銷售
                        </div>
                        <div id="financeDataFilterTab02" class="financeDataFilterTab" @click="showTab = false"
                            :class="{'tabActive' : showTab === false}">
                            檢視捐款</div>
                    </div>
                    <div id="financeFilterForSelling" class="financeFilter" v-show="showTab">
                        <div id="financeDateFilterBlock">
                            查詢時間
                            <input type="date">至
                            <input type="date">
                            <div id="supplierID">
                                賣家編號
                                <input type="text">
                            </div>
                        </div>
                        <div id="financeFilterDownload">下載：</div>
                        <a href="">
                            <div id="financeFilterButton">查詢</div>
                        </a>
                    </div>
                    <div id="financeFilterForDonation" class="financeFilter" v-show="!showTab">
                        <div id="donationSearchingBlock">
                            <div class="donationSearchingRow" id="donationSearchingTopRow">
                                <div>捐款編號<input type="text" name="DONATION_ID" class="form-control"></div>
                                <div>捐款姓名<input type="text" name="name" class=" form-control"></div>
                            </div>
                            <div class="donationSearchingRow" id="donationSearchingBottomRow">
                                <div>電子郵件<input type="text" name="email" class="form-control"></div>
                                <div>身分證字號／統編<input type="text" name="pID_tID" class="form-control"></div>
                            </div>
                        </div>
                        <!-- <div id="financeFilterDownload">下載：</div> -->
                        <div id="donationDateFilter">
                            <div>查詢區間</div>
                            <input type="date" name="dateStart" value="2016-01-01" id="queryDateStart">至
                            <input type="date" name="dateEnd" value="2020-12-31" id="queryDateEnd">
                            <a href="#0">
                                <div id="financeFilterButton" @click="query">查詢</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="financeDataArea">
                    <div id="financeShowSellingPage" v-show="showTab">
                        <div id="financeShowResultBlock">
                            <div class="financeShowResultRow">
                                查詢時間： 2020-10-21～2020-10-31
                            </div>
                            <div class="financeShowResultRow">
                                訂單筆數：<input type="text" class="financeSearchResult">筆
                            </div>
                            <div class="financeShowResultRow">
                                銷售總額：<input type="text" class="financeSearchResult">元
                            </div>
                        </div>
                        <div id="financeDiagram">
                            <img src="../img/22/backend/temp_diagram.png" alt="">
                        </div>
                    </div>
                    <div id="financeShowDonationPage" v-show="!showTab && showDetails">
                        <div id="donationDate">
                            查詢區間：【<span id="showDateStart">2016-01-01</span>】至【<span id="showDateEnd">2020-12-31</span>】
                        </div>
                        <div id="donationAmount">
                            捐款總額：<input type="text" :value="totalDonation" disabled>元
                        </div>
                        <table id="donationTable">
                            <tr id="donationTableHeader">
                                <th>序號</th>
                                <th>捐款編號</th>
                                <th>捐款姓名</th>
                                <th>捐款電郵</th>
                                <th>身分證字號／統編</th>
                                <th id="donationPlan">捐款類別</th>
                                <th>捐款金額</th>
                                <th>捐款時間</th>
                                <th>功能鍵</th>
                            </tr>
                            <tbody v-if="donationLog">
                                <tr v-for="(data,key) in donationLog">
                                    <td>{{key+1}}</td>
                                    <td>{{data["DONATION_ID"]}}</td>
                                    <td>{{data["DONATION_NAME"]}}</td>
                                    <td>{{data["DONATION_EMAIL"]}}</td>
                                    <td>{{data["DONATION_PERSONAL_ID_OR_TAX_ID"]}}</td>
                                    <td>{{data["DONATION_PLAN"]}}</td>
                                    <td>{{data["DONATION_AMOUNT"]}}</td>
                                    <td>{{data["DONATION_DATE"]}}</td>
                                    <td class="pointsDataActionBlock">
                                        <button type="submit" class="btn-sb btn-green" :data-id="data['DONATION_ID']"
                                            @click="showContent">詳情</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="pagination">
                            <a href="#0">＜</a>
                            <a href="#0">1</a>
                            <a href="#0">2</a>
                            <a href="#0">3</a>
                            <a href="#0">4</a>
                            <a href="#0">5</a>
                            <a href="#0">＞</a>
                            <a href="#0">最末頁</a>
                        </div>
                    </div>
                    <div id="financeShowDonationDetailsPage" v-show="!showTab && !showDetails"
                        v-for="data in donationDetals">
                        <button @click="backToPreviousPage">
                            回上頁
                        </button><br><br>
                        <h4>編輯【{{data["DONATION_ID"]}}】的捐款詳情：</h4><br>
                        <div id="DonationDetailsBlock">
                            <div>
                                捐款編號：<br><input type="text" :value="data['DONATION_ID']" name="selectedId_ED"
                                    disabled><br>
                                姓名／公司：<br><input type="text" :value="data['DONATION_NAME']" name="name_ED"><br>
                                國籍：<br><input type="text" :value="data['DONATION_NATIONALITY']"
                                    name="nationality_ED"><br>
                                身分證字號／統編（捐款人）：<br><input type="text" :value="data['DONATION_PERSONAL_ID_OR_TAX_ID']"
                                    name="pID_tID_ED"><br>
                                生日：<br><input type="date" :value="data['DONATION_BIRTHDAY']" name="birthday_ED"><br>
                                地址：<br><input type="text" :value="data['DONATION_ADDRESS']" name="address_ED"><br>
                                Email：<br><input type="text" :value="data['DONATION_EMAIL']" name="email_ED"><br>
                                性別：<br><input type="text" :value="data['DONATION_GENDER']" name="gender_ED"><br><br>
                            </div>
                            <div>
                                捐款類別：<br><input type="text" :value="data['DONATION_METHOD']" disabled><br>
                                捐款方式：<br><input type="text" :value="data['DONATION_PLAN']" disabled><br>
                                捐款金額：<br><input type="text" :value="data['DONATION_AMOUNT']" disabled><br>
                                捐款日期：<br><input type="text" :value="data['DONATION_DATE']" disabled><br><br>
                            </div>
                            <div>
                                收據抬頭：<br><input type="text" :value="data['DONATION_RECEIPT_TITLE']"
                                    name="receiptTitle_ED"><br>
                                身分證字號／統編（收據）：<br><input type="text"
                                    :value="data['DONATION_PERSONAL_ID_OR_TAX_ID_OF_RECEIPT']"
                                    name="receipt_pID_tID_ED"><br>
                                捐款收據寄發方式：<br><input type="text" :value="data['DONATION_DELIVERY_METHOD']"
                                    name="deliveryMethod_ED"><br><br>
                            </div>
                            <div>
                                備註：<br><textarea cols="20" rows="5" :value="data['DONATION_REMARKS']"
                                    name="remarks_ED"></textarea>
                            </div>
                        </div>
                        <button @click="updateDonationDetails">
                            確認修改
                        </button>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="../js/22/financeAjaxVue.js"></script>

</body>

</html>