@import'../../base/var';
@import'../../mixin/mixins';
// @import'../../base/reset';
@import "../../base/fonts";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "PingFang-TC-thin","NotoSansCJKtc-Thin","sans-serif";
    text-decoration: none;
    list-style: none;
}
// 標頭開始
#header{
    width: 100%;
    height: 123px;
    display: flex;
    position: fixed;
    background: transparent;
    z-index: 9;
    background-color: #D3E4C6;
    font-family: "PingFang-TC-thin","NotoSansCJKtc-Thin","sans-serif";

    @include newRwd("bigPhone"){
        width: 100%;
        height: 55px;
    }
    // 漢堡選單開始
    #hamburgerMenuToggle{
        opacity: 0;
        &:checked + #hamburgerMenuButton > span{
            transform: rotate(45deg);
            &::before{
                top: 0;
                transform: rotate(0deg);
            }
            &::after{
                top: 0;
                transform: rotate(90deg);
            }
        }
        &:checked ~ #navigationForMobile{
            left: 0;
        }
    }
    #hamburgerMenuButton{
        width: 45px;
        height: 35px;
        align-self: center;
        margin-left: 10px;
        position: relative;
        cursor: pointer;
        display: none;
        &:hover{
            opacity: 0.5;
            transform: scale(1.05);
            transition: all .3s;
        }
        
        @include newRwd("newSmallPhone"){
            margin-left: 5px;
            }
        span{
            display: block;
        }
        span, span::before, span::after{
            content: '';
            display: block;
            width: 40px;
            height: 3px;
            border-radius: 10px;
            position: absolute;
            transition-duration: .35s;
            background-color: #8F8770;
            @include newRwd("newSmallPhone"){
                width: 36px;
                height: 3px;
                }
            }
        span{
            top: 45%;
            
            &::before{
                content: '';
                top: -12px;
                
                @include newRwd("newSmallPhone"){
                    top: -10px;
                    }
            }
            &::after{
                content: '';
                top: 12px;
                
                @include newRwd("newSmallPhone"){
                    top: 10px;
                    }
            } 
        }
        @include newRwd("bigPhone"){
            display: block;
        }
    }
    // 水平滑動漢堡選單變色用父層開始
    .hamburgerMenuColorForCh01{
        span, span::before, span::after{
            background-color: #FDFBBA;
        }
    }
    .hamburgerMenuColorForCh0102{
        span, span::before, span::after{
            background-color: #946C1E;
        }
    }
    .hamburgerMenuColorForCh02{
        span, span::before, span::after{
            background-color: #FFFFFF;
        }
    }
    // 水平滑動漢堡選單變色用父層結束
    
    // 漢堡選單結束

    // 行動版導覽列開始
    #navigationForMobile{
        display: none;

        @include newRwd("bigPhone"){
            display: block;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 55px;
            left: -100%;
            background-color: #D3E4C6;
            opacity: 95%;
            transition-duration: .35s;
            #searchBarForMobile{
                width: 100%;
                height: 70px;
                background-color: #F2F0D7;
                display: flex;
                
                #searchInputForMobile{
                    width: 80%;
                    height: 60%;
                    border: #8f7086;
                    border-radius: 20px;
                    background-color: #FBFFE0;
                    display: block;
                    margin: auto;
                    align-self: center;
                    outline: none;
                    padding-left: 20px;
                    font-size: 20px;
                }

                
            }
            li{
                list-style: none;
                text-align: center;
                font-size: 24px;
                margin: 30px 0px 0px 0px;
                

                //當頁底線(RWD)
                #shopPage{
                    padding: 3px;
                    border-bottom: 2px solid #959076;
                }
                
                a{
                    color: #515151;
                    &:hover{
                        color: #D6CAAA;
                        transition: all .3s;
                        transform: scale(1.05);
                        text-decoration: none;
                    }
                    &:focus{
                        text-decoration: none;
                    }
                }
                #navSepcialAnchorForMobile{
                    div{
                        width: 119px;
                        height: 40px;
                        border-radius: 3px;
                        line-height: 40px;
                        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
                        margin: auto;
                        background-color: #E8CE67;
                        &:hover{
                            background-color: #fde16f;
                            transition: all .3s;
                            color: #515151;
                        }
                    }
                }
            }
        }
    }
    // 行動版導覽列結束

    #headerContentContainer{
        width: 1180px;
        height: 50px;
        margin: 38px 0px 0px 364px;
        display: flex;
        justify-content: space-between;
        @include newRwd("laptop"){
            width: 970px;
            margin: auto;
            align-items: center;
        }
        @include newRwd("pad"){
            width: 920px;
            margin: auto;
            align-items: center;
        }
        #logo{
            width: 264px;
            height: 46px;
            // 首頁由js控制代替的hover變色
            &:hover{
                content: url('../img/22/index/ch0102_header_logo_hover.png');
                // transform: scale(1.05);
                transition: all .3s;
            }
            @include newRwd("laptop"){
                width: 216px;
                height: 38px;
                align-self: center;
            }
            @include newRwd("pad"){
                width: 216px;
                height: 38px;
                align-self: center;
            }
            @include newRwd("bigPhone"){
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
            }
            @include newRwd("bigPhone"){
                width: 158px;
                height: 27px;
            }
        }
        // 桌機版導覽列開始
        #navigationForPC{
            width: 762px;
            height: 50px;
            display: flex;
            align-items: center;
            @include newRwd("laptop"){
                width: 625px;
                align-items: center;
            }

            // 當頁底線(桌機)
            #shopPageWeb{
                border-bottom: 2px solid #8F8770;
            }

            a{
                font-size: 30px;
                @include newRwd("laptop"){
                    font-size: 20px;
                }
                @include newRwd("pad"){
                    font-size: 20px;
                }
                @include newRwd("bigPhone"){
                    display: none;
                }
            }
            .navGeneralAnchors{
                color: #8F8770;
                text-decoration: none;
                &:hover{
                    color: #D6CAAA;
                    transform: scale(1.05);
                    transition: all .3s;
                }
            }
            :nth-child(2),:nth-child(3){
                margin-left: 25px;
                @include newRwd("laptop"){
                    margin-left: 20px;
                }
            } 
            // :nth-child(3){
                // border: 1px solid red ;
                // border-bottom: oldlace 1px solid;
            // }
            #navSepcialAnchor{
                color: #858585;
                text-decoration: none;
                div{
                    width: 139px;
                    height: 100%;
                    border-radius: 3px;
                    text-align: center;
                    padding: 3px 0;
                    background-color: #8F8770;
                    color: rgb(255, 255, 255);
                    &:hover{
                        background-color: #D6CAAA;
                        transform: scale(1.05);
                        transition: all .3s;
                    }
                    margin: 0px 28px;
                    @include newRwd("laptop"){
                        width: 114px;
                    }
                }
            }
            .navIcons{
                img{
                    @include newRwd("laptop"){
                        width: 30px;
                        
                    }

                    &:hover{
                        opacity: 0.5;
                        transform: scale(1.05);
                        transition: all .3s;
                    }

                }
            }
            #navIcons02, #navIcons03{
                margin-left: 20px;
            }

        }
        // 桌機版導覽列結束
        // 行動版次導覽列開始
        #subNavigationForMobile{
            display: none;
            margin-right: 5px;
            @include newRwd("bigPhone"){
                display: block;
                width: 90px;
                // height: 40px;
                display: flex;
                justify-content: space-between;
                position: absolute;
                right: 10px;
                img{
                    // width: 30px;
                    height: 30px;
                    margin: 5px 0px 0px 10px;
                    &:hover{
                        opacity: 0.5;
                        transform: scale(1.05);
                        transition: all .3s;
                    }
                }
            }
            @include newRwd("newSmallPhone"){
                width: 55px;
                right: 20px;
                img{
                    // width: 30px;
                    height: 23px;
                    margin: 5px 0px 0px 10px;
                    &:hover{
                        opacity: 0.5;
                        transform: scale(1.05);
                        transition: all .3s;
                    }
                }
            }
        }
        // 行動版次導覽列結束
    }
}
// 標頭結束
#store_16{
    background-image: url(../img/16/bgc-greenFruit.jpg);
    background-repeat: repeat;
    width: 100%;


//banner_16開始
.banner_16{
    width: 100%;
    height: 500px;
    background-image: url(../img/16/banner_new.png);
    background-position: center bottom;
    display: block;
    position: relative;
    top:123px;
    z-index: 0;
    
    @include newRwd("bigPhone"){
        top: 50px;    
    }
    
        div{
            max-width: 600px;
            // border: 1px solid blue;
            display: flex;
            position: relative;
            left: 216px;
            top:84px;
            align-items: center;
            font-family: "PingFang-TC-thin","NotoSansCJKtc-Thin","sans-serif";
            @include newRwd("pad"){
                left: 10%;
            }
            @include newRwd("mediumPhone"){
                max-width: 486px;
                left: 10%;
                // border: 1px solid purple; 
            }

            @include newRwd("newSmallPhone"){
                max-width: 320px;
                left: 10%;      
            }
            @include newRwd("newSmallPhone"){
                max-width: 320px;
                left: 10%;         
            }
            @include newRwd("miniPhone"){
                max-width: 300px;
                left: 3%;         
            }


            img{
                width: 188px;
                // border:1px solid cadetblue;
                @include newRwd("newSmallPhone"){
                    width: 120px;
                }
                @include newRwd("miniPhone"){
                    width: 100px;          
                }
            }
            div{
                // border: 1px solid blueviolet;
                display: inline;
                position: absolute;
                left: 150px;
                top: 50px;
                @include newRwd("newSmallPhone"){
                    left:90px;
                    top: 25px;
                    padding-left: 10px;
                }
 
                h1{
                    
                    font-size: 70px;
                    padding: 5px;
                    color:  #7D7765;
                    font-family: "PingFang-TC-thin","NotoSansCJKtc-Thin","sans-serif";
                    @include newRwd("newSmallPhone"){
                        font-size: 42px;
                    }
                    @include newRwd("miniPhone"){
                        font-size: 36px;         
                    }
                }
                p{

                    font-size: 24px;
                    padding: 5px;
                    color:  #7D7765;
                    font-family: "PingFang-TC-thin","NotoSansCJKtc-Thin","sans-serif";
                    @include newRwd("newSmallPhone"){
                        font-size: 14px;   
                    }
                    @include newRwd("miniPhone"){
                        font-size: 12px;         
                    }
                }
            }        
        }
}
//Banner結束

//麵包屑開始
.breadcrumb_16{
    display: block;
    position: relative;
    background-color: #FBFFE0;
    width: 100%;
    height: 84px;
    top: 84px;
    z-index: 1;
    @include newRwd("pad"){
        top: 50px;
    }
    @include newRwd("newSmallPhone"){
        top: 50px;
        height: 64px;
    }
    @include newRwd("miniPhone"){
        height: 50px;
    }
    
        div{
        display: block;
        position: absolute;
        left: 10%;
        color:#7D7765;
        font-size: 30px; 
        font-family: "PingFang-TC-thin","NotoSansCJKtc-Thin","sans-serif";
        margin:20px auto;
        @include newRwd("newSmallPhone"){
            font-size: 24px; 
            margin:15px auto;
        }
        @include newRwd("miniPhone"){
            font-size: 20px; 
            margin:15px auto;
        }
        }
    
}
//麵包屑結束

//購物商城-購物車區
// background
// .cartbgc_16{
    
    .cart_16{
        // border: 1px solid violet;
        // position: relative;
        top: 150px;
        display: block;
        margin: 100px auto;
        width: 1200px;
        
        @include newRwd("pad"){
            width: 892px;
            margin: 100px auto;
        }
        @include newRwd("bigPhone"){
            width: 768px;
            margin: 100px auto; 
        }
        @include newRwd("mediumPhone"){
            width: 570px;
            margin: 100px auto; 
        }
        @include newRwd("newSmallPhone"){
            width: 375px;
            margin: 50px auto;
            overflow-x: hidden;
        }
        @include newRwd("miniPhone"){
            width: 319px;
            margin: 50px auto;
            overflow-x: hidden;
            top: 100px;
        }
        
        .item1{
            // border: 1px solid greenyellow;
            width: 1200px;
            height: 76px;
            background-color: #F2F0D7;
            border-radius: 13px 13px 0px 0px;
            display: block;
            
            @include newRwd("pad"){
                width: 892px;
                height: 56px;
                margin: 0 auto;
                
            }
            @include newRwd("bigPhone"){
                width: 768px;
                height: 56px;
                margin: 0 auto;
                
            }
            @include newRwd("mediumPhone"){
                width: 570px;
                height: 56px;
                margin: 0 auto; 
            }
            @include newRwd("newSmallPhone"){
                width: 375px;
                height: 56px;
                margin: 0 auto;
            }
            @include newRwd("miniPhone"){
                width: 319px;
                height: 40px;
            }

            p{
                position: relative;
                top: 23px;
                font-size: 30px;
                font-family: "PingFang-TC-thin","NotoSansCJKtc-Thin","sans-serif";
                color:#7D7765;
                margin:23px 30px;
                @include newRwd("pad"){
                    font-size: 30px;
                    top: 20px;
                }
                @include newRwd("bigPhone"){
                    font-size: 30px;
                    top: 10px;
                    margin:15px 20px;  
                }

                @include newRwd("newSmallPhone"){
                    font-size: 24px;
                    top: 10px;
                    margin:15px 20px;
                }
                @include newRwd("miniPhone"){
                    font-size: 20px;
                    top: 10px;
                    margin:15px 20px;
                }
                
            }
        }
        .mainArea{
            display: flex;
            width: 1200px;
            background-color: #FBFFE0;
            margin: 0 auto;
            flex-direction: column;
            @include newRwd("pad"){
                width: 892px;
                margin: 0 auto;
            }
            @include newRwd("bigPhone"){
                width: 768px;
                margin: 0 auto;

            }
            @include newRwd("mediumPhone"){
                width: 570px;
                margin: 0 auto; 
            }
            @include newRwd("newSmallPhone"){
                width: 375px;
                margin: 0 auto;
            }
            @include newRwd("miniPhone"){
                width: 319px;
                margin: 0 auto;
            }

            .list_h{
                background-color: #C9BE9F;
                width: 1050px;
                height: 60px;
                color: #ffffff;
                font-size: 24px;
                font-family: "PingFang-TC-thin","NotoSansCJKtc-Thin","sans-serif";

                margin: 50px auto 0px auto;
                border-radius: 13px 13px 0px 0px;
                box-shadow:3px 3px 6px rgba(0,0,0,0.2);
                display: flex;
                flex-direction: row;
                align-items: stretch;
                text-align: right;
                @include newRwd("pad"){
                    width: 768px;
                    margin: 50px auto 0px auto;
                    font-size: 20px;
                }
                @include newRwd("bigPhone"){
                    width: 668px;
                    margin: 50px auto 0px auto;
                    font-size: 20px;
                }
                @include newRwd("mediumPhone"){
                    width: 476px;
                }
                @include newRwd("newSmallPhone"){
                    width: 320px;
                    margin: 50px auto 0px auto;
                    font-size: 20px;
                }
                @include newRwd("miniPhone"){
                    width: 300px;
                    margin: 30px auto 0px auto;
                    font-size: 20px;
                    height: 50px;
                }
    
                li{
                    width: 100px;
                    margin: 18px 10px;

                    img{
                        width: 30px;
                    } 
                }
                li:first-child{
                    margin: 18px 30px;
                    width:30px;
                    @include newRwd("bigPhone"){
                        margin: 18px 10px;
                    }
                    @include newRwd("mediumPhone"){
                        margin: 10px 10px;
                    }
                    
                }
                li:nth-child(2){
                    width: 450px;
                    text-align: left;
                    @include newRwd("bigPhone"){
                        width: 300px;
                    }
                    @include newRwd("mediumPhone"){
                        width: 250px;
                    }
                    @include newRwd("newSmallPhone"){
                        width: 250px;
                    }
                    @include newRwd("miniPhone"){
                        width: 250px;
                        margin: 15px 10px 10px 0px;
                    }
                }
                li:nth-child(3),li:nth-child(4),li:nth-child(5){
                    @include newRwd("pad"){
                        display: none;
                    }
                    @include newRwd("bigPhone"){
                        display: none;
                    }
                    @include newRwd("mediumPhone"){
                        display: none;
                    }
                    @include newRwd("newSmallPhone"){
                        display: none;
                    }
                }
            }
            .content{
                // border: 1px solid #abc;
                z-index: 1;
                width: 1050px;
                background-color: #fff;
                display: flex;
                margin: 0 auto;
                box-shadow:3px 3px 6px rgba(0,0,0,0.2);
                @include newRwd ("pad"){
                    width: 768px;
                }
                @include newRwd ("bigPhone"){
                    width: 668px;
                }
                @include newRwd ("mediumPhone"){
                    width: 476px;
                }
                @include newRwd ("newSmallPhone"){
                    width: 320px;
                }
                @include newRwd ("miniPhone"){
                    width: 300px;
                }

                .orderItem{
                    // border: 1px solid #7D7765;
                    margin: 50px auto;
                    width: 980px;
                    @include newRwd("pad"){
                        width:768px;    
                    }
                    @include newRwd("bigPhone"){
                        width:568px;
                    }
                    @include newRwd("mediumPhone"){
                        width:476px;
                    }
                    @include newRwd("newSmallPhone"){
                        width:320px;
                    }
                    @include newRwd("miniPhone"){
                        width:300px;
                    }

                    .orderInfo{
                        // border: 1px solid goldenrod;
                        width: 960px;
                        margin: 0 auto;
                        display: flex;
                        flex-wrap: wrap;
                        @include newRwd("pad"){
                            width:768px;
                        }
                        @include newRwd("bigPhone"){
                            width:568px;
                        }
                        @include newRwd("mediumPhone"){
                            width:476px;
                        }
                        @include newRwd("newSmallPhone"){
                            width:320px;
                        }
                        @include newRwd("miniPhone"){
                            width:300px;
                        }
                       
                        .imgBlock{
                            width:180px;
                            border:2px solid #C9BE9F;
                            border-radius: 5px;
                            margin: 20px;
                            box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
                        
                            @include newRwd("bigPhone"){
                                margin: 20px 10px;
                            }
                            @include newRwd("mediumPhone"){
                                margin: 10px auto;
                            }
                            img{
                                width: 100%;
                                overflow: hidden;
                                
                            }
                        }
                        .orderDetails{
                            margin-top: 20px;
                            width: 350px;
                            display: flex;
                            flex-wrap: wrap;
                            @include newRwd("mediumPhone"){
                                margin-left:55px;
                            }
                            @include newRwd("newSmallPhone"){
                                width: 320px;
                                margin:0 auto;
                            }
                            @include newRwd("miniPhone"){
                                width: 300px;
                                margin:0 auto;
                            }
                            
                            .productName{
                                font-size: 24px;
                                font-family: "PingFang-TC-thin","NotoSansCJKtc-Thin","sans-serif";
                                color:#707070;
                                margin: 20px 5px;
                                text-align: left;
                                width: 330px;
                                @include newRwd("newSmallPhone"){
                                    width: 300px;
                                    font-size: 20px;
                                    margin: 20px 0px 20px 20px;
                                }
                                @include newRwd("miniPhone"){
                                    width: 275px;
                                    margin: 20px 10px;
                                }
                              }
                            .exp{
                                font-size: 20px;
                                color:#c00202;
                                margin: 45px 5px;
                                width: 330px;
                                @include newRwd("newSmallPhone"){
                                    width: 290px;
                                    font-size: 16px;
                                    margin: 20px 0px 20px 20px;
                                }
                                @include newRwd("miniPhone"){
                                    width: 275px;
                                    font-size: 16px;
                                    margin: 20px 10px;
                                }
                            }
                        }
                        .orderDetails1{
                            width: 360px;
                            display: flex;
                            flex-wrap: wrap;
                            @include newRwd("pad"){
                                width: 768px;
                                margin-left: 225px;
                            }
                            @include newRwd("bigPhone"){
                                width: 568px;
                                margin-left: 205px;
                            }
                            @include newRwd("mediumPhone"){
                                width: 568px;
                                margin: 0 auto;
                            }
                            @include newRwd("newSmallPhone"){
                                width: 320px;
                                
                            }
                            @include newRwd("miniPhone"){
                                width: 300px;
                               
                            }
                                .orderTitle{
                                        opacity: 0;
                                        display: flex;
                                        // margin: 0px 5px;
                                        @include newRwd("pad"){
                                            opacity: 1;
                                        }
                                        @include newRwd("bigPhone"){
                                            opacity: 1;
                            
                                        }
                                        @include newRwd("mediumPhone"){
                                            opacity: 1;
                                            margin-left: 60px;
                                        }
                                        @include newRwd("newSmallPhone"){
                                            opacity: 1;
                                            margin-left: 20px;
                                        }
                                        @include newRwd("niniPhone"){
                                            margin-left: 10px;
                                        }
                                    li{
                                        margin: 0 20px;
                                        font-size: 20px;
                                        color: #707070;
                                        
                                        @include newRwd("mediumPhone"){
                                            margin: 0 20px;
                                            font-size: 20px;
        
                                            }
                                        @include newRwd("newSmallPhone"){
                                            margin: 0 10px;
                                            font-size: 16px;
                                            }
                                    }
                                    @include newRwd("pad"){
                                        li:first-child{
                                            margin: 0px 40px 0px 0px;
                                        }
                                        li:nth-child(2),li:nth-child(3){
                                            margin: 0px 35px;
                                        }
                                    }
                                    @include newRwd("mediumPhone"){
                                        li:first-child{
                                            margin: 0px 25px 0px 0px;
                                        }
                                        li:nth-child(2),li:nth-child(3){
                                            margin: 0px 30px;
                                        }
                                    }
                                    
                            }
                            .orders{
                                display: flex;
                                align-items: center;
                                font-family: "PingFang-TC-thin","NotoSansCJKtc-Thin","sans-serif";
                                width: 350px;
                                @include newRwd ("mediumPhone"){
                                    margin: 0px 60px;
                                }
                                @include newRwd ("newSmallPhone"){
                                    margin: 0px 20px;
                                }
                                
                                .price{
                                    font-size: 24px;
                                    color:#707070;
                                    margin: 0px 20px;
                                    width: 50px;
                                    @include newRwd("pad"){
                                        margin: 0px 45px 0px 0px; 
                                    }
                                    @include newRwd("bigPhone"){
                                        margin: 0px 35px 0px 0px; 
                                    }
                                    @include newRwd ("newSmallPhone"){
                                        margin: 0px 5px 0px 0px;
                                        font-size: 20px;
                                    }
                                }
                                //加減數量
                                .quantity{ 
                                    margin: 0px 20px;
                                    @include newRwd("bigPhone"){
                                        margin: 0px 35px 0px 5px; 
                                    }
                                    @include newRwd ("newSmallPhone"){
                                        margin: 0px 20px 0px 0px;
                                    }
                                    div{
                                        display: flex;
                                        position: relative;
                                        justify-content: center;
                                        align-items: center;
                                        height: 32px;
                                        width: 100px;
                                        border: 1px solid #ececec;
                                        box-sizing: border-box;
                                        border-radius: 4px;
                                    
                                        .inputQty{
                                            width: 50px;
                                            height: 29px;
                                            text-align: center;
                                            border-top: 1px solid #aaa;
                                            border-bottom: 1px solid #aaa;
                                            box-sizing: border-box;
                                            border: none;
                                            font-size:20px;
                                            color: #909090;
                                            // font-weight: bold;
                                            position: relative;
                                            
                                        }
                                        
                                        
                                        .qtyAdd {
                                            width: 25px;
                                            height: 30px;
                                            border: 1px solid #C9BE9F;
                                            background-color:#C9BE9F;
                                            box-sizing: border-box;
                                            color: #ffffff;
                                            // font-size: 24px;
                                            font-weight: bold;
                                            text-align: center;
                                            // line-height: 24px;
                                            outline-color:#beb392;
                                            border-radius: 0 3px 3px 0;
                                        }
                                        
                                        .qtyReduce{
                                            width: 25px;
                                            height: 30px;
                                            border: 1px solid #C9BE9F;
                                            background-color:#C9BE9F;
                                            box-sizing: border-box;
                                            color: #ffffff;
                                            // font-size: 24px;
                                            font-weight: bold;
                                            text-align: center;
                                            outline-color:#beb392;
                                            border-radius: 3px 0 0 3px;
                                        }
                                    }

                                }
                                    .amount{
                                        font-size: 24px;
                                        color:#707070;
                                        margin: 0px 20px;
                                        width: 60px;
                                        @include newRwd("pad"){
                                            margin: 0px 45px 0px 35px; 
                                        }
                                        @include newRwd("bigPhone"){
                                            margin: 0px 25px 0px 0px; 
                                        }
                                        @include newRwd ("newSmallPhone"){
                                            margin: 0px 20px 0px 0px;
                                            font-size: 20px;
                                            width: 40px;
                                        }
                                        @include newRwd ("miniPhone"){
                                            margin: 0px;
                                            font-size: 20px;
                                            width: 40px;
                                        }
                                    }
                            }
                        }
                   
                         
                }
            }
            hr{
                @include newRwd("pad"){
                    width: 728px;
                    margin: 0 auto;
                    

                }
                @include newRwd("bigPhone"){
                    width: 506px;

                }
                @include newRwd("mediumPhone"){
                    width: 476px;

                }
                @include newRwd("newSmallPhone"){
                    width: 300px;

                }
            }
                    .pickUpInfo{
                        // border: 1px solid blue;
                        width: 950px;
                        margin: 30px;
                        font-family: "PingFang-TC-thin","NotoSansCJKtc-Thin","sans-serif";
                        @include newRwd("pad"){
                            width: 528px;
                        }
                        @include newRwd("mediumPhone"){
                            width: 406px;
                        }
                        @include newRwd("newSmallPhone"){
                            width: 300px;
                            margin: 30px 10px;
                        }
                        @include newRwd("miniPhone"){
                            width: 290px;
                            margin: 30px 5px;
                        }
                        p{
                            font-size: 20px;
                            color: #707070;
                            width: 100px;
                        }
                        div{
                            display: flex;
                            flex-wrap: wrap;
                            @include newRwd("pad"){
                                width: 768px;
                            }
                            @include newRwd("bigPhone"){
                                width: 488px;
                            }
                            @include newRwd("mediumPhone"){
                                width: 406px;
                                margin: 0 auto;
                            }
                            @include newRwd("newSmallPhone"){
                                width: 300px;
                                margin: 0 auto;
                            }
                            .mapIconW{
                                width: 400px;
                                margin-left: 10px;
                                @include newRwd("bigPhone"){
                                    // margin-left: 0px;
                              
                                }
                                @include newRwd("mediumPhone"){
                                    margin-left: 10px;
                                    width: 350px;

                              
                                }

                                @include newRwd("newSmallPhone"){
                                    justify-content: center;
                                    width: 310px;
                                    margin-left: 0px;
                                }
                            }
                            .mapIcon{
                                width: 15px;
                                height: 20px;
                                margin-top: 6px;
                                
                            }
                            ul{
                                
                                @include newRwd("pad"){
                                    width: 528px;
                                }
                                @include newRwd("mediumPhone"){
                                    width: 406px;
                                }
                                @include newRwd("newSmallPhone"){
                                    width: 306px;
                                }
                                div{
                                    margin-left: 80px;
                                    margin-top: 5px;
                                    @include newRwd("mediumPhone"){
                                        margin-left: 10px;
                                    }
                                    @include newRwd("newSmallPhone"){
                                        margin-left: 0px;
                                    }
                                }
                                
                                li{ 
                                    
                                    margin: 50px 20px 20px 20px;
                                    font-size: 18px;
                                    color: #707070;
                                    
                                    @include newRwd("newSmallPhone"){
                                        width: 300px;
                                        margin: 10px auto;
                                        font-size: 14px;
                                    }
                                    .locationIcon{
                                        width: 30px;
                                        vertical-align: middle;
                                        margin-right: 10px;
                                        @include newRwd("newSmallPhone"){
                                            margin-right: 3px;
                                        }
                                        
                                    }
                                    

                                }
                                li:first-child{
                                    color: #c00202;
                                }
                                input{
                                margin-left: 65px;
                                margin-top: 20px;
                                @include newRwd("newSmallPhone"){
                                    margin-left: 35px;
                                }
                                

                                }
                                span{
                                    font-size: 18px;
                                    color: #707070;
                                    @include newRwd("newSmallPhone"){
                                        font-size: 16px;
                                    }

                                }
                             }
                            div{
                                // margin-left: 70px;
                                line-height: 2;
                                font-size: 18px;
                                color: #707070;
                                width: 460px;
                                overflow: hidden;
                                
                                @include newRwd("mediumPhone"){
                                    margin: 10px auto;
                                    
                                }
                                @include newRwd("newSmallPhone"){
                                    font-size: 16px;
                                    margin: 10px auto;
                                }
                                @include newRwd("miniPhone"){
                                    font-size: 16px;
                                    margin: 10px auto;
                                    width: 290px;
                                }

                                .imgMRT{
                                    margin-top: 50px;
                                    position: relative;
                                    // right: 10%;
                                    top: 0px;

                                    @include newRwd("mediumPhone"){
                                        margin-top: 20px;
                                        width: 406px;
                                    }
                                    @include newRwd("newSmallPhone"){
                                        display: none;
                                    }
                                    
                                }

                                #MRT_Select{
                                    display: none;
                                    @include newRwd("newSmallPhone"){
                                        display: flex;
                                        flex-wrap: wrap;
                                    }
                                    @include newRwd("miniPhone"){
                                        width: 290px;
                                    }
                                    .mrtSelect{
                                        @include newRwd("newSmallPhone"){
                                            width:150px;
                                            margin: 5px auto;
                                            font-size: 16px;
                                        }
                                        @include newRwd("newSmallPhone"){
                                            width:140px;
                                            margin: 5px auto;
                                            font-size: 15px;
                                        }
                                        

                                        input{
                                            margin: 0 3px;
                                        }
                                        
                                    }
                                }
    
                                
                            }
                            
                        }
                    }
            }
                .orderCount{
                    font-size: 24px;
                    text-align: right;
                    margin: 30px 20px;
                }

            }
        }
     .cart_16FinalCount{
         
         background-color: #FBFFE0;
         @include newRwd("pad"){
            width: 892px;  
        }
        @include newRwd("bigPhone"){
            width: 768px;
        }
        @include newRwd("mediumPhone"){
            width: 570px;
        }
        @include newRwd("newSmallPhone"){
            width: 375px;
        }
        @include newRwd("miniPhone"){
            width: 319px;
        }
        
         .cart_16FinalCount_Main{
            width: 1050px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            @include newRwd("pad"){
                width: 768px;
            }
            @include newRwd("bigPhone"){
                width: 668px;
            }
            @include newRwd("mediumPhone"){
                width: 476px;
            }
            @include newRwd("newSmallPhone"){
                flex-wrap: wrap;
                width: 375px;
                padding: 0px 5px;
            }
            @include newRwd("miniPhone"){
                width: 319px;
                padding: 0px 5px;
            }
            .keepShop{
                // border: 1px solid red;
                margin-top: 100px;
                @include newRwd("bigPhone"){
                    width: 150px;
                }
                @include newRwd("mediumPhone"){
                    width: 130px;
                }
                @include newRwd("newSmallPhone"){
                    width: 130px;
                    margin-top: 20px;
                    margin-left: 20px;
                }
            }
            div{
                margin: 20px 0px;
                justify-content: flex-start;
                @include newRwd("mediumPhone"){
                    width: 220px;
                }
                @include newRwd("newSmallPhone"){
                    width: 300px;
                    margin: 10px 0px;
                }
                a{
                    text-decoration: none;
                    color: #808080;
                    font-size: 30px;
                    vertical-align: middle;
                    @include newRwd("bigPhone"){
                        font-size: 24px;
                        text-align: center;
                    }
                    @include newRwd("mediumPhone"){
                        font-size: 20px;
                    }
                }
                img{
                    margin:0 10px;
                    @include newRwd("bigPhone"){
                        width: 24px;
                        height: 24px;
                        vertical-align: middle;
                        margin:5px 5px;
                    }
                    @include newRwd("bigPhone"){
                        width: 20px;
                        height: 20px;
                        vertical-align: middle;
                        margin:5px 5px;
                    }
                }
            }

            .pointsDetails{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                width: 500px;

                @include newRwd("mediumPhone"){
                    width: 346px;
                }
                @include newRwd("newSmallPhone"){
                    width: 346px;
                    justify-content: center;
                }
                @include newRwd("miniPhone"){
                    width: 310px;
                }
                    img{
                        width: 25px;
                        height: 25px;
                        margin-right: 10px;
                        margin-top: 30px;
                        @include newRwd("miniPhone"){
                            margin-right: 5px;
                            margin-top: 20px;
                        }
                    }
                    div{
                        display:block;
                        // border: 1px solid red;
                        @include newRwd("mediumPhone"){
                            display: flex;
                            flex-wrap: wrap;
                        }
                        @include newRwd("newSmallPhonee"){
                            display: flex;
                            flex-wrap:nowrap;   
                        }
                        @include newRwd("miniPhone"){
                            width: 220px;   
                        }
            
                        label{
                            font-size: 20px;
                            color: #808080;
                            vertical-align: middle;
                            text-align: left;
                            line-height: 2;
                        }
                    
                        p{
                            font-size: 16px;
                            color: #808080;
                            @include newRwd("mediumPhone"){
                                line-height: 2;
                            }
                        }
                        input{
                            width: 138px;
                            @include newRwd("mediumPhone"){
                                width: 100px;
                                height: 30px;
                                vertical-align: baseline;
                            }
                        }
                        .pointsDiscount{
                            width: 110px;
                            height: 30px;
                            border: none;
                            border-radius: 13px;
                            background-color: #C9BE9F;
                            color: #ffffff;
                            font-size: 16px;
                            cursor: pointer;
                            line-height: 30px;
    
                        }
                     }
                }
       }
    } 

    // }
    .item2{
        background-color: #F2F0D7;
        height: 100px;
        @include newRwd("miniPhone"){
            margin: 0 auto;
            height: 130px
        }
        div{    
            // border: 1px solid red;
            font-size: 24px;
            color: #4E4D4D;
            display: flex;
            justify-content: flex-end;
            margin: 0 auto;
            width: 1050px;
            @include newRwd("pad"){
                width: 768px;
            }
            @include newRwd("bigPhone"){
                width: 668px;
            }
            @include newRwd("mediumPhone"){
                width: 570px;
            }
            @include newRwd("newSmallPhone"){
                width: 375px;
            }
            @include newRwd("miniPhone"){
                width: 319px;
                justify-content: center;
                // margin: 10px auto;
            }
            span{
                @include newRwd("miniPhone"){
                    margin: 12px auto;
                    width: 250px;
                    // justify-content: center;
                    align-items: center;
                }
            }
            
            button{
                width: 110px;
                height: 50px;
                border: none;
                color: #ffffff;
                background-color: #C9BE9F;
                border-radius: 13px;
                font-size: 24px;
                margin: 24px 20px;
                outline: none;
                cursor: pointer;
                &:hover{
                       background-color: #c0b28d;
                       }
                a{
                 &:visited{
                    color: #ffffff;
                    }
                }
                @include newRwd("newSmallPhone"){
                    margin: 24px 10px;
                }
                @include newRwd("miniPhone"){
                    margin: 15px 70px;
                    justify-content: center;
                }
            }
         }
}
//購物車區結束

//footer開始
footer{
    width: 100%;
    height: 200px;
    background-color:#FBFFE0;
    cursor: pointer;
    font-size: 18px;
    color: #D3E4C6;
    // @include  newRwd("newSmallPhone"){
    //     height: 300px;
    // }
    @media screen and (max-width: 630px){
        height: 300px;
    }
    .footerBlock{
        max-width:1200px;
        margin: -1px auto 0;
        // border: 1px solid red;
        
        div{
            height: 80px;
            display: flex;
            justify-content: flex-end;
            // border: 1px solid rgb(23, 224, 140);
            // @include  newRwd("newSmallPhone"){
            //     flex-wrap: wrap;
            //     justify-content: center;
            //     // flex-direction: column-reverse;
            // }
            @media screen and (max-width: 630px){
                flex-direction: column;
                justify-content: center;
                margin: 0 auto;
            }
            
            
        .footer_logo{
            margin-top: 50px;
            display: block;
            width:190px;
            border-right:1px solid #D3E4C6;
            text-align: left;
            

            @media screen and (max-width: 630px){
                border-right:none;
                margin-top: 200px;
            }
            // @include  newRwd("newSmallPhone"){
            //     border-right:none;
            // }

            img{
                width: 162px;
                padding-top: 13px;
            }
            .copyright{
                margin-top:6px;
                font-size: 10px;
            }
        }
        .info{
            display:block;
            text-align: left;
            max-width: 330px;
            margin-top: 50px;
            // @include  newRwd("newSmallPhone"){
            //     margin-top: 30px;
            // }
            @media screen and (max-width: 630px){
                margin-top: 30px;
            }
            a{
                width: 280px;
                margin: 20px;
                text-decoration: none;
                color: #D3E4C6;
                font-size: 18px;
                line-height: 1.5;
                    img{
                        padding-right: 10px;
                    }
                }
            }
        } 
    }  
}
}
//footer結束
