@import'./link';


*{
    color: #545454;
    font-family: "PingFang-TC-thin","NotoSansCJKtc-Thin","sans-serif";
    text-decoration: none;
}
// 標頭開始
#header{
    width: 100%;
    height: 123px;
    display: flex;
    position: fixed;
    background: transparent;
    z-index: 9;
    background-color: #D3E4C6;
    font-family: "PingFang-TC-thin","NotoSansCJKtc-Thin","sans-serif";

    @include newRwd("bigPhone"){
        width: 100%;
        height: 55px;
    }
    // 漢堡選單開始
    #hamburgerMenuToggle{
        opacity: 0;
        &:checked + #hamburgerMenuButton > span{
            transform: rotate(45deg);
            &::before{
                top: 0;
                transform: rotate(0deg);
            }
            &::after{
                top: 0;
                transform: rotate(90deg);
            }
        }
        &:checked ~ #navigationForMobile{
            left: 0;
        }
    }
    #hamburgerMenuButton{
        width: 45px;
        height: 35px;
        align-self: center;
        margin-left: 10px;
        position: relative;
        cursor: pointer;
        display: none;
        &:hover{
            opacity: 0.5;
            transform: scale(1.05);
            transition: all .3s;
        }
        
        @include newRwd("newSmallPhone"){
            margin-left: 5px;
            }
        span{
            display: block;
        }
        span, span::before, span::after{
            content: '';
            display: block;
            width: 40px;
            height: 3px;
            border-radius: 10px;
            position: absolute;
            transition-duration: .35s;
            background-color: #8F8770;
            @include newRwd("newSmallPhone"){
                width: 36px;
                height: 3px;
                }
            }
        span{
            top: 45%;
            
            &::before{
                content: '';
                top: -12px;
                
                @include newRwd("newSmallPhone"){
                    top: -10px;
                    }
            }
            &::after{
                content: '';
                top: 12px;
                
                @include newRwd("newSmallPhone"){
                    top: 10px;
                    }
            } 
        }
        @include newRwd("bigPhone"){
            display: block;
        }
    }
    // 水平滑動漢堡選單變色用父層開始
    .hamburgerMenuColorForCh01{
        span, span::before, span::after{
            background-color: #FDFBBA;
        }
    }
    .hamburgerMenuColorForCh0102{
        span, span::before, span::after{
            background-color: #946C1E;
        }
    }
    .hamburgerMenuColorForCh02{
        span, span::before, span::after{
            background-color: #FFFFFF;
        }
    }
    // 水平滑動漢堡選單變色用父層結束
    
    // 漢堡選單結束

    // 行動版導覽列開始
    #navigationForMobile{
        display: none;

        @include newRwd("bigPhone"){
            display: block;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 55px;
            left: -100%;
            background-color: #D3E4C6;
            opacity: 95%;
            transition-duration: .35s;
            #searchBarForMobile{
                width: 100%;
                height: 70px;
                background-color: #F2F0D7;
                display: flex;
                
                #searchInputForMobile{
                    width: 80%;
                    height: 60%;
                    border: #8f7086;
                    border-radius: 20px;
                    background-color: #FBFFE0;
                    display: block;
                    margin: auto;
                    align-self: center;
                    outline: none;
                    padding-left: 20px;
                    font-size: 20px;
                }

                
            }
            li{
                list-style: none;
                text-align: center;
                font-size: 24px;
                margin: 30px 0px 0px 0px;
                

                // //當頁底線(RWD)
                // #shopPage{
                //     padding: 3px;
                //     border-bottom: 2px solid #959076;
                // }
                
                a{
                    color: #515151;
                    &:hover{
                        color: #D6CAAA;
                        transition: all .3s;
                        transform: scale(1.05);
                        text-decoration: none;
                    }
                    &:focus{
                        text-decoration: none;
                    }
                }
                #navSepcialAnchorForMobile{
                    div{
                        width: 119px;
                        height: 40px;
                        border-radius: 3px;
                        line-height: 40px;
                        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
                        margin: auto;
                        background-color: #E8CE67;
                        &:hover{
                            background-color: #fde16f;
                            transition: all .3s;
                            color: #515151;
                        }
                    }
                }
            }
        }
    }
    // 行動版導覽列結束

    #headerContentContainer{
        width: 1180px;
        height: 50px;
        margin: 38px 0px 0px 364px;
        display: flex;
        justify-content: space-between;
        @include newRwd("laptop"){
            width: 970px;
            margin: auto;
            align-items: center;
        }
        @include newRwd("pad"){
            width: 920px;
            margin: auto;
            align-items: center;
        }
        #logo{
            width: 264px;
            height: 46px;
            // 首頁由js控制代替的hover變色
            &:hover{
                content: url('../img/22/index/ch0102_header_logo_hover.png');
                // transform: scale(1.05);
                transition: all .3s;
            }
            @include newRwd("laptop"){
                width: 216px;
                height: 38px;
                align-self: center;
            }
            @include newRwd("pad"){
                width: 216px;
                height: 38px;
                align-self: center;
            }
            @include newRwd("bigPhone"){
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
            }
            @include newRwd("bigPhone"){
                width: 158px;
                height: 27px;
            }
        }
        // 桌機版導覽列開始
        #navigationForPC{
            width: 762px;
            height: 50px;
            display: flex;
            align-items: center;
            @include newRwd("laptop"){
                width: 625px;
                align-items: center;
            }
            @include newRwd("bigPhone"){
                width: 525px;
                align-items: center;
            }
            @include newRwd("mediumPhone"){
                width: 425px;
                align-items: center;
            }
            @include newRwd("newSmallPhone"){
                width: 200px;
                align-items: center;
            }
            // // 當頁底線(桌機)
            // #shopPageWeb{
            //     border-bottom: 2px solid #8F8770;
            // }

            a{
                // white-space: nowrap;
                font-size: 30px;
                @include newRwd("laptop"){
                    font-size: 20px;
                }
                @include newRwd("pad"){
                    font-size: 20px;
                }
                @include newRwd("bigPhone"){
                    display: none;
                }
            }
            .navGeneralAnchors{
                color: #8F8770;
                text-decoration: none;
                &:hover{
                    color: #D6CAAA;
                    transform: scale(1.05);
                    transition: all .3s;
                }
            }
            :nth-child(2),:nth-child(3){
                margin-left: 25px;
                @include newRwd("laptop"){
                    margin-left: 20px;
                }
            } 
            // :nth-child(3){
                // border: 1px solid red ;
                // border-bottom: oldlace 1px solid;
            // }
            #navSepcialAnchor{
                color: #858585;
                text-decoration: none;
                div{
                    width: 139px;
                    height: 100%;
                    border-radius: 3px;
                    text-align: center;
                    padding: 3px 0;
                    background-color: #8F8770;
                    color: rgb(255, 255, 255);
                    &:hover{
                        background-color: #D6CAAA;
                        transform: scale(1.05);
                        transition: all .3s;
                    }
                    margin: 0px 28px;
                    @include newRwd("laptop"){
                        width: 114px;
                    }
                }
            }
            .navIcons{
                img{
                    @include newRwd("laptop"){
                        width: 30px;
                        
                    }

                    &:hover{
                        opacity: 0.5;
                        transform: scale(1.05);
                        transition: all .3s;
                    }

                }
            }
            #navIcons02, #navIcons03{
                margin-left: 20px;
            }
            #navIcons03{
              img{
                  max-width: 30px;
                  max-height: 30px;
              }
            }

            // 點放大鏡伸縮搜尋欄
            #navIcons01{
                position: relative;
            }
            #searchInputForWeb{
                width: 25px;
                height: 48px;
                border: #8f7086;
                border-radius: 26px;
                background-color: #ececec;
                align-self: center;
                outline: none;
                padding-left: 20px;
                font-size: 17px;
                padding: 3px 3px 3px 10px;
                position: absolute;
                left: -30px;
                bottom: -3px;
                background-image: url(../img/22/index/ch04_nav_search.png);
                background-repeat: no-repeat;
                background-position: right 6% bottom 45%;
                background-size: 13%;
                margin-left: 20px;
                transition: all 0.8s;

                opacity: 0;


                &.block{
                    width: 207px;
                    opacity: 1;
                    
                    @include newRwd("laptop"){
                        left: -26px;
                        width: 150px;
                        height: 38px;
                    }
                    // animation-name: block;
                    // animation-duration: 0.5s;
                    // animation-fill-mode: both;
                    // @keyframes block{
                    //     from{
                    //         width: 0%;
                    //         // margin-left: 230px;
                    //         opacity: 0;
                    //     }
                    //     to{
                    //         opacity: 1;
                    //         width:207px;
                    //         // margin-left: 0px;
                    //     }
                    // }
                }

            }
        }
        // 桌機版導覽列結束
        // 行動版次導覽列開始
        #subNavigationForMobile{
            display: none;
            margin-right: 5px;
            @include newRwd("bigPhone"){
                display: block;
                width: 90px;
                // height: 40px;
                display: flex;
                justify-content: space-between;
                position: absolute;
                right: 10px;
                img{
                    // width: 30px;
                    height: 30px;
                    margin: 5px 0px 0px 10px;
                    &:hover{
                        opacity: 0.5;
                        transform: scale(1.05);
                        transition: all .3s;
                    }
                }
            }
            @include newRwd("newSmallPhone"){
                width: 55px;
                right: 20px;
                img{
                    // width: 30px;
                    height: 23px;
                    margin: 5px 0px 0px 10px;
                    &:hover{
                        opacity: 0.5;
                        transform: scale(1.05);
                        transition: all .3s;
                    }
                }
            }
            #navIcons05{
                img{
                    max-width: 30px;
                    max-height: 30px;
                }
            }
        }
        // 行動版次導覽列結束
    }
}
// 標頭結束


*{
    color: #545454;
}

//===================banner=============//
@include banner(null);

////////搜尋區///////////////
/////////800px以上//////////
.part1{
    position:relative;
    top:84px;
}

#search{
    background-color: $FB;
    // border: 2px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
    
}
    
#span{
    // border: 1px solid $R;
    background-color:$F3;
    padding: 30px;
    font-size: 25px;
 }
 .selector_ul{
    display:flex;
    // border: 2px solid $G; 
    align-items: center;
    font-size: map-get($font , 22 );
    cursor: pointer;
    height: 84px;
    width: 1403px;

        .areaName{
            // border: 2px solid $G;
            margin: 0 15px;
            font-size: 24px;
    
   }
}  
@media screen and (max-width:1402px){
    .selector_ul{
        width: 100%;
    }
    div.itemArea {
        width: 91%;
    }
    div.btn{
        width: 91% !important;
        border: 2px solid #FBFFE0;
    }
    
    

}

.selector_ul{
        #btnMap{
            text-decoration: none;
            color: #545454;
            display: inline-block;
            background-color:$F3;
            border-radius: 10px;
            padding: 5px 10px;
            &:hover,&:active{
                color: $ff;
                background-color: $C9;
                border: $C9;
            }
            .iconMap{
                width: 20%;
                margin-right: 5px;
            }
            span.mapText{
                &:hover{
                    color: $ff;
            
                }
            }
        }            
}

///////////787以下/////////////////
@media screen and (max-width:787px){
    #fm1{
        display: flex;

    }
    #search{
        display: flex;
        margin: 0  !important; 
        padding: 0  !important;
        width: 100%;
    }
    .selector_ul{
        display: flex;
        padding: 10px;
        width: 100%;
        height: 46px;
        #span{
            font-size: 25px;
            padding: 11px 20px;
        }
        .areaName{
            margin: 0 3px !important;
            font-size: 25px;
            // input{
                // width: 20px;
                // height: 20px;
            // }
            &:nth-child(4){
                margin: 0px -2px !important;
            }
        }
        #selectAll{
            display: none;
        }
        
    }
    .btnMap{
        padding: 8px;
        margin-left: 5px;
        .mapText{
            display: none;

        }
        .iconMap{
            float: right;
            width: 60% !important;
        }
    }
    #selectBlock,#BTN{
        display: none;
    }
}
/////////文字///////////
@media screen and (min-width:392px) and (max-width:529px){
    .selector_ul {
        #span{
            font-size: 16px;
            padding: 13px 15px;
    
        }
        .areaName{
            font-size: 16px;
            input{
                width: 14px !important;
                height: 14px !important;
                }
            }
    }

    .itemArea{
        .itemName{
            font-size: 16px;
                input{
                    width: 14px !important;
                    height: 14px !important;
                }
            }
        }
    }







.wrap{
    // background-image: url(../img/bi2.png);
    background-image: url(../img/backgroud.png);
    background-repeat: repeat;
    // background-color:$D3;
}
//////////次級選單////////////
.itemArea{
    // border: 2px solid $P;
    font-size: 27px;
    margin: 0 auto;
    padding: 20px 40px;
    width: 1324px;
    background-color: #FBFFE0;
    display: flex;
    justify-content: space-around;
    .pText , #nth3{
        border-bottom: 2px solid $F3;
        padding: 0px 0 17px 0;
        color: #545454;
        margin-bottom: 25px;
        justify-content: center;
        display: flex;
    }
    .itemName{
        padding: 0 50px;
        line-height: 2;
        .itemName2Wth{
            border-right: 2px solid #F3E9C0;
            border-left: 2px solid #F3E9C0;
        }
        .group{
            // width: 200px;
            padding: 10px;
            span{
                width: 100px;
                margin: 20px 0;
            }
        }
        .item1,.itemName2Wth,.item3{
            display: flex;
            // width: $pw;
            width: 100%;
            justify-content: center;
        }
        .item1{
            #group1 ,#group2{
                width: 127px;

            }
        }
        #group3,#group4,#group5,#group6{
            width: 121px;
        }
    }
}

@media screen and (min-width:800px)and (max-width:1403px){
    .itemName{
        width: 100%;
        .item1,.itemName2Wth,.item3{
            width: $null;
        }


    }

}

#itemArea1,#itemArea2,#itemArea3,#RWDMap{
    justify-content: start;
    .itemName > p{
        border-bottom: 2px solid $F3;
        padding: 0px 0 17px 0;
        color: #545454;
        margin-bottom: 25px;
    }
}
@media screen and (max-width:391px){
    .selector_ul{
        #span{
            font-size: 12px;
            padding: 13px 2px;
    
        }
        .areaName{
            font-size: 12px;
            input{
                width: 12px !important;
                height: 12px !important;

            }
        }
        
            
        
    }
    .itemArea{
        .itemName{
            font-size: 12px;
                input{
                    width: 12px !important;
                    height: 12px !important;
                }
            }
        }
    }
    
    
    
    



@media screen and (min-width:320px) and (max-width:799px){
        .itemName{
            p{
                display: flex;
                justify-content: center;
                
            }
        }
        div.itemArea{
            width: 97%;
            padding: 20px 0;
        }
        div.btn{
            width: 97% !important;
        }

}
@media screen and (min-width:800px) and (max-width:1366px){
    div.btn{
        width: 91%;
    }
}
// @media screen and (max-wid)

    

.btn{
    display: flex;
    justify-content: center;
    background-color: $FB;
    width: 1325px;
    margin: 0 auto;
    padding: 20px 40px;

    #btn1,#btn2,#btn3,#btn4,#btn5{
        box-shadow:3px 3px 6px rgba(0,0,0,0.2);
        background-color: $C9;
        color: $ff;
        font-size: map-get($font, 22 );
        border: 1px solid $C9;
        border-radius: 10px;
                    &:focus{
                        outline: $FB;
                        border: 1px solid $FB;
                    }
    }
}
.wrap{
    background-image: url(../img/07/backgroud.png);
}

.context{
    
    margin-top: 108px;
    .productArea{
        
        width: 1403px;
        margin: 0 auto;
        // border: 1px solid goldenrod;

        
    }
}
///////////1200px以下時////////////////
@media screen and (max-width: 1402px ){
    .context .productArea{
        width: 100%;
    }

}
@media screen and (max-width: 1033px){
    #selectfm{
        display: none;
    }
}

.width_2P{
    display: flex;
    flex-wrap: wrap;
    // width: 100%;
    // justify-content: space-between;
    justify-content: center;
    overflow: hidden;
    .product{
        margin-bottom: 20px;
        margin: 0 20px 20px 20px;
        font-size: 22px;
        width: 300px;
        // border: 1px solid $P;
        @include newRwd("newSmallPhone"){
            margin:20px auto;
        }
        .pdtText{
            // width: 190px;//(190px)/2
            margin: 0 auto;
            padding: 25px;
            border-radius: 30px 30px 0 0;
            background-color: $FB;
            display: flex;
            justify-content: center;
            box-shadow:3px 3px 6px rgba(0,0,0,0.2);
            
            .pdtTime{
                margin: -4px 0;
                width: 250px;
                font-size: 16px;
                white-space:nowrap !important;
            }
            .pdtTime > span.minutes, .pdtTime > span.seconds,.pdtTime > span.days,.pdtTime > span.hours{
                font-size: 25px;
                // margin: -5px 7px;
                color: red;
            }
        }

        

        .productBottom{
        box-shadow:3px 3px 6px rgba(0,0,0,0.2);
        display: flex;
        padding: 20px;
        background-color: $F3;
        border-radius: 0 0 30px 30px;
        position: relative;
            .carImg{
                padding: 12px;
                border-radius: 30px;
                background-color: #C9BE9F;
                position: absolute;
                bottom: 20px;
                left: 216px;
                border: 1px solid #C9BE9F;
                cursor: pointer;
                &:focus{
                    outline: none;
                }
            }
            .pdtExplanation{
                
                .pdtTime{
                    padding: 10px;
                    li{
                        &::before{
                            margin: 10px 0px 10px;
                        }
                    }
                }

                
            }
        }
    }
}

.productCenter{
    box-shadow:3px 3px 6px rgba(0,0,0,0.2);
    display:inline-block;
    font-size: 0;
    .pdtExplanation{
        padding: 15px 0px 15px 15px;
        display: flex;
        // border: 1px solid $cf;
        background-color:$F2;
        line-height: 1.5;
        justify-content: space-around;
            .pdtTitle{
                margin-right: 20px;
              
                a{
                    text-decoration: none;
                    font-size: 25px;

                }
            }
            li{
                color: #838383;
                font-size: 20px;
            }
            #liM{
               margin: 10px 0;
               color: #838383; 
               font-size: 17px;
            }
        
    }
    .pdtImg{
        padding: 13px;
        background-color:$F2;
        width: 300px;
        max-height: 270px;
        cursor: pointer;
    }
}
.much{
    display: flex;
    flex-direction: column;
    // padding: 10px;
    .muchSpan{
            display: flex;
            flex-direction: column;
            font-size: 28px;
            color: $R;
            margin-bottom: 10px;
            text-align: center;
    }
    del{
        font-size: 20px;
    }
}
.pdtQuantity{
    button{
        background-color: #C9BE9F;
        border: 1px solid #C9BE9F;
        cursor: pointer;
        &:focus{
            outline: none;
            border: 1px solid #C9BE9F;
        }

    }
    button.left{
        margin-right: -7px;

    }
    button.right{
        margin-left: -7px;
    }
    input{
        outline: none;
    }
}

svg.pdtsvg{
    font-size: 10px;
    width: 10px;
    height: 10px;
}
    
    .pdtValue{
        width: 50px;
        // height: 32px;
        // border-left: none;
        // border-right: none;
        font-size: 16px;
        font-weight: 400;
        // -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        cursor: text;
        border-radius: 0;
        border: none;
        color: #C9BE9F;
        // -webkit-appearance: none;
    }
    
/////////////頁數/////////////////
.page-normal{
    display: flex;
    justify-content: center;
    padding-top: 114px;
    padding-bottom: 175px;
    .page-current,.page-prev{
        margin-right: 10px;
        font-size: 25px;
        color: #FBFFE0;
        border-radius: 50px;
        border: 3px solid #FBFFE0;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
    }
    a{
        margin: 0 10px;
        text-decoration: none;
        font-size: 25px;
        color: #FBFFE0;
        border-radius: 50px;
        border: 3px solid #FBFFE0;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        display: flex;
        justify-content: center;

    }
}
div.buttons{
    display: flex;
    justify-content: center;
    background-color: #FBFFE0;
    button{
        margin:20px 10px;
        font-size: 25px;
        background-color:$F3;
        border: 1px solid $F3;
        cursor: pointer;
        border-radius: 5px;
        &:hover{
            background-color: #e2d5a0;
        }
        &:focus{
            // border: 1px solid $F3;
            outline: none;
        }
    }
}
///////////////prdtslist////////////////

table.table{
    border: 1px solid red;
    background-color: #F3E9C0;
    // display: flex;
    tr > td{
        font-size: 22px;
        width: 120px;
        text-align: center;
        color:#838383;;
    }
    tr >.name{
        font-size: 18px;
        border: 1px solid forestgreen;
        text-align: center;
        color:#838383;
        height: 20px;
    }
    .tdimg{
        width: 50%;
        border: 1px solid firebrick;
        margin-top: 7px;
    }
}