@import'../../base/var';
@import'../../mixin/mixins';
// @import'../../base/reset';
// @import'./modules/button';
@import'../../base/fonts';

// 標頭開始
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "PingFang-TC-thin","NotoSansCJKtc-Thin","sans-serif";
    text-decoration: none;
    list-style: none;
   
}
#header{
    width: 100%;
    height: 123px;
    display: flex;
    position: fixed;
    background: transparent;
    background-color: #D3E4C6;
    z-index: 9;
    font-family:"Pc","NotoSansCJKtc-Thin","sans-serif";

    @include newRwd("bigPhone"){
        width: 100%;
        height: 55px;
    }
    // 漢堡選單開始
    #hamburgerMenuToggle{
        opacity: 0;
        &:checked + #hamburgerMenuButton > span{
            transform: rotate(45deg);
            &::before{
                top: 0;
                transform: rotate(0deg);
            }
            &::after{
                top: 0;
                transform: rotate(90deg);
            }
        }
        &:checked ~ #navigationForMobile{
            left: 0;
        }
    }
    #hamburgerMenuButton{
        width: 45px;
        height: 35px;
        align-self: center;
        margin-left: 10px;
        position: relative;
        cursor: pointer;
        display: none;
        @include newRwd("newSmallPhone"){
            margin-left: 5px;
            }
        
        span{
            display: block;
        }
        span, span::before, span::after{
            content: '';
            display: block;
            width: 45px;
            height: 5px;
            border-radius: 10px;
            background-color: #8F8770;
            position: absolute;
            transition-duration: .35s;
            @include newRwd("newSmallPhone"){
                width: 36px;
                height: 3px;
                }
            @include newRwd("miniPhone"){
                width: 30px;
                height: 3px;
                }
            }
        span{
            top: 45%;
            &::before{
                content: '';
                top: -15px;
                @include newRwd("newSmallPhone"){
                    top: -10px;
                    }
            }
            &::after{
                content: '';
                top: 15px;
                @include newRwd("newSmallPhone"){
                    top: 10px;
                    }
            } 
        }
        @include newRwd("bigPhone"){
            display: block;
        }
    }
    // 漢堡選單結束
    // 行動版導覽列開始
    #navigationForMobile{
        display: none;
        @include newRwd("bigPhone"){
            display: block;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 55px;
            left: -100%;
            background-color: white;
            opacity:80%;
            transition-duration: .35s;
            #searchBarForMobile{
                width: 100%;
                height: 70px;
                display: flex;
                #searchInputForMobile{
                    background-color: #FFFFFF !important;
                    background-image: url("/img/22/index/hamburger_menu_search.png");
                    background-repeat: no-repeat;
                    background-position: left 2% center;
                    padding: 3px 3px 3px 50px;
                    width: 80%;
                    height: 60%;
                    border-radius: 10px;
                    font-size: 21px;
                    line-height: 28px;
                    margin: auto;
                    align-self: center;
                    &:focus{
                        outline: none;
                    }
                }
            }
            li{
                list-style: none;
                text-align: center;
                font-size: 24px;
                margin: 30px 0px 0px 0px;
                a{
                    color: #515151;
                }
            }
        }
    }
    // 行動版導覽列結束
    #headerContentContainer{
        // border: 1px solid red;
        width: 1180px;
        height: 50px;
        margin: 38px 0px 0px 364px;
        display: flex;
        justify-content: space-between;
        @include newRwd("laptop"){
            width: 970px;
            margin: auto;
            align-items: center;
        }
        @include newRwd("pad"){
            width: 920px;
            margin: auto;
            align-items: center;
        }
        #logo{
            width: 264px;
            height: 46px;
            &:hover{
                content: url('../../../img/22/index/ch05_header_logo_hover.png');
            }

            @include newRwd("laptop"){
                width: 216px;
                height: 38px;
                align-self: center;
            }
            @include newRwd("pad"){
                width: 216px;
                height: 38px;
                align-self: center;
            }
            @include newRwd("bigPhone"){
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
            }
            @include newRwd("miniPhone"){
                width: 170px;
                height: 30px;
            }
        }
        // 桌機版導覽列開始
        #navigationForPC{
            // border: 1px solid blue;
            width: 762px;
            height: 50px;
            display: flex;
            align-items: center;
            @include newRwd("laptop"){
                width: 625px;
                align-items: center;
            }
            a{
                font-size: 30px;
                @include newRwd("laptop"){
                    font-size: 20px;
                }
                @include newRwd("pad"){
                    font-size: 20px;
                }
                @include newRwd("bigPhone"){
                    display: none;
                }
            }
            .navGeneralAnchors{
                color: #B8AD91;
                &:hover{
                    color: #CEC2B6;
                }
            }
            :nth-child(2),:nth-child(3){
                margin-left: 25px;
                @include newRwd("laptop"){
                    margin-left: 20px;
                }
            } 
            #navSepcialAnchor{
                color: #858585;
                padding: 4px 0;
                div{
                    width: 139px;
                    height: 100%;
                    border-radius: 3px;
                    text-align: center;
                    background-color: #B8AD91;
                    color: #ffffff;
                    &:hover{
                        background-color: #F2F0D7;
                        color: #CEC2B6;
                    }
                    margin: 0px 28px;
                    @include newRwd("laptop"){
                        width: 114px;
                    }
                }
            }
            .navIcons{
                img{
                    @include newRwd("laptop"){
                        width: 30px;
                        
                    }
                }
            }
            #navIcons02, #navIcons03{
                margin-left: 20px;
            }
        }
        // 桌機版導覽列結束
        // 行動版次導覽列開始
        #subNavigationForMobile{
            display: none;
            @include newRwd("bigPhone"){
                display: block;
                // border: 1px solid red;
                width: 96px;
                height: 40px;
                display: flex;
                justify-content: space-between;
                position: absolute;
                right: 10px;
            }
            @include newRwd("newSmallPhone"){
                width: 55px;
                right: 20px;
                img{
                    height: 23px;
                    margin: 5px 0px 0px 10px;
                }
            }
            #navIcons05{
                img{
                    max-width: 30px;
                    max-height: 30px;
                }
            }
        }
        // 行動版次導覽列結束
    }
}
// 標頭結束
#store_16{
    background-image: url(../img/16/bgc-greenFruit.jpg);
    background-repeat: repeat;
    width: 100%;


//banner_16開始
.banner_16{
    width: 100%;
    height: 500px;
    background-image: url(../img/16/banner_new.png);
    background-position: center bottom;
    display: block;
    position: relative;
    top:123px;
    z-index: 0;
    
    @include newRwd("bigPhone"){
        top: 50px;    
    }
    
        div{
            max-width: 600px;
            // border: 1px solid blue;
            display: flex;
            position: relative;
            left: 216px;
            top:84px;
            align-items: center;
            font-family: "PingFang-TC-Regular-thin","sans-serif";
            @include newRwd("pad"){
                left: 10%;
            }
            @include newRwd("mediumPhone"){
                max-width: 486px;
                left: 10%;
                // border: 1px solid purple; 
            }

            @include newRwd("newSmallPhone"){
                max-width: 320px;
                left: 10%;      
            }
            @include newRwd("newSmallPhone"){
                max-width: 320px;
                left: 10%;         
            }
            @include newRwd("miniPhone"){
                max-width: 300px;
                left: 3%;         
            }


            img{
                width: 188px;
                // border:1px solid cadetblue;
                @include newRwd("newSmallPhone"){
                    width: 120px;
                }
                @include newRwd("miniPhone"){
                    width: 100px;          
                }
            }
            div{
                // border: 1px solid blueviolet;
                display: inline;
                position: absolute;
                left: 150px;
                top: 50px;
                @include newRwd("newSmallPhone"){
                    left:90px;
                    top: 25px;
                    padding-left: 10px;
                }
 
                h1{
                    
                    font-size: 70px;
                    padding: 5px;
                    color:  #7D7765;
                    font-family:"PingFang-TC-thin","NotoSansCJKtc-Thin","sans-serif";
                    
                  
                    @include newRwd("newSmallPhone"){
                        font-size: 42px;
                    }
                    @include newRwd("miniPhone"){
                        font-size: 36px;         
                    }
                }
                p{

                    font-size: 24px;
                    padding: 5px;
                    color:  #7D7765;
                    font-family: "PingFang-TC-thin","sans-serif";
                    @include newRwd("newSmallPhone"){
                        font-size: 14px;   
                    }
                    @include newRwd("miniPhone"){
                        font-size: 12px;         
                    }
                }
            }        
        }
}
//Banner結束

//麵包屑開始
.breadcrumb_16{
    display: block;
    position: relative;
    background-color: #FBFFE0;
    width: 100%;
    height: 84px;
    top: 84px;
    z-index: 1;
    @include newRwd("pad"){
        top: 50px;
    }
    @include newRwd("newSmallPhone"){
        top: 50px;
        height: 64px;
    }
    @include newRwd("miniPhone"){
        height: 50px;
    }
    
        div{
        display: block;
        position: absolute;
        left: 10%;
        color:#7D7765;
        font-size: 30px; 
        font-family: "PingFang-TC-thin","sans-serif";
        margin:20px auto;
        @include newRwd("newSmallPhone"){
            font-size: 24px; 
            margin:15px auto;
        }
        @include newRwd("miniPhone"){
            font-size: 20px; 
            margin:15px auto;
        }
        }
    
}
//麵包屑結束

//購物商城-結帳頁

//background
.cart_16{
        // border: 1px solid violet;
        // position: relative;
        top: 150px;
        display: block;
        margin: 100px auto;
        width: 1200px;

        @include newRwd("pad"){
            width: 892px;
            margin: 100px auto;
        }
        @include newRwd("bigPhone"){
            width: 768px;
            margin: 100px auto;
        }
        @include newRwd("mediumPhone"){
            width: 570px;
            margin: 100px auto; 
            min-height: 2550px;
        }
        @include newRwd("newSmallPhone"){
            width: 375px;
            overflow-x: hidden;
        }
        @include newRwd("miniPhone"){
            width: 319px;
            margin: 50px auto;
            overflow-x: hidden;
            top: 100px;
        }
        .item1{
            // border: 1px solid greenyellow;
            width: 1200px;
            height: 76px;
            background-color: #F2F0D7;
            border-radius: 13px 13px 0px 0px;
            display: block;

            @include newRwd("pad"){
                width: 892px;
                height: 56px;
                margin: 0 auto;
                
            }
            @include newRwd("bigPhone"){
                width: 768px;
                height: 56px;
                margin: 0 auto;
                
            }
            @include newRwd("mediumPhone"){
                width: 570px;
                height: 56px;
                margin: 0 auto; 
            }
            @include newRwd("newSmallPhone"){
                width: 375px;
                height: 56px;
                margin: 0 auto;
            }
            @include newRwd("miniPhone"){
                width: 319px;
                height: 40px;
            }

            p{
                position: relative;
                top: 23px;
                font-size: 30px;
                font-family: "PingFang-TC-thin","sans-serif";
                color:#7D7765;
                margin:23px 30px;
                @include newRwd("pad"){
                    font-size: 30px;
                    top: 20px;
                }
                @include newRwd("bigPhone"){
                    font-size: 30px;
                    top: 10px;
                    margin:15px 20px;  
                }

                @include newRwd("newSmallPhone"){
                    font-size: 24px;
                    top: 10px;
                    margin:15px 20px;
                }
                @include newRwd("miniPhone"){
                    font-size: 20px;
                    top: 10px;
                    margin:15px 20px;
                }
                
            }
        }
        .mainArea{
            display: flex;
            width: 1200px;
            background-color: #FBFFE0;
            margin: 0 auto;
            flex-direction: column;
            @include newRwd("pad"){
                width: 892px;
                margin: 0 auto;
            }
            @include newRwd("bigPhone"){
                width: 768px;
                margin: 0 auto;

            }
            @include newRwd("mediumPhone"){
                width: 570px;
                margin: 0 auto; 
            }
            @include newRwd("newSmallPhone"){
                width: 375px;
                margin: 0 auto;
            }
            @include newRwd("miniPhone"){
                width: 319px;
                margin: 0 auto;
            }

            .list_h{
                background-color: #C9BE9F;
                width: 1050px;
                height: 60px;
                color: #ffffff;
                font-size: 24px;
                font-family: "PingFang-TC-thin","sans-serif";

                margin: 50px auto 0px auto;
                border-radius: 13px 13px 0px 0px;
                box-shadow:3px 3px 6px rgba(0,0,0,0.2);
                display: flex;
                flex-direction: row;
                align-items: stretch;
                text-align: right;
                @include newRwd("pad"){
                    width: 768px;
                    margin: 50px auto 0px auto;
                    font-size: 20px;
                }
                @include newRwd("bigPhone"){
                    width: 668px;
                    margin: 50px auto 0px auto;
                    font-size: 20px;
                }
                @include newRwd("mediumPhone"){
                    width: 476px;
                }
                @include newRwd("newSmallPhone"){
                    width: 320px;
                    margin: 50px auto 0px auto;
                    font-size: 20px;
                }
                @include newRwd("miniPhone"){
                    width: 300px;
                    margin: 30px auto 0px auto;
                    font-size: 20px;
                    height: 50px;
                }

                li{
                    width: 100px;
                    margin: 18px 10px;

                    img{
                        width: 30px;
                    } 
                }
                li:first-child{
                    margin: 18px 30px;
                    width:30px;
                    @include newRwd("bigPhone"){
                        margin: 18px 10px;
                    }
                    @include newRwd("mediumPhone"){
                        margin: 10px 10px;
                    }
                }
                li:nth-child(2){
                    width: 450px;
                    text-align: left;
                    @include newRwd("bigPhone"){
                        width: 300px;
                    }
                    @include newRwd("mediumPhone"){
                        width: 250px;
                    }
                    @include newRwd("newSmallPhone"){
                        width: 250px;
                    }
                    @include newRwd("miniPhone"){
                        width: 250px;
                        margin: 15px 10px 10px 0px;
                    }
                }
                li:nth-child(3),li:nth-child(4),li:nth-child(5){
                    @include newRwd("pad"){
                        display: none;
                    }
                    @include newRwd("bigPhone"){
                        display: none;
                    }
                    @include newRwd("mediumPhone"){
                        display: none;
                    }
                    @include newRwd("newSmallPhone"){
                        display: none;
                    }
                }
                
            }
            .content{
                // border: 1px solid #abc;
                z-index: 1;
                width: 1050px;
                background-color: #fff;
                // display: flex;
                margin: 0 auto;
                box-shadow:3px 3px 6px rgba(0,0,0,0.2);
                @include newRwd ("pad"){
                    width: 768px;
                }
                @include newRwd ("bigPhone"){
                    width: 668px;
                }
                @include newRwd ("mediumPhone"){
                    width: 476px;
                }
                @include newRwd ("newSmallPhone"){
                    width: 320px;
                }
                @include newRwd ("miniPhone"){
                    width: 300px;
                }
                .pickUpInfo{
                    // border: 1px solid blue;
                    width: 960px;
                    margin: 30px;
                    font-family: "PingFang-TC-thin","sans-serif";
                    margin: 0 auto;
                    @include newRwd("pad"){
                        width: 768px;
                    }
                    @include newRwd("mediumPhone"){
                        width: 476px;
                    }
                    @include newRwd("newSmallPhone"){
                        width: 320px;
                    }
                    @include newRwd("miniPhone"){
                        width: 300px;
                    }

                    div{
                        display: flex;
                        
                        li{ 
                            margin: 20px;
                            font-size: 18px;
                            color: #707070;
                            .locationIcon{
                                width: 30px;
                                vertical-align: middle;
                                margin-right: 10px;
                            }
                            .mapIcon{
                                width: 15px;
                                vertical-align: middle;
                            }

                        }
                        li:nth-child(2){
                            color: #c00202;
                        }
                        
                        input{
                        margin-left: 65px;
                        margin-top: 20px;
                        

                        }
                        span{
                            font-size: 18px;
                             color: #707070;
                        }
                        div{
                            margin-left: 80px;
                            line-height: 2;
                            font-size: 18px;
                            color: #707070;
                            img{
                                margin-left: 10px;
                            }
                        }
                        .imgMRT{
                            margin-top: 50px;
                            position: relative;
                            right: 10%;
                            top: 0px;
                        }
                    }
                }
                .orderItem{
                    // border: 1px solid #7D7765;
                    margin: 20px auto;
                    width: 960px;
                    @include newRwd("pad"){
                        width:768px;    
                    }
                    @include newRwd("bigPhone"){
                        width:568px;
                    }
                    @include newRwd("mediumPhone"){
                        width:476px;
                    }
                    @include newRwd("newSmallPhone"){
                        width:320px;
                    }
                    @include newRwd("miniPhone"){
                        width:300px;
                    }
                    .orderInfo{
                        // border: 1px solid goldenrod;
                        width: 960px;
                        margin: 0 auto;
                        display: flex;
                        
                        @include newRwd("pad"){
                            width:768px;
                            flex-wrap: wrap;
                        }
                        @include newRwd("bigPhone"){
                            width:568px;
                        }
                        @include newRwd("mediumPhone"){
                            width:476px;
                        }
                        @include newRwd("newSmallPhone"){
                            width:320px;
                        }
                        @include newRwd("miniPhone"){
                            width:300px;
                        }
                       
                        .imgBlock{
                            width:180px;
                            border:2px solid #C9BE9F;
                            border-radius: 5px;
                            margin: 20px;
                            box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
                            @include newRwd("pad"){
                                width:180px;
                            }
                            @include newRwd("bigPhone"){
                                margin: 20px 10px;
                            }
                            @include newRwd("mediumPhone"){
                                margin: 10px auto;
                            }
                            img{
                                width: 100%;
                                overflow: hidden;
                            }
                        }
                        .orderDetails{
                            margin-top: 20px;
                            @include newRwd("mediumPhone"){
                                margin-left:55px;
                            }
                            @include newRwd("newSmallPhone"){
                                width: 320px;
                                margin:0 auto;
                            }
                            @include newRwd("miniPhone"){
                                width: 300px;
                                margin:0 auto;
                            }
                            .productName{
                                font-size: 24px;
                                font-family: "PingFang-TC-thin","sans-serif";
                                color:#707070;
                                margin: 20px;
                                text-align: left;
                                @include newRwd("newSmallPhone"){
                                    width: 300px;
                                    font-size: 20px;
                                    margin: 20px 0px 20px 20px;
                                }
                                @include newRwd("miniPhone"){
                                    width: 275px;
                                    margin: 20px 10px;
                                }   
                            }
                            .exp{
                                font-size: 20px;
                                color:#707070;
                                margin: 20px;
                                @include newRwd("newSmallPhone"){
                                    width: 290px;
                                    font-size: 16px;
                                    margin: 20px 0px 20px 20px;
                                }
                                @include newRwd("miniPhone"){
                                    width: 275px;
                                    font-size: 16px;
                                    margin: 20px 10px;
                                }
                            }
                        }
                            .orderDetails1{
                                width: 360px;
                                display: flex;
                                flex-wrap: wrap;
                                @include newRwd("pad"){
                                    width: 768px;
                                    margin-left: 240px;
                                }
                                @include newRwd("bigPhone"){
                                    width: 568px;
                                    margin-left: 220px;
                                }
                                @include newRwd("mediumPhone"){
                                    width: 568px;
                                    margin: 0 auto;
                                }
                                @include newRwd("newSmallPhone"){
                                    width: 320px;
                                    
                                }
                                @include newRwd("miniPhone"){
                                    width: 300px;
                                   
                                }
                                .orderTitle{
                                    opacity: 0;
                                    display: flex;
                                    // margin: 0px 5px;
                                    @include newRwd("pad"){
                                        opacity: 1;
                                    }
                                    @include newRwd("bigPhone"){
                                        opacity: 1;
                        
                                    }
                                    @include newRwd("mediumPhone"){
                                        opacity: 1;
                                        margin-left: 60px;
                                    }
                                    @include newRwd("newSmallPhone"){
                                        opacity: 1;
                                        margin-left: 20px;
                                    }
                                    @include newRwd("miniPhone"){
                                        margin-left: 10px;
                                    }
                                }
                                li{
                                    margin: 0 20px;
                                    font-size: 20px;
                                    color: #707070;
                                    
                                    @include newRwd("mediumPhone"){
                                        margin: 0 20px;
                                        font-size: 20px;
    
                                        }
                                    @include newRwd("newSmallPhone"){
                                        margin: 0 10px;
                                        font-size: 16px;
                                        }
                                }
                                @include newRwd("pad"){
                                    li:first-child{
                                        margin: 0px 40px 0px 0px;
                                    }
                                    li:nth-child(2),li:nth-child(3){
                                        margin: 0px 45px;
                                    }
                                }
                                @include newRwd("mediumPhone"){
                                    li:first-child{
                                        margin: 0px 25px 0px 0px;
                                    }
                                    li:nth-child(2),li:nth-child(3){
                                        margin: 0px 30px;
                                    }
                                }
                            }
                            .orders{
                                display: flex;
                                font-family: "PingFang-TC-thin","sans-serif";
                                @include newRwd ("pad"){
                                    margin: 10px 0px;
                                    width: 340px;
                                }
                                @include newRwd ("bigPhone"){
                                    margin: 10px 0px;
                                    
                                }
                                @include newRwd ("mediumPhone"){
                                    margin: 0px 60px;
                                }
                                @include newRwd ("newSmallPhone"){
                                    margin: 0px 20px;
                                }
                                
                                .price{
                                    font-size: 24px;
                                    color:#707070;
                                    margin: 20px;
                                    width: 70px;
                                    @include newRwd("pad"){
                                        margin: 0px 40px 0px 0px; 
                                    }
                                    @include newRwd("bigPhone"){
                                        margin: 0px 35px 0px 0px; 
                                    }
                                    @include newRwd ("newSmallPhone"){
                                        margin: 0px 5px 0px 0px;
                                        font-size: 20px;
                                    }
                                }
                                .quantity{
                                    font-size: 24px;
                                    color:#707070;
                                    margin: 20px;
                                    width: 60px;
                                    @include newRwd("pad"){
                                        margin: 0px 40px 0px 0px; 
                                    }
                                    @include newRwd("bigPhone"){
                                        margin: 0px 35px 0px 5px; 
                                    }
                                    @include newRwd ("newSmallPhone"){
                                        margin: 0px 20px 0px 0px;
                                    }

                                }
                                .amount{
                                    font-size: 24px;
                                    color:#707070;
                                    margin: 20px;
                                    width: 60px;
                                    @include newRwd("pad"){
                                        margin: 0px 35px 0px 35px; 
                                    }
                                    @include newRwd("bigPhone"){
                                        margin: 0px 25px 0px 0px; 
                                    }
                                    @include newRwd ("newSmallPhone"){
                                        margin: 0px 20px 0px 0px;
                                        font-size: 20px;
                                        width: 40px;
                                    }
                                    @include newRwd ("miniPhone"){
                                        margin: 0px;
                                        font-size: 20px;
                                        width: 40px;
                                    }
                                }
                            }
                          }
                            
                       
                    }
                .orderCount{
                    font-size: 24px;
                    text-align: right;
                    margin: 30px 20px;
                }
                .creditCardForm{
                    // border: 1px solid red;
                    margin: 30px auto;
                    width: 800px;
                    font-size: 24px;
                    font-family: "PingFang-TC-thin","sans-serif";
                    color: #9D9D9D;
                    display: flex;
                    flex-wrap: wrap;
                    @include newRwd("pad"){
                        width: 600px;
                    }
                    @include newRwd("bigPhone"){
                        width: 600px;
                    }
                    @include newRwd("mediumPhone"){
                        width: 476px;
                    }
                    @include newRwd("newSmallPhone"){
                        width: 310px;
                    }
                    @include newRwd("miniPhone"){
                        width: 290px;
                    }
                    .formGroup{
                        width:350px;
                        margin: 10px 0px;
                        
                        .formControl{
                            width: 170px;
                            height: 35px;
                            border:1px solid #9D9D9D;
                            border-radius: 5px;
                            outline: none;
                            padding: 5px;
                            box-shadow:3px 3px 6px rgba(0,0,0,0.2);
                            &:focus{
                                border: 2px solid #C9BE9F;
                            }
                        }

                    }
                    .creditInfo1{
                        width:400px;
                        margin: 10px 0px 10px 50px ;
                        
                        @include newRwd("pad"){
                            width: 300px;
                            margin: 0 auto;
                        }
                        @include newRwd("mediumPhone"){
                            width: 456px;
                            font-size: 20px;
                        }
                        @include newRwd("newSmallPhone"){
                            width: 310px;
                        }
                        @include newRwd("miniPhone"){
                            width: 290px;
                        }
                        
                        .creditCard{
                            width: 250px;
                            height: 35px;
                            border:1px solid #9D9D9D;
                            border-radius: 5px;
                            outline: none;
                            padding: 5px;
                            font-size: 16px;
                            box-shadow:3px 3px 6px rgba(0,0,0,0.2);
                            &:focus{
                                border: 2px solid #C9BE9F;
                            }
                            @include newRwd("pad"){
                                width: 100px;
                                margin: 0 auto;
                            }
                            @include newRwd("bigPhone"){
                                width: 100px;
                            }
                            @include newRwd("mediumPhone"){
                                width: 72px;
                                height: 30px;
                             }
                             @include newRwd("newSmallPhone"){
                                width: 60px;
                             }
                             @include newRwd("miniPhone"){
                                width: 55px;
                            }
                            }
                            #creditCardRwd{
                                @include newRwd("newSmallPhone"){
                                    margin-top: 10px;
                                }
                                @include newRwd("miniPhone"){
                                    margin: 10px auto;
                                }
                        }
                     }
                    .creditInfo2{
                        display: flex;
                        flex-wrap: wrap;
                        // justify-content: space-between;

                        width: 780px;
                        @include newRwd("pad"){
                            width: 600px;
                        }
                        @include newRwd("mediumPhone"){
                            width: 456px;
                            font-size: 20px;
                            margin: 0 auto;
                        }
                        @include newRwd("newSmallPhone"){
                            width: 310px;
                            font-size: 18px;
                        }
                        @include newRwd("miniPhone"){
                            width: 290px;
                        }
                        .expMonth{
                            width: 55px;
                            height: 35px;
                            margin-left: 7px;
                            border:1px solid #9D9D9D;
                            border-radius: 5px;
                            outline: none;
                            color: #C9BE9F;
                            padding: 5px 1px;
                            font-size: 16px;
                            box-shadow:3px 3px 6px rgba(0,0,0,0.2);

                            &:focus{
                                border: 2px solid #C9BE9F;
                            }
                            @include newRwd("pad"){
                                width: 135px;
                            }
                            @include newRwd("mediumPhone"){
                                width: 72px;
                                height: 30px;
                                font-size: 12px;
                            }
                            @include newRwd("miniPhone"){
                                width: 66px;
                            }
                        }
                        .expYear{
                            width: 80px;
                            height: 35px;
                            border:1px solid #9D9D9D;
                            border-radius: 5px;
                            outline: none;
                            color: #C9BE9F;
                            padding: 5px 1px;
                            font-size: 16px;
                            box-shadow:3px 3px 6px rgba(0,0,0,0.2);

                            &:focus{
                                border: 2px solid #C9BE9F;
                            }
                            @include newRwd("pad"){
                                width: 135px;
                            }
                            @include newRwd("mediumPhone"){
                                width: 72px;
                                height: 30px;
                                font-size: 12px;
                            }
                            @include newRwd("miniPhone"){
                                width: 66px;
                            }

                        }
                        #securityCodeBlock{
                            margin-left: 50px;
                            @include newRwd("pad"){
                                margin-top: 20px;
                            }
                           
                            .securityCode1{
                                width: 80px;
                                height: 35px;
                                border:1px solid #9D9D9D;
                                border-radius: 5px;
                                outline: none;
                                padding: 5px;
                                font-size: 16px;
                                box-shadow:3px 3px 6px rgba(0,0,0,0.2);
                                &:focus{
                                    border: 2px solid #C9BE9F;
                                }
                                @include newRwd("pad"){
                                    width: 80px;
                                }
                                @include newRwd("mediumPhone"){
                                    width: 50px;
                                    height: 30px;
                                    font-size: 12px;
                                }
                            }
                        }
                        #creditCards{
                            width: 400px;
                            margin-top: 20px;
                            img{
                                width: 100px;
                                @include newRwd("newSmallPhone"){
                                    width: 98px;
                                }
                                @include newRwd("miniPhone"){
                                    width: 90px;
                                }
                            }
                            .transparent{
                                opacity: 0.2;
                            }
    
                        }
                    }
                    
                }

            }
            hr{
                @include newRwd("pad"){
                    width: 728px;
                    margin: 0 auto;
                }
                @include newRwd("bigPhone"){
                    width: 506px;

                }
                @include newRwd("mediumPhone"){
                    width: 476px;
                }
                @include newRwd("newSmallPhone"){
                    width: 300px;
                }
            }
            .item2{
                background-color: #F2F0D7;
                height: 100px;
                width: 1050px;
                margin: 0 auto;
                margin-bottom: 50px;
                box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
                @include newRwd("pad"){
                    width: 768px;
                }
                @include newRwd("bigPhone"){
                    width: 668px;
                }
                @include newRwd("mediumPhone"){
                    width: 476px;
                }
                @include newRwd("newSmallPhone"){
                    width: 320px;
                    height: 130px;
                }
                div{
                    // border: 1px solid red;
                    font-size: 24px;
                    color: #4E4D4D;
                    display: flex;
                    justify-content: flex-end;
                    width: 800px;
                    margin: 0 auto;
                    @include newRwd("pad"){
                        width: 768px;
                    }
                    @include newRwd("bigPhone"){
                        width: 668px;
                    }
                    @include newRwd("mediumPhone"){
                        width: 476px;
                    }
                    @include newRwd("newSmallPhone"){
                        width: 320px;
                    }
                }
                    span{
                        @include newRwd("newSmallPhone"){
                            margin: 12px auto;
                            width: 250px;
                        }
                    }
                    
                    //結帳按鈕
                    .btn_modal{
                        width: 110px;
                        height: 50px;
                        border: none;
                        color: #ffffff;
                        background-color: #C9BE9F;
                        border-radius: 13px;
                        font-size: 24px;
                        margin: 24px 20px;
                        outline: none;
                        cursor: pointer;
                        &:hover{
                            background-color: #c0b28d;
                        }
                        @include newRwd("newSmallPhone"){
                            margin: 15px 70px;
                            justify-content: center;
                        }
                    }
                     // 燈箱區開始
                    .overlay{
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100vh;
                        background-color: hsla(0, 0%, 0%, .5);
                        
                       
                        opacity: 0;
                        z-index: -1;
                        transition: opacity 1s;
                      }
                      .overlay.-on{
  
                       
                        opacity: 1;
                        z-index: 1;
                      }
                      
                      .overlay.-opacity-zero{
                        opacity: 0;
                      }
                      
                      /* 燈箱article 置中及基本樣式 */
                      .overlay > article{
                        background-color:#F2F0D7;
                        width: 90%;
                        max-width: 800px;
                        border-radius: 13px;
                        box-shadow: 0 0 10px #ddd;
                        padding: 10px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        div{
                            background-color: #C9BE9F;
                            height: 50px;
                            border-radius: 13px 13px 0px 0px;
                            width: 100%;

                            h1{
                                
                                font-size: 30px;
                                font-family:"PingFang-TC-thin", "sans-serif";
                                margin: 10px auto;
                                color: #ffffff;
                                letter-spacing: 3px;
                                
                            }
                        }
                            h2{
                                font-size: 24px;
                                margin: 20px;
                                text-align: center;
                            }
                            p{
                                font-size: 20px;
                               line-height: 2;
                                text-align: center;


                            }
                            .btn_modal_close{
                                width: 110px;
                                height: 30px;
                                border: none;
                                color: #ffffff;
                                background-color: #C9BE9F;
                                border-radius: 13px;
                                font-size: 20px;
                                margin: 25px 0px;
                                outline: none;
                                position: relative;
                                left: 43%;
                                &:hover{
                                    background-color: #c0b28d;
                                }
                              
                                a{
                                    &:visited{
                                        text-decoration: none;
                                        color: #ffffff;
                                        
                                    }
                                    
                                }

                            }
                      }
             }
            }
        }

   
//結帳區結束

//FOOTER開始
footer{
    width: 100%;
    height: 200px;
    background-color: #FBFFE0;
    cursor: pointer;
    font-size: 18px;
    color: #D3E4C6;
    @include newRwd("newSmallPhone"){
        height: 220px;
    }
    
    .footerBlock{
        max-width:1200px;
        margin: 0 auto;
        @include newRwd("pad"){
            width: 892px;
        }
        @include newRwd("bigPhone"){
            width: 768px;
        }
        @include newRwd("mediumPhone"){
            width: 570px;
        }
        @include newRwd("newSmallPhone"){
            width: 375px;
        }
        @include newRwd("miniPhone"){
            width: 319px;
        }
        
        div{
            height: 80px;
            display: flex;
            justify-content: flex-end;
            @include newRwd("newSmallPhone"){
                flex-wrap: wrap;
                justify-content: center;
            }
           
        .footer_logo{
            margin-top: 50px;
            display: block;
            width:190px;
            border-right:1px solid #D3E4C6;
            text-align: left;
           
            @include newRwd("newSmallPhone"){
                border-right:none;
                margin-top: 20px;
            }

            img{
                width: 162px;
                padding-top: 13px;
            }
            .copyright{
                margin-top:6px;
                font-size: 10px;
                font-family: '微軟正黑體';
            }
        }
        .info{
            display:block;
            text-align: left;
            width: 330px;
            margin-top: 50px;
            @include newRwd("newSmallPhone"){
                margin-top: 20px;
            }
            a{
                width: 280px;
                margin: 20px;
                text-decoration: none;
                color: #D3E4C6;
                font-size: 18px;
                line-height: 1.5;
                    img{
                        padding-right: 10px;
                    }
                 }
             }
         } 
    }  
}
}

//FOOTER結束