//banner_16開始
@mixin banner ($mb){
    .banner_16{
        width: 100%;
        height: 500px;
        background-image: url(../img/16/banner_new.png);
        background-position: center bottom;
        display: block;
        position: relative;
        top:123px;
        z-index: 0;
        margin-bottom: $mb;
        @include newRwd("laptop"){
            margin-bottom: 122px;
        }
        @include newRwd("pad"){
            margin-bottom: 122px;
        }
        @include newRwd("bigPhone"){
            top: 50px;
            margin-bottom: 122px;
        }
        @include newRwd("bigPhone"){
            top: 50px;
            // margin-bottom: 49px;
        }
    
            div{
                max-width: 600px;
                // border: 1px solid blue;
                display: flex;
                position: relative;
                left: 216px;
                top:84px;
                align-items: center;
                font-family: "PingFang-TC-Regular-thin","sans-serif";
                @include newRwd("pad"){
                    left: 10%;
                }
                @include newRwd("newSmallPhone"){
                    max-width: 300px;
                    left: 3%;
                }
    
    
    
    
                img{
                    width: 188px;
                    // border:1px solid cadetblue;
                    @include newRwd("newSmallPhone"){
                        width: 94px;
                    }
                }
                div{
                    // border: 1px solid blueviolet;
                    display: inline;
                    position: absolute;
                    left: 150px;
                    top: 50px;
                    @include newRwd("newSmallPhone"){
                        left:90px;
                        top: 20px;
                        padding-left: 10px;
                        
                    }
     
                    h1{
                        
                        font-size: 70px;
                        padding: 5px;
                        color:  #7D7765;
                        font-family:"Pc", "PingFang-TC-thin","NotoSansCJKtc-Thin","sans-serif";
                        @include newRwd("newSmallPhone"){
                            font-size: 42px;
                        }
                        @include newRwd("miniPhone"){
                            font-size: 36px;         
                        }
                    }
                    p{
    
                        font-size: 24px;
                        padding: 5px;
                        color:  #7D7765;
                        font-family: "PingFang-TC-thin","sans-serif";
                        @include newRwd("newSmallPhone"){
                            font-size: 16px;
                            
                        }
                        @include newRwd("miniPhone"){
                            font-size: 12px;         
                        }
                    }
                }        
            }
        @media screen and (max-width:320px){
            .banner_16 div{
                left: 0% !important;
            }
        }
    }

    
}