.headerMainWrapper{
    position: relative;
    margin-left:10px;
    .headerWrapper{
        margin-bottom: 10px;
        header{
            form{
                div{
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    padding:5px;
                }
            }
        }
    }
}