$maxw700:700px;
$minw700:701px;
@mixin rwd($breakpoint){
  @if($breakpoint == "w700"){
    @media all and (max-width: $maxw700){
      @content;
    }
  }
}

@font-face{
  font-family: "PingFangTC-Regular-2";
  src: url("../../fonts/PingFang-Fan-ChangGuiTi/PingFang-TC-Regular-2.otf");
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: PingFangTC-Regular-2, sans-serif;
  font-weight: lighter;
}
body{
  @import 'memheader';
  main.linWrap{
    width: 100%;
    min-height: 640px;
    height: 70vh;
    // border: 1px solid black;
    background-image: url('../../img/03/bgrev1.png');  
    background-repeat: repeat;
    background-position: center;
    background-size: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include rwd(w700){
      height: 670px;
    }
    div.signUpsignIn{
      // border: 1px solid green;
      width: 670px;
      height: 585px;
      border-radius: 10px;
      position: relative;
      background-color: #fff;
      box-shadow: 1.5px 1.5px 4px rgba(0,0,0,.4);
      transition: all .4s;
      @include rwd(w700){
        width: 320px;
        height: 640px;
      }
      div.signUp.signUpmm.rwdsignUp{
        opacity: 0;
        z-index: -1;
      }
      div.signUp.signUpmm{
        left: 0%;
        opacity: 1;
        z-index: 2;
        @include rwd(w700){
          width: 100%;
        }
      }
      div.signUp{
        border-radius: 10px;
        background-color: #fff;
        // border: 1px solid purple;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 0;
        transition: all 0.4s;
        opacity: 0;
        @include rwd(w700){
          z-index: -1; 
        }
        h1.signUp{
          color: #8f8770;
          font-size: 22px;
          font-weight: bold;
          align-self: flex-start;
          margin-left: 35px;
          margin-top: 35px;
          @include rwd(w700){
            width: 270px;
            align-self: center;
          }
        }
        div.button{
          width: 270px;
          height: 36px;
          border-radius: 5px;
          margin: 2px 0px 15px 0px;
          border: 1px solid #D4D4D4;
          background-color: white;
          box-shadow: 2px 2px 4px rgba(0,0,0,0.16);
          display: flex;
          .buyBtn{
            width: 50%;
            color: #707070;
            background-color:white;
            font-weight: bold;  
            border-radius: 5px;
            border: none;
            outline: none;
            cursor: pointer;
            box-sizing: content-box;
          }
          .selBtn{
            width: 50%;
            color: #707070;
            background-color:white;
            font-weight: bold;  
            border-radius: 5px;
            border: none;
            outline: none;
            cursor: pointer;
            box-sizing: content-box;
          }
          .adbtn{
            background-color: #B9AF94;
            border: 1px solid #D4D4D4;
            color: white;
            transition: all .4s;
          }
        }
        div.member{
          display: flex;
          flex-direction: column;
          align-items: center;
          form#member{
            display: flex;
            flex-direction: column;
            align-content: center;
            input{
              margin: 0px 0px 20px 0px;
              padding-left: 10px;
              border-radius: 5px;
              font-weight: bold;
              width: 270px;
              height: 39px;
              background-color: #EDEBEB;
              box-shadow: 2px 2px 4px rgba(0,0,0,0.16);
              outline: none;
              border: none;
            }
            div.checkEmail{
              display: flex;
              width: 270px;
              margin: 0px 0px 20px 0px;
              // border: 1px solid black;
              input.checkEmail{
                width: 50%;
                height: 39px;
                margin: 0;
              }
              button.checkEmail{
                color: white;
                background-color: #B9AF94;
                border-radius: 5px;
                font-weight: bold;  
                align-self: flex-end;
                width: 40%;
                height: 39px;
                margin-left: 10%;
                border: none;
                box-shadow: 2px 2px 4px rgba(0,0,0,0.16);
                outline: none;
                cursor: pointer;
                transition: all .3s;
                
                &:hover{
                  color:white;
                  box-shadow: 1.5px 1.5px 3px rgba(0,0,0,.4);
                  background-color: #d4c7a5;
                  transform: scale(1.01);
                }
              }
            }
            button.subSignup{
              color: white;
              align-self: center;
              background-color: #B9AF94;
              width: 100px; 
              height: 32px;
              margin: 0px 0px 20px 0px;
              border-radius: 5px;
              font-weight: bold;  
              border: none;
              box-shadow: 2px 2px 4px rgba(0,0,0,0.16);
              outline: none;
              cursor: pointer;
              transition: all .3s;
              &:hover{
                  color:white;
                  box-shadow: 1.5px 1.5px 3px rgba(0,0,0,.4);
                  background-color: #d4c7a5;
                  transform: scale(1.01);
                }
            }
            button.changeTOmember{
              color: #707070;
              align-self: center;
              background-color: white;
              width: 100px; 
              height: 32px;
              border-radius: 5px;
              font-weight: bold;  
              border: 2px solid #B9AF94;
              box-shadow: 1px 1px 2px rgba(0,0,0,0.16);
              outline: none;
              cursor: pointer;
              transition: all .3s;
              display: none;
              &:hover{
                color: rgba(0,0,0,.6);
                box-shadow: 1.5px 1.5px 3px rgba(0,0,0,.4);
              }
              @include rwd(w700){
                display: block;
              }
            }
          }
          div.lineBor{
              width: 270px;
              height: 39px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-top: 5%;
              // border: 1px solid black;
              @include rwd(w700){
                margin-top: 10%;
              }
              div.lineL{
                width: 30%;
                border-top:1px solid #8F8770;
                justify-self: start;
              }
              span.signUp{
                color: #8F8770;
                font-weight: 500;
                font-size: 14px;
              }
              div.lineR{
                width: 30%;
                border-top:1px solid #8F8770;
                justify-self: flex-end;
              }
            }
            div.fbgoogle{
              display: flex;
              // border: 1px solid black;
              width: 150px;
              justify-content: space-between;
              cursor: pointer;
            }
        }
        div.seller{
          form#seller{
            display: flex;
            flex-direction: column;
            input.seller{
              margin: 0px 0px 20px 0px;
              padding-left: 10px;
              border-radius: 5px;
              font-weight: bold;  
              width: 270px;
              height: 39px;
              background-color: #EDEBEB;
              box-shadow: 2px 2px 4px rgba(0,0,0,0.16);
              outline: none;
              border: none;
            }
            button.seller{
              color: white;
              align-self: center;
              background-color: #B9AF94;
              width: 100px; 
              height: 32px;
              margin: 0px 0px 20px 0px;
              border-radius: 5px;
              font-weight: bold;  
              border: none;
              box-shadow: 2px 2px 4px rgba(0,0,0,0.16);
              outline: none;
              cursor: pointer;
              transition: all .3s;
              &:hover{
                  color:white;
                  box-shadow: 1.5px 1.5px 3px rgba(0,0,0,.4);
                  background-color: #d4c7a5;
                  transform: scale(1.01);
                } 
            }
            button.changeTOmember{
              color: #707070;
              align-self: center;
              background-color: white;
              width: 100px; 
              height: 32px;
              border-radius: 5px;
              font-weight: bold;  
              border: 2px solid #B9AF94;
              box-shadow: 1px 1px 2px rgba(0,0,0,0.16);
              outline: none;
              cursor: pointer;
              transition: all .3s;
              display: none;
              &:hover{
                color: rgba(0,0,0,.6);
                box-shadow: 1.5px 1.5px 3px rgba(0,0,0,.4);
              }
              @include rwd(w700){
                display: block;
              }
            }
          }
        }
      }
      div.signIn.signInmm.rwdsignIn{
        opacity: 1;
        z-index: 1;
      }
      div.signIn.signInmm{
        opacity: 0;
        z-index: 1;
        left: 0;
      }
      div.signIn{
        width: 50%;
        height: 100%; 
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        // border: 1px solid red;
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
        opacity: 1;
        transition: all .4s;
        // display: none;
        @include rwd(w700){
          width: 100%;
          left: 0%;
        }
        h1.signIn{
          color: #8f8770;
          font-size: 22px;
          font-weight: bold;
          margin: 28% 0px 12% 0px;
        }
        form#signIn{
          display: flex;
          flex-direction: column;
          input{
            margin: 0px 0px 20px 0px;
            padding-left: 10px;
            border-radius: 5px;
            font-weight: bold;  
            width: 270px;
            height: 39px;
            background-color: #EDEBEB;
            box-shadow: 2px 2px 4px rgba(0,0,0,0.16);
            outline: none;
            border: none;
          }
          div.signforget{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 270px;
            margin: 10px 0px 17px 0px;
            div{
              flex-grow: 1;
              display: flex;
              width: 33.3333%;
              button.subsignIn{
                color: white;
                align-self: center;
                background-color: #B9AF94;
                width: 100px; 
                height: 32px;
                border-radius: 5px;
                font-weight: bold;  
                border: none;
                box-shadow: 2px 2px 4px rgba(0,0,0,0.16);
                outline: none;
                cursor: pointer;
                transition: all .3s;
                &:hover{
                  color:white;
                  box-shadow: 1.5px 1.5px 3px rgba(0,0,0,.4);
                  background-color: #d4c7a5;
                  transform: scale(1.01);
                } 
              }
              a{
                justify-self: start;
                align-self: flex-end;
                font-size: 12px;
                margin-left: 10%;
                color: #8f8770;
                &:visited{
                  color: #8f8770;
                }
                &:checked{
                  color: #8f8770;
                }
              }
            }
          }
          button.changeTosignup{
              color: #707070;
              align-self: center;
              background-color: white;
              width: 90px; 
              height: 32px;
              border-radius: 5px;
              font-weight: bold;  
              border: 2px solid #B9AF94;
              box-shadow: 1px 1px 2px rgba(0,0,0,0.16);
              outline: none;
              cursor: pointer;
              transition: all .3s;
              display: none;
              &:hover{
                color: rgba(0,0,0,.6);
                box-shadow: 1.5px 1.5px 3px rgba(0,0,0,.4);
              }
              @include rwd(w700){
                display: block;
              }
          }
        }
        div.lineBor{
          width: 270px;
          height: 39px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 5% 0px;
          // border: 1px solid black;
          div.lineL{
            width: 30%;
            border-top:1px solid #8F8770;
            justify-self: start;
          }
          span.signUp{
            color: #8F8770;
            font-weight: 500;
            font-size: 14px;
          }
          div.lineR{
            width: 30%;
            border-top:1px solid #8F8770;
            justify-self: flex-end;
          }
        }
        div.fbgoogle{
          display: flex;
          // border: 1px solid black;
          width: 150px;
          justify-content: space-between;
        }
      }
      div.overlayContainer.overL{
        left: 50%;
      }
      div.overlayContainer{
        display: flex;
        width: 50%;
        height: 100%;
        position: relative;
        left: 0%;
        z-index: 5;
        // border: 1px solid black;
        border-radius: 10px;
        transition: all .4s;
        overflow: hidden;
        background-color: #FBFFE0;
        box-shadow: 0px 0px 5px rgba(0,0,0,.4);
        @include rwd(w700){
          display: none;
        }
        div.container.overm{
          transform: translateX(-50%);
        }
        div.container{
          display: flex;
          width: 200%;
          height: 100%;
          position: absolute;
          transform: translateX(0%);
          transition: all .4s;
          div.signUpR.msignUpR{
            transform: translateX(0%);
          }

          div.signUpR{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            // border: 1px solid blue;
            border-radius: 10px;
            background-color: #FBFFE0;
            transform: translateX(-10%);
            transition: all .4s;
            div.signUpRborder{
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              // border: 1px solid blue;
              margin-bottom: 49px;
              h1{
                font-size: 22px;
                font-weight: bold;
                color: #B9AF94;
              }
              h3{
                font-size: 14px;
                font-weight: bold;
                color: #8F8770;
                margin: 5.5px 0px;
              }
              button{
                width: 100px;
                height: 32px;
                border-radius: 5px;
                border: 0px;
                outline: none;
                color: #B9AF94;
                font-weight: bold;
                background-color: rgba(0,0,0,0);
                margin-top: 10px;
                border:2px solid #B8AD91;
                cursor: pointer;
                transition: all 0.3s;
                &:hover{
                  color: rgba(0,0,0,.6);
                  box-shadow: 1.5px 1.5px 3px rgba(0,0,0,.4);
                }
                &:focus{
                  box-shadow: inset 1.5px 1.5px 3px rgba(0,0,0,.4);
                }
              }
            }
          }
          

          div.signInL.msignInL{
            transform: translateX(0%); 
          }


          div.signInL{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            // border: 1px solid blue;
            border-radius: 10px;
            background-color: #FBFFE0;
            transform: translateX(10%);
            transition: all .4s;

            div.signInLborder{
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              // border: 1px solid blue;
              margin-bottom: 100px;
              h1{
                font-size: 22px;
                font-weight: bold;
                color: #B9AF94;
              }
              h3{
                font-size: 14px;
                font-weight: bold;
                color: #8F8770;
                margin: 5.5px 0px;
              }
              button{
                width: 100px;
                height: 32px;
                border-radius: 5px;
                border: 0px;
                outline: none;
                color: #B9AF94;
                font-weight: bold;
                background-color: rgba(0,0,0,0);
                margin-top: 10px;
                border:2px solid #B8AD91;
                cursor: pointer;
                transition: all 0.3s;
                &:hover{
                  color:rgba(0,0,0,.6);
                  box-shadow: 1.5px 1.5px 3px rgba(0,0,0,.4);
                }
                &:focus{
                  box-shadow: inset 1.5px 1.5px 3px rgba(0,0,0,.4);
                }
              }
            }
          }
          
        }
      }
    }
  }


  // footer{
  //   width: 100%;
  //   height: 100px;
  //   min-height: 100px;
  //   border: 1px solid blue;
  // }
  @import 'memfooter';
}


