$maxw700:700px;
$minw700:701px;
@mixin rwd($breakpoint){
  @if($breakpoint == "w700"){
    @media all and (max-width: $maxw700){
      @content;
    }
  }
}
@font-face{
  font-family: "PingFangTC-Regular-2";
  src: url("../../fonts/PingFang-Fan-ChangGuiTi/PingFang-TC-Regular-2.otf");
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: PingFangTC-Regular-2, sans-serif;
  font-weight: lighter;
}
body{
  @import 'memheader';
  main.memWrap{
    width: 100%;
    min-height: 700px;
    // height: 70vh;
    // border: 1px solid black;
    background-image: url('../../img/03/bgrev1.png');  
    background-repeat: repeat;
    background-position: center;
    background-size: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    div.memBigborder{
      width: 1200px;
      min-height: 620px;
      display: flex;
      justify-content: space-around;
      div.leftBorder{
        width: 25%;
        height: 620px;
        border: 1px solid #B9AF94;
        box-shadow: 0px 6px 6px rgba(0,0,0,.16);
        border-radius: 13px;
        background-color: #F3E9C0;
        display: flex;
        flex-direction: column;
        align-items: center;
        div.title{
          margin-bottom: 7px;
          h1.title{
            font-size: 24px;
            font-weight: normal;
            color: #8F8770;
          }
        }
        
        div.contentBorder{
          width: 80%;
          border-radius: 13px;
          background-color: #fff;
          div{
            display: flex;
            justify-content: center;
            background-color: #EBECE3;
            margin-bottom: 10px;
            box-shadow: 0px 6px 6px rgba(0,0,0,.16);
            h1{
              font-size: 24px;
              font-weight: normal;
              color: #8F8770;
              padding: 5px 0px;
              cursor: pointer;
              position: relative;
              z-index: 2;
              &::after{
                content: '';
                border-bottom: 1.5px solid #B8AD91;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
              }
            }
          }
          .nameBorder{
            background-color: transparent;
            margin: 15px 0px;
            .username{
              font-size: 24px;
              color: black;
              border: none;
              cursor: default;
              &::after{
                content: '';
                border: none;
              }
            }
          }
          div.foursameclass.bgmove{
            position: relative;
            overflow: hidden;
            &::after{
              content: '';
              position: absolute;
              top: 0;
              left: -1;
              z-index: 0;
              height: 100%;
              background-color: #F3E9C0;
              transform: skewX(-45deg);
              animation: trans 1s ease 1 forwards;
            }
            @keyframes trans {
              from{
                width: 0%;
              }
              to{
                width: 150%;
              }
            }
          }
          div.foursameclass{
            h1.addBtn{
              border-width: 3px;
              &::after{
                content: '';
                border-bottom: 3px solid #B8AD91;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                animation: tran 1s ease 1;
              }
            }
            @keyframes tran {
              from{
                width: 0%;
              }
              to{
                width: 100%;
              }
            }
          }
          
          
          div.logoutBorder{
            border: none;
            background-color: transparent;
            box-shadow: none;
            margin: 30px 0px;
            button.logout{
              font-size: 20px;
              font-weight: normal;
              color: #B9AF94;
              outline: none;
              border: 1px solid #B9AF94;
              border-radius: 13px;
              padding: 5px 30px;
              background-color: transparent;
              cursor: pointer;
            }
          }
        }
      }
      // member
      div.rightBorder{
        width: 70%;
        border: 1px solid #FAFDDD;
        box-shadow: 6px 6px 6px rgba(0,0,0,.16);
        border-radius: 13px;
        background-color: #FAFDDD;
        display: flex;
        justify-content: space-around;
        .leftInfoborder{
          width: 65%;
          // border: 1px solid black;
          margin: 4% 0% 4% 2%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .myAccountBorder{
            .myAccount{
              font-size: 30px;
              font-weight: normal;
              color: #909090;
              margin: 0;
            }
          }
          div{
            display: flex;
            div{
              font-size: 24px;
              font-weight: normal;
              color: #909090;
            }
            span{
              font-size: 24px;
              font-weight: normal;
              color: #909090;
            }
            
          }
          div.sameTile{
              display: flex;
              justify-content: flex-start;
              width: 120px;
              // border: 1px solid black;
            }
          .identifyBorder{
            .idTitle{
              font-size: 26px;
            }
            .idContent{
              font-size: 26px;
            }
          }
          .lineBorder{
            display: block;
          }
          .passwordborder{
            display: flex;
            .passwordLef{
              display: flex;
              flex-direction: column;
              div{
                margin: 1.3% 0%;
                input{
                  width: 240px;
                  outline: none;
                  border: none;
                  border-radius: 10px;
                  padding-left: 10px;
                  color: #909090;
                  font-size: 24px;
                  font-weight: normal;
                }
              }
            }
            .changeBtnright{
              button.changePassword{
                align-self: flex-end;
                height: 40px;
                padding: 0px 15px;
                font-size: 20px;
                font-weight: normal;
                outline: none;
                border: none;
                background-color: #B9AF94;
                border-radius: 15px;
                color: white;
                margin-left: 20px;
                cursor: pointer;
              }
            }
          }
          .editsaveBtn{
            align-self: center;
            .edit{
              height: 40px;
              padding: 0px 15px;
              font-size: 20px;
              font-weight: normal;
              outline: none;
              border: none;
              background-color: #B9AF94;
              border-radius: 15px;
              color: white;
              margin-left: 20px;
              cursor: pointer;
            }
            .save{
              height: 40px;
              padding: 0px 15px;
              font-size: 20px;
              font-weight: normal;
              outline: none;
              border: 1px solid #B9AF94;
              background-color: transparent;
              border-radius: 15px;
              color: #B9AF94;
              margin-left: 20px;
              cursor: pointer;
            }
          }
        }
        div.rightPicborder{
          width: 22%;
          // border: 1px solid black;
          margin: 4% 2% 4% 0%;
          .uploadBorder{
            display: flex;
            flex-direction: column;
            align-items: center;
            .imageBorder{
              width: 180px;
              height: 180px;
              border-radius: 50%;
              background-color: #fff;
              background-image: url('../../img/03/uploadpicture.png'),url('../../img/03/person.png');
              background-repeat: no-repeat;
              background-position: center top 80%,center;
              background-size: 70%;
              display: flex;
              justify-content: center;
              overflow: hidden;
            }
            .fileBorder{
              margin-top: 5%;
              // border: 1px solid black;
              position: relative;
              width: 81px;
              height: 24.4px;
              input#theFile{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
                width: 81px;
                overflow: hidden;
                display: none;
              }
              #fakeBtn{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                width: 81px;
                height: 24.4px;
                outline: none;
                color: #909090;
                border-radius: 5px;
                border: 1px solid #909090;
                background-color: #fff;
                cursor: pointer;
              }
            }
          }
        }
      }

      // order
      div.rightBorderorder{
        width: 70%;
        border: 1px solid #FAFDDD;
        box-shadow: 6px 6px 6px rgba(0,0,0,.16);
        border-radius: 13px;
        background-color: #FAFDDD;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
        .centerBorder{
          // border: 1px solid black;
          width: 90%;
          min-height: 100%;
          .searchBorder{
            margin-bottom: 20px;
            #searchBorder{
              display: flex;
              align-items: center;
              .searchDateBoder{
                display: flex;
                align-items: center;
                .search{
                  font-size: 24px;
                  font-weight: normal;
                  color: #7B807D;
                  margin-right: 10px;
                }
                .whitespace{
                  margin: 0px 10px;
                }
                #dateFrom{
                  height: 30px;
                  outline: none;
                  border: 1px solid #707070;
                  border-radius: 10px;
                }
                #dateTo{
                  height: 30px;
                  outline: none;
                  border: 1px solid #707070;
                  border-radius: 10px;
                }
              }
              .searchBtnBorder{
                margin: 0px 3%;
                #searchBtnBorder{
                  width: 80px;
                  height: 30px;
                  outline: none;
                  border: none;
                  background-color: #B9AF94;
                  border-radius: 10px;
                  color: white;
                  font-weight: normal;
                  cursor: pointer;
                  transition: all .3s;
                  &:hover{
                    background-color: #D4C6A5;
                  }
                }
              }
              .searchNoteBorder{
                .searchNoteBorder{
                  font-size: 18px;
                  font-weight: normal;
                  color: #707070;
                }
              }
            }
          }
          .orderStatusBorder{
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            div.statussame{
              // border: 1px solid black;
              display: flex;
              justify-content: center;
              background-color: #E6E6E6;
              width: 19%;
              box-shadow: 3px 6px 6px rgba(0,0,0,.2);
              p.statussame{
                padding: 5px 0px;
                font-size: 24px;
                font-weight: 500;
                color: #8F8770;
              }
            }
          }
          .orderdetailBorder{
            display: flex;
            flex-direction: column;
            .catalogBorder{
              display: flex;
              justify-content: space-between;
              .detailsame{
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-grow: 1;
                // border: 1px solid black;
                .cattitle{
                  display: flex;
                  justify-content: center;
                  // border: 1px solid black;
                  background-color: #B9AF94;
                  width: 100%;
                  h3.cattitle{
                    font-size: 20px;
                    font-weight: normal;
                    color: white;
                    padding: 10px 0px;
                  }
                }
                .contentsame{
                  color: #909090;
                  padding: 15px 0;
                  font-weight: 400;
                }
                .orderid{
                  color: blue;
                  cursor: pointer;
                }
              }
            }
            .itemdetailBorder{
              // border: 1px solid black;
              background-color: #EFF1E1;
              box-shadow: 3px 3px 6px rgba(0,0,0,.2);
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding: 20px 0px;
              .itemstatusBorder{
                display: flex;
                flex-direction: column;
                width: 90%;
                // border: 1px solid blue;
                .itemstopBorder{
                  display: flex;
                  // border: 1px solid blue;
                  position: relative;
                  margin-bottom: 40px;
                  width: 90%;
                  .fourcircleBorder{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    z-index: 2;
                    .orderestablishBorder{
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      // border: 1px solid red;
                      .orderestablish{
                        width: 36px;
                        margin-bottom: 10px;
                      }
                      
                      .stablishBorder{
                        span{
                          color: #ED8149;
                          font-weight: normal;
                        }
                      }
                    }
                  }
                  .midlineBorder{
                    position: absolute;
                    top: 18px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 1;
                    border-bottom: 3px solid #ED8149;
                    width: 80%;
                  }
                }
                .itembotBorder{
                  display: flex;
                  flex-wrap: wrap;
                  margin-bottom: 15px;
                  .samebotBorder{
                    width: 50%;
                    margin-bottom: 20px;
                    span{
                      font-size: 20px;
                      font-weight: normal;
                    }
                    .itembotIdtitle,.itembotId,.itembotsellertitle,.itembotseller{
                      color: #909090;
                    }
                    .gettimetitle,.gettime,.getlocationtitle,.getlocation{
                      color: #ED8149;

                    }
                  }
                }
              }
              .itemsBorder{
                // border: 1px solid black;
                width: 90%;
                display: flex;
                flex-direction: column;
                .itemcontBorder{
                  // border: 1px solid blue;  
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                  margin-bottom: 5%;
                  .itemconttopBorder{
                    display: flex;
                    margin-bottom: 15px;
                    .itempicBorder{
                      background-color: #fff;
                      border: 2px solid #707070;
                    }
                    .middleitemsame{
                      margin: 20px 20px;
                      display: flex;
                      span,p{
                        font-size: 20px;
                        font-weight: normal;
                        color: #909090;
                      }
                    }
                    .itempriceunitBorder{
                      align-self: center;
                      display: flex;
                      justify-content: space-between;
                      margin-top: 3%;
                      margin-left: 5%;
                      // border: 1px solid black;
                      .unitpriceBorder{
                        padding-right: 30px;
                        p{
                          font-size: 20px;
                          font-weight: normal;
                          color: #909090;
                        }
                        .unitpricetitle{
                          color: #707070;
                          margin-bottom: 7px;
                        }
                      }
                      .countpriceBorder{
                        p{
                          font-size: 20px;
                          font-weight: normal;
                          color: #909090;
                        }
                        .countpricetitle{
                          color: #707070;
                          margin-bottom: 7px;
                        }
                      }
                    }
                  }
                  hr{
                    border: 1px solid #909090;
                  }
                }
              }

              .endingBorder{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 90%;
                // border: 1px solid blue;
                .endingconditionBorder{
                  margin-bottom: 20px;
                  .itemendingsame{
                    margin-bottom: 5%;
                    span{
                      color: #909090;
                      font-size: 20px;
                      font-weight: normal;
                    }
                  }
                }
                .cancelBtnBorder{
                  background-color: #ED8149;
                  padding: 7px 10px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 3px;
                  box-shadow: 3px 3px 6px rgba(0,0,0,.2);
                  img{
                    height: 24px;
                  }
                  #cancelBtn{
                    outline: none;
                    border: none;
                    font-size: 20px;
                    color: #fff;
                    background-color: transparent;
                    padding-left: 10px;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @import 'memfooter';
}