*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    overflow: hidden;
}

#header{
    border: 1px solid black;
    width: 100%;
    height: 123px;
    display: flex;
    position: fixed;
    background: transparent;
    z-index: 99;
    #headerContentContainer{
        border: 1px solid blue;
        width: 1180px;
        height: 50px;
        position: absolute;
        left: 364px;
        top: 38px;
        display: flex;
        justify-content: space-between;
        #lightLogo{
            width: 264px;
            height: 46px;
        }
        #navigation{
            border: 1px solid red;
            width: 762px;
            height: 50px;
            display: flex;
            align-items: center;

            a{
                font-size: 30px;
            }
            .navGeneralAnchors{
                color: #FDFBBA;
            }
            :nth-child(2),:nth-child(3){
                margin-left: 25px;
            } 
            .navSepcialAnchors{
                color: #858585;
                div{
                    width: 139px;
                    height: 100%;
                    text-align: center;
                    background-color: #FFFF9B;
                    margin: 0px 28px;
                }
            }
            a[data-id="navIcons02"], a[data-id="navIcons03"]{
                margin-left: 20px;
            }
        }
    }
}

#chapter01{
    position: relative;
    #chapter01BgContainer{
        position: relative;
        height: 1080px;
        img{
            position: absolute;
            z-index: 1;
        }
    }
    #mainSlogan{
        position: absolute;
        left: 177px;
        top: 388px;
        z-index: 2;
        color: #FDFBBA;
        h3{
            font-size: 25px;
        }
        h2{
            font-size: 50px;
            margin-bottom: 23px;
        }
        a[data-id="mainSloganIcon01"], a[data-id="mainSloganIcon02"]{
            margin-right: 49px;
        }
    }
}

#chapter02{
    position: relative;
    #chapter02BgContainer{
        position: relative;
        height: 1080px;
        img{
            position: absolute;
        }
        img[data-id="chapter02Bg02"]{
            bottom: 0;
        }
    }
    .mainTitleBlock{
        position: absolute;
        left: 640px;
        top: 226px;
        z-index: 2;
        font-size: 40px;
        color: #FFFADF;
    }
    #conversionUnitIconBlock{
        width: 148px;
        height: 556px;
        position: absolute;
        top: 206px;
        left: 87px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

#chapter03{
    height: 1080px;
    background-color: orange;
}