@import "../../base/var";
@import "../../mixin/mixins";
@import "../../base/fonts";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Fuji-Extended Bold, sans-serif;
    text-decoration: none;
}

// 標頭開始
#header{
    width: 100%;
    height: 123px;
    display: flex;
    position: fixed;
    background: transparent;
    z-index: 9;
    @include newRwd("bigPhone"){
        width: 100%;
        height: 55px;
    }
    // 漢堡選單開始
    #hamburgerMenuToggle{
        opacity: 0;
        &:checked + #hamburgerMenuButton > span{
            transform: rotate(45deg);
            &::before{
                top: 0;
                transform: rotate(0deg);
            }
            &::after{
                top: 0;
                transform: rotate(90deg);
            }
        }
        &:checked ~ #navigationForMobile{
            left: 0;
        }
    }
    #hamburgerMenuButton{
        display: block;
        width: 45px;
        height: 35px;
        align-self: center;
        margin-left: 10px;
        position: relative;
        cursor: pointer;
        display: none;
        span{
            display: block;
        }
        span, span::before, span::after{
            content: '';
            display: block;
            width: 45px;
            height: 5px;
            border-radius: 10px;
            position: absolute;
            transition-duration: .35s;
            }
        span{
            top: 45%;
            &::before{
                content: '';
                top: -15px;
            }
            &::after{
                content: '';
                top: 15px;
            } 
        }
        @include newRwd("bigPhone"){
            display: block;
        }
    }
    .hamburgerMenuColorForCh01{
        span, span::before, span::after{
            background-color: #FDFBBA;
        }
    }
    .hamburgerMenuColorForCh02{
        span, span::before, span::after{
            background-color: #FFFFFF;
        }
    }

    // 漢堡選單結束
    // 行動版導覽列開始
    #navigationForMobile{
        display: none;
        @include newRwd("bigPhone"){
            display: block;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 55px;
            left: -100%;
            background-color: white;
            opacity:80%;
            transition-duration: .35s;
            #searchBarForMobile{
                width: 100%;
                height: 70px;
                background-color: lightgrey;
                display: flex;
                #searchInputForMobile{
                    width: 80%;
                    height: 60%;
                    border-radius: 20px;
                    background-color: #FFFFFF;
                    display: block;
                    margin: auto;
                    align-self: center;
                }
            }
            li{
                list-style: none;
                text-align: center;
                font-size: 24px;
                margin: 30px 0px 0px 0px;
                a{
                    color: #515151;
                }
            }
        }
    }
    // 行動版導覽列結束
    #headerContentContainer{
        width: 1180px;
        height: 50px;
        margin: 38px 0px 0px 364px;
        display: flex;
        justify-content: space-between;
        @include newRwd("laptop"){
            width: 970px;
            margin: auto;
            align-items: center;
        }
        @include newRwd("pad"){
            width: 920px;
            margin: auto;
            align-items: center;
        }
        #logo{
            width: 264px;
            height: 46px;
            // 首頁由js控制代替的hover變色
            // &:hover{
            //     content: url('../../../img/22/index/ch01_header_logo_hover.png');
            // }
            @include newRwd("laptop"){
                width: 216px;
                height: 38px;
                align-self: center;
            }
            @include newRwd("pad"){
                width: 216px;
                height: 38px;
                align-self: center;
            }
            @include newRwd("bigPhone"){
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
            }
        }
        // 桌機版導覽列開始
        #navigationForPC{
            width: 762px;
            height: 50px;
            display: flex;
            align-items: center;
            @include newRwd("laptop"){
                width: 625px;
                align-items: center;
            }
            a{
                font-size: 30px;
                @include newRwd("laptop"){
                    font-size: 20px;
                }
                @include newRwd("pad"){
                    font-size: 20px;
                }
                @include newRwd("bigPhone"){
                    display: none;
                }
            }
            .navGeneralAnchors{
                color: #FDFBBA;
                &:hover{
                    color: #FFE45E;
                }
            }
            :nth-child(2),:nth-child(3){
                margin-left: 25px;
                @include newRwd("laptop"){
                    margin-left: 20px;
                }
            } 
            #navSepcialAnchor{
                color: #858585;
                div{
                    width: 139px;
                    height: 100%;
                    border-radius: 3px;
                    text-align: center;
                    background-color: #FFFF9B;
                    &:hover{
                        background-color: #FFE45E;
                    }
                    margin: 0px 28px;
                    @include newRwd("laptop"){
                        width: 114px;
                    }
                }
            }
            .navIcons{
                img{
                    @include newRwd("laptop"){
                        width: 30px;
                        
                    }
                }
            }
            #navIcons02, #navIcons03{
                margin-left: 20px;
            }
        }
        // 桌機版導覽列結束
        // 行動版次導覽列開始
        #subNavigationForMobile{
            display: none;
            @include newRwd("bigPhone"){
                display: block;
                border: 1px solid red;
                width: 96px;
                height: 40px;
                display: flex;
                justify-content: space-between;
                position: absolute;
                right: 10px;
            }
        }
        // 行動版次導覽列結束
    }
}
// 標頭結束

#chapter01, #chapter02, #chapter03,
#chapter04, #chapter05, #chapter06{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

// 第一章背景動畫
@keyframes fadeInOut {
    0%   { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }


// 第一章：「組織訴求」開始
#chapter01{
    .slide{
        position: relative;
        .mainSlogan{
            width: 450px;
            height: 200px;
            position: absolute;
            left: 177px;
            top: 308px;
            z-index: 2;
            color: #FDFBBA;
            h3{
                font-size: 25px;
            }
            h2{
                font-size: 50px;
                margin-bottom: 23px;
            }
            a[data-id="mainSloganIcon01"], a[data-id="mainSloganIcon02"]{
                margin-right: 49px;
            }
        }
        #mainSlogan01{
            @include newRwd("bigPhone"){
                position: static;
                text-align: center;
                margin: auto;
            }
            @include newRwd("mediumPhone"){
                width: 285px;
                height: 320px;
                position: static;
                text-align: center;
                margin: auto;
                h3{
                    font-size: 16px;
                }
                h2{
                    font-size: 30px;
                    margin: 15px 0px 50px 0px;
                }
                div{
                    height: 190px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    a{
                        margin: 0 auto !important;
                        img{
                            border: 1px solid red;
                            height: 45px;
                        }
                    }
                }
            }
        }
        #mainSlogan02, #mainSlogan03, #mainSlogan04{
            @include newRwd("desktop"){
                text-align: center;
                transform: translate(-50%, -50%);
                top: 35%;
                left: 50%;
                h2{
                    margin: 15px 0px 50px 0px;
                }
                a{
                    display: none;
                }
            }
            @include newRwd("pad"){
                height: 170px;
                text-align: center;
                top: 40%;
            }
            @include newRwd("bigPhone"){
                top: 43%;
                h3{
                    font-size: 20px;
                }
                h2{
                    font-size: 36px;
                }
            }
            @include newRwd("smallPhone"){
                h3{
                    font-size: 16px;
                }
                h2{
                    font-size: 32px;
                }
            }
        }
        .subSlogan{
            width: 1066px;
            height: 425px;
            background-color: #F7F7F7;
            opacity: 70%;
            position: absolute;
            top: 237px;
            left: 734px;
            padding: 61px 99px 53px 61px;
            .subSloganContent{
                // border: 3px solid red;
                width: 662px;
                h3{
                    font-size: 30px;
                    line-height: 48px;
                    color: #C2B891;
                }
                h2{
                    font-size: 48px;
                    line-height: 64px;
                    margin: 20px 0px 40px 0px;
                    color: #5F695C;
                }
                p{
                    width: 662px;
                    height: 148px;
                    font-size: 25px;
                    color: #5F695C;
                    #ch0102Ss02br01{
                        display: none;
                    }
                }
                img{
                    position: absolute;
                    left: 689px;
                    top: 67px;
                }
            }
            @include newRwd('desktop'){
                transform: translate(-50%, -50%);
                top: 65%;
                left: 50%;
            }
            @include newRwd("pad"){
                width: 970px;
                height: 350px;
                .subSloganContent{
                    h3{
                        font-size: 23px;
                        line-height: 23px;
                    }
                    h2{
                        font-size: 40px;
                        line-height: 40px;
                    }
                    p{
                        width: 400px;
                        height: 80px;
                        font-size: 20px;
                    }
                    img{
                        height: 250px;
                        left: 645px;
                        top: 50px;
                    }
                }
            }
            @include newRwd("bigPhone"){
                width: 100%;
                height: 350px;
                .subSloganContent{
                    position: relative;
                    margin: auto;
                    width: 550px;
                    h3{
                        font-size: 18px;
                        line-height: 18px;
                    }
                    h2{
                        font-size: 32px;
                        line-height: 32px;
                        margin: 10px 0px 20px 0px;
                    }
                    p{
                        width: 400px;
                        height: 80px;
                        font-size: 20px;
                    }
                    img{
                        height: 150px;
                        left: 340px;
                        top: 0px;
                    }
                }
            }
            @include newRwd("smallPhone"){
                width: 100%;
                height: 253px;
                padding: 52px 0px 45px 0px;
                .subSloganContent{
                    width: 290px;
                    h3{
                        font-size: 12px;
                        line-height: 12px;
                    }
                    h2{
                        font-size: 19px;
                        line-height: 19px;
                        margin: 10px 0px 20px 0px;
                    }
                    p{
                        width: 285px;
                        height: 70px;
                        font-size: 15px;
                        #ch0102Ss02br01{
                            display: block;
                        }
                    }
                    img{ 
                        height: 80px;
                        top: 0;
                        left: 210px;
                    }
                }
            }
        }
    }
    #ch01Slide01{
    position: relative;
    z-index: -2;
    background-image: 
    url(../../../img/22/index/ch0101_bg_green_screen.png);
    background-repeat: no-repeat;
    .ch01BgShining{
        position: absolute;
        top: 0;
        z-index: 2;
        }
        #ch01BgShining01{
            animation: fadeInOut 3s infinite ease-in-out;
        }
        #ch01BgShining02{
            animation: fadeInOut 5s infinite ease-in-out;
        }
        #ch01BgFruit{
            position: absolute;
            bottom: -120px;
            z-index: -1;
            @include newRwd("smallPhone"){
                width: 750px;
                bottom: 0;
            }
        }
    }
    #ch01Slide02{
        background-image: url(../../../img/22/index/ch0102_bg.jpg);
        #mainSlogan02{
            color: #E4C962;
        }
    }
    #ch01Slide03{
        background-image: url(../../../img/22/index/ch0103_bg.jpg);
    }
    #ch01Slide04{
        background-image: url(../../../img/22/index/ch0104_bg.jpg);
        #mainSlogan04{
            color: #E4C962;
        }
    }

}
// 第一章：「組織訴求」開始結束

// 第二章：「浪費換算」開始開始
#chapter02{
    position: relative;
    background-color: #B0BAA4;
    background-image: url(../../../img/22/index/ch02_bg_elephants.png);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 0% 125%;
    .conversionTitle{
        width: 850px;
        height: 53px;
        position: absolute;
        left: 640px;
        top: 186px;
        z-index: 2;
        font-size: 40px;
        color: #FFFADF;
    }
    .conversionNumBlock{
        width: 1320px;
        margin-left: 500px;
        display: flex;
        align-items: baseline;
        .conversionNum{
            font-size: 300px;
            color: #F7F5F5;
        }
        .conversionUnit{
            font-size: 40px;
            color: #F7F5F5;
        }
    }
    #conversionUnitIconBlock{
        width: 120px;
        height: 450px;
        position: absolute;
        top: 206px;
        left: 87px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }
}
// 第二章：「浪費換算」開始結束

// 第三章：「浪費影響」
#chapter03{
    position: relative;
    background-color: #C8DED2;
    text-align: center;
    #ch03MainSolgan{
        width: 581px;
        height: 103px;
        margin: auto;
        font-size: 36px;
        font-weight: 600;
        color: #727272;
        line-height: 55px;
        margin-top: -150px;
        margin-bottom: 40px;
    }
    #solganCardsContainer{
        width: 1300px;
        height: 320px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .solganCard{
            width: 350px;
            height: 100%;
            position: relative;
        }
        .cardDecorativeFrame{
            width: 320x;
            height: 380px;
            border: 4px solid #FEFA9C;
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
            margin-top: calc(640px - 490px);
            .avatarDecorativeFrame{
                width: 250px;
                height: 250px;
                border-radius: 250px;
                border-bottom: 46px;
                background-color: #A7BBA9;
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
                display: flex;
                .avatarBlock{
                    width: 220px;
                    height: 220px;
                    border-radius: 220px;
                    background-color: #fff;
                    margin: auto;
                    align-self: center;
                    display: flex;
                    justify-content: center;
                    overflow: hidden;
                    img{
                        height: 100%;
                    }
                }
            }
            .ch03CardTitle{
                font-size: 28px;
                font-weight: 600;
                color: #FFFFFF;
                margin-top: 180px;
            }
            .ch03CardParagraph{
                width: 280px;
                height: 95px;
                font-size: 20px;
                margin: auto;
                margin-top: 10px;
            }
            .ch03Shelter{
                width: 260px;
                height: 125px;
                background-color: #C8DED2;
                margin: auto;
                margin-top: 25px;
                transform: translate(0%, -15%);
                img{
                    width: 170px;
                }
            }
            #ch03Shelter03{
                transform: translate(0%, -25%);
                img{
                    width: 120px;
                }
            }
        }
    }
}
// 第三章：「浪費影響」結束

// 第四章：「樂腹商城」開始
#chapter04{
    background-image: url(../../../img/22/index/ch04_bg.jpg);
    position: relative;
    text-align: center;
    h3{
        font-size: 34px;
        font-weight: 600;
        color: #605F5F;
        margin-top: 120px;
        margin-bottom: 40px;
    }
    #productCarouselContainer{
        width: 1100px;
        height: 465px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        #productCarouselList{
            .productCarouseItem{
                .productCard{
                    border: 1px solid lightgray;
                    border-radius: 20px;
                    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);
                    background-color: #F3E9C0;
                    width: 280px;
                    height: 420px;
                    display: flex;
                    flex-direction: column;
                    margin: auto;
                    .countdown{
                        width: 100%;
                        height: 45px;
                        border-radius: 20px 20px 0px 0px;
                        background-color: #FBFFE0;
                        font-size: 18px;
                        color: #707070;
                        line-height: 45px;
                        span{
                            font-size: 28px;
                            color: #9A0202;
                        }
                    }
            }
        }
            .productAvatarBlock{
                width: 100%;
                height: calc(420px - 45px - 45px);
                background-color: #F2F0D7;
                .productAvatar{
                    width: 250px;
                    height: 250px;
                    margin: auto;
                    margin-top: 20px;
                    background-color: #FFFFFF;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 5px;
                    img{
                        object-fit: contain;
                    }
                }
            }
            .productMainInfo, .productSubInfo{
                width: 255px;
                margin: auto;
                color: #707070;
                display: flex;
                justify-content: space-between;
                .productName{
                    font-size: 22px;
                    line-height: 30px;
                }
                .productSellingPrice{
                    font-size: 28px;
                    font-weight: 600;
                    line-height: 34px;
                    color: #9A0202;
                }
            }
            .productSubInfo{
                background-color: #F3E9C0;
                .ProductCategory, .productOriginalPrice{
                    font-size: 18px;
                    line-height: 26px;
                }
                .productOriginalPrice{
                    text-decoration: line-through;
                }
            }
        }
    }
    h4{
        font-size: 26px;
        color: #666464;
        margin: 0px 0px 30px 0px;
    }
    #suppliersList{
        width: 1480px;
        height: 102px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .supplierLogoBlock{
            width: 240px;
            height: 100%;
            img{
                width: 100%;
            }

        }
    }
}
// 第四章：「樂腹商城」結束

// 第五章：「捐款說明」開始
#chapter05{
    background-color: #D8E6D9;
    position: relative;
    .ch05BgFlower{
        width: 530px;
        position: absolute;
        z-index: 2;
    }
    img[data-id="ch05BgFlower01"]{
        left: -100px;
        bottom: -250px;
    }
    img[data-id="ch05BgFlower02"]{
        right: -150px;
        top: 40px;
    }
    #ch05MemoContainer{
        width: 1500px;
        height: 650px;
        @include newRwd("laptop"){
            width: 970px;
            height: 720px;
        }
        border: 13px solid #E6ECE2;
        box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
        margin: auto;
        position: relative;
        #ch05MainTtile{
            width: 217px;
            height: 51px;
            border-bottom: 3px solid #F5EFD0;
            font-size: 36px;
            line-height: 48px;
            color: #605F5F;
            text-align: center;
            margin: auto;
            margin-top: 75px;
        }
        .ch05Memo{
            width: 330px;
            height: 300px;
            box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
            background-color: #FDFDF9;
            padding: 55px 0px 0px 45px;
            position: relative;
            .ch05MemoTape{
                position: absolute;
                opacity: 80%;
            }
            h3{
                font-size: 26px;
                line-height: 42px;
                color: #646464;
            }
            p{
                width: 250px;
                height: 100px;
                font-size: 18px;
                line-height: 35px;
                color: #646464;
                margin-top: 10px;
            }
            img{
                position: absolute;
                right: 20px;
                bottom: 20px;
            }
        }
        div[data-id="ch05Memo01"]{
            position: absolute;
            top: 163px;
            left: 139px;
            transform: rotate(-2deg);
            div[data-id="ch05MemoTape01"]{
                width: 120px;
                height: 30px;
                background-color: #EDBEBE;
                transform: rotate(45deg);
                right: -40px;
                top: 5px;
            }
        }
        div[data-id="ch05Memo02"]{
            position: absolute;
            top: 267px;
            left: 594px;
            div[data-id="ch05MemoTape02"]{
                width: 140px;
                height: 25px;
                background-color: #B4E3E3;
                left: 30px;
                top: -12.5px;
            }
        }
        div[data-id="ch05Memo03"]{
            position: absolute;
            top: 129px;
            left: 1032px;
            transform: rotate(2deg);
            div[data-id="ch05MemoTape03"]{
                width: 130px;
                height: 35px;
                background-color: #F4EACA;
                transform: rotate(95deg);
                left: -10px;
                top: -35px;
            }
        }
        #ch05learnMoreButton{
            width: 240px;
            height: 70px;
            background-color: #DDBCBC;
            border-radius: 13px;
            padding: 0px 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            right: 50px;
            bottom: 30px;
            &:hover{
                background-color: #DD9E9E;
            }
            div{
                img{
                    width: 40px;
                }
            }
            span{
                font-size: 35px;
                line-height: 56px;
                color: #FFFFFF;
            }
        }
    }
}
// 第五章：「捐款說明」結束

// 第六章：「聯絡我們」開始
#chapter06{
    background-color: #F6EEE5;
    #ch06FlexArea{
        width: 100%;
        height: 100vh;
        display: flex;
        #ch06contactUsArea{
            width: 50%;
            background-image: url(../../../img/22/index/ch06_bg01.png);
            padding: 235px 0px 0px 0px;
            #contactUsContainer{
                width: 550px;
                height: 630px;
                background-color: #F6EEE5;
                border: 5px solid #CEC6BD;
                box-shadow: 3px 6px 6px 0px rgba(0, 0, 0, 0.2);
                margin: auto;
                display: flex;
                #contactUsFrame{
                    width: 500px;
                    height: 580px;
                    border: 4px solid #CEC6BD;
                    margin: auto;
                    padding: 30px 85px 30px 85px;
                    text-align: center;
                    h3{
                        font-size: 30px;
                        line-height: 40px;
                        color: #D0C37F;
                    }
                    .ch06TtileDecoration{
                        width: 275px;
                        margin: auto;
                        margin-bottom: 5px;
                        border-bottom: 1px solid #D0C37F;
                    }
                    #connectionInfoContainer{
                        width: 100%;
                        height: 235px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin: 60px 0px 80px 0px;
                        .connectionInfo{
                            display: flex;
                            img{
                                margin-right: 20px;
                            }
                            span{
                                font-size: 24px;
                                color: #D0C37F;
                                display: flex;
                                align-items: center;
                            }
                            #ch06SearchBar{
                                width: 245px;
                                height: 40px;
                                border: 2px solid #D0C37F;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding: 0px 0px 0px 10px;
                            }
                        }
                        #address{
                            text-align: left;
                            img{
                                height: 40px;
                            }
                        }
                    }
                    #ch06IconContainer{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
        #ch06GuideArea{
            width: 50%;
            display: inline-block;
            padding: 235px 0px 0px 0px;
            #ch06GuideContainer{
                width: 500px;
                height: 630px;
                margin: auto;
                text-align: center;
                #ch06ImgBlock{
                    width: 350px;
                    height: 400px;
                    margin: auto;
                    img{
                        width: 100%;
                    }
                }
                h2{
                    font-size: 65px;
                    color: #D0C37F;
                    margin: 40px 0px 30px 0px;
                }
                #ch06GuideBlock{
                    width: 465px;
                    height: 75px;
                    margin: auto;
                    display: flex;
                    justify-content: space-between;
                    span{
                        font-size: 30px;
                        color: #D0C37F;
                    }
                    #ch06GuideButton{
                        width: 166px;
                        height: 50px;
                        border-radius: 4px;
                        color: #FFFFFF;
                        background-color: #D0C37F;
                        font-size: 30px;
                        line-height: 50px;
                        text-align: center;
                        &:hover{
                            background-color: #E3DAA9;
                        }
                    }
                }
            }
        }
    }
}
// 第六章：「聯絡我們」結束    