*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: PingFangTC-Regular, sans-serif;
    text-decoration: none;
}

#header{
    border: 1px solid black;
    width: 100%;
    height: 123px;
    display: flex;
    position: fixed;
    background: transparent;
    z-index: 99;
    #headerContentContainer{
        border: 1px solid blue;
        width: 1180px;
        height: 50px;
        position: absolute;
        left: 364px;
        top: 38px;
        display: flex;
        justify-content: space-between;
        #lightLogo{
            width: 264px;
            height: 46px;
        }
        #navigation{
            border: 1px solid red;
            width: 762px;
            height: 50px;
            display: flex;
            align-items: center;

            a{
                font-size: 30px;
            }
            .navGeneralAnchors{
                color: #FDFBBA;
            }
            :nth-child(2),:nth-child(3){
                margin-left: 25px;
            } 
            .navSepcialAnchors{
                color: #858585;
                div{
                    width: 139px;
                    height: 100%;
                    text-align: center;
                    background-color: #FFFF9B;
                    margin: 0px 28px;
                }
            }
            a[data-id="navIcons02"], a[data-id="navIcons03"]{
                margin-left: 20px;
            }
        }
    }
}

#chapter01{
    position: relative;
    #ch01BgContainer{
        position: relative;
        height: 1080px;
        img{
            width: 100%;
            position: absolute;
            z-index: 1;
        }
    }
    #mainSlogan{
        position: absolute;
        left: 177px;
        top: 388px;
        z-index: 2;
        color: #FDFBBA;
        h3{
            font-size: 25px;
        }
        h2{
            font-size: 50px;
            margin-bottom: 23px;
        }
        a[data-id="mainSloganIcon01"], a[data-id="mainSloganIcon02"]{
            margin-right: 49px;
        }
    }
    .subSlogan{
        width: 1066px;
        height: 425px;
        background-color: #F7F7F7;
        position: absolute;
        z-index: 3;
        top: 317px;
        left: 734px;
        padding: 61px 99px 53px 61px;
        h3{
            font-size: 30px;
            line-height: 48px;
            color: #C2B891;
        }
        h2{
            font-size: 48px;
            line-height: 64px;
            margin: 20px 0px 40px 0px;
            color: #5F695C;
        }
        p{
            width: 662px;
            height: 148px;
            font-size: 25px;
            color: #5F695C;
        }
        img{
            position: absolute;
            left: 689px;
            top: 67px;
        }
    }
}

#ch01slide01{
    width: 1920px;
    height: 1080px;
    background-color: blue;
}

#chapter02{
    position: relative;
    #chapter02BgContainer{
        position: relative;
        height: 1080px;
        img{
            width: 100%;
            position: absolute;
        }
        img[data-id="chapter02Bg02"]{
            bottom: 0;
        }
    }
    .mainTitleBlock{
        position: absolute;
        left: 640px;
        top: 226px;
        z-index: 2;
        font-size: 40px;
        color: #FFFADF;
    }
    #conversionUnitIconBlock{
        width: 148px;
        height: 556px;
        position: absolute;
        top: 206px;
        left: 87px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

#chapter03{
    border: 1px solid blue;
    height: 1080px;
    position: relative;
    background-color: #C8DED2;
    text-align: center;
    #ch03MainSolgan{
        font-size: 36px;
        font-weight: 600;
        color: #727272;
        line-height: 55px;
        margin: 185px 0px 68px 0px;
    }
    #solganCardsContainer{
        border: 1px solid black;
        width: 1421px;
        height: 640px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .solganCard{
            border: 1px solid red;
            width: 422px;
            height: 100%;
            position: relative;
        }
        .cardDecorativeFrame{
            width: 422px;
            height: 492px;
            border: 4px solid #FEFA9C;
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
            margin-top: calc(640px - 490px);
            .avatarDecorativeFrame{
                width: 293px;
                height: 293px;
                border-radius: 293px;
                border-bottom: 46px;
                background-color: #A7BBA9;
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
                display: flex;
                .avatarBlock{
                    width: 267px;
                    height: 267px;
                    border-radius: 267px;
                    background-color: #fff;
                    margin: auto;
                    align-self: center;
                    display: flex;
                    justify-content: center;
                    overflow: hidden;
                    img{
                        height: 100%;
                    }
                }
            }
            .ch03CardTitle{
                font-size: 30px;
                font-weight: 600;
                color: #FFFFFF;
                margin-top: 220px;
            }
            .ch03CardParagraph{
                width: 330px;
                height: 95px;
                font-size: 22px;
                margin: auto;
                margin-top: 10px;
            }
            .ch03Shelter{
                width: 275px;
                height: 125px;
                background-color: #C8DED2;
                margin: auto;
                margin-top: 35px;
            }
            #ch03Shelter03{
                transform: translate(0%, -15%);
            }
        }
    }
}

#chapter04{
    height: 1080px;
    background-image: url(../../../img/22/index/ch04_bg.jpg);
    position: relative;
    text-align: center;
    padding: 190px 0px 0px 0px;
    h3{
        font-size: 36px;
        font-weight: 600;
        color: #605F5F;
        margin-bottom: 67px;
    }
    #productCarouselContainer{
        width: 1200px;
        height: 465px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .productCard{
            border: 1px solid lightgray;
            border-radius: 20px;
            box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);
            background-color: #F3E9C0;
            width: 328px;
            height: 457px;
            display: flex;
            flex-direction: column;
            .countdown{
                width: 100%;
                height: 53px;
                border-radius: 20px 20px 0px 0px;
                background-color: #FBFFE0;
                font-size: 18px;
                color: #707070;
                line-height: 53px;
                span{
                    font-size: 30px;
                    color: #9A0202;
                }
            }
            .productAvatarBlock{
                width: 100%;
                height: calc(457px - 53px - 53px);
                background-color: #F2F0D7;
                .productAvatar{
                    width: 282px;
                    height: 282px;
                    margin: auto;
                    margin-top: 19px;
                    background-color: #FFFFFF;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 5px;
                    img{
                        object-fit: contain;
                    }
                }
            }
            .productMainInfo, .productSubInfo{
                width: 282px;
                margin: auto;
                color: #707070;
                display: flex;
                justify-content: space-between;
                .productName{
                    font-size: 24px;
                    line-height: 33px;
                }
                .productSellingPrice{
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 34px;
                    color: #9A0202;
                }
            }
            .productSubInfo{
                background-color: #F3E9C0;
                .ProductCategory, .productOriginalPrice{
                    font-size: 20PX;
                    line-height: 28px;
                }
                .productOriginalPrice{
                    text-decoration: line-through;
                }
            }
        }

    }
    h4{
        font-size: 26px;
        color: #666464;
        margin: 87px 0px 34px 0px;
    }
    #suppliersList{
        width: 1480px;
        height: 102px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .supplierLogoBlock{
            width: 240px;
            height: 100%;
            img{
                width: 100%;
            }

        }
    }
}

#chapter05{
    height: 1080px;
    background-color: #D8E6D9;
    padding: 125px 0px 0px 0px;
    #ch05MemoContainer{
        width: 1643px;
        height: 872px;
        border: 13px solid #E6ECE2;
        box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
        margin: auto;
        position: relative;
        #ch05MainTtile{
            width: 217px;
            height: 51px;
            border-bottom: 3px solid #F5EFD0;
            font-size: 36px;
            line-height: 48px;
            color: #605F5F;
            text-align: center;
            margin: auto;
            margin-top: 75px;
        }
        .ch05Memo{
            width: 358px;
            height: 337px;
            box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
            background-color: #FDFDF9;
            padding: 55px 0px 0px 45px;
            position: relative;
            .ch05MemoTape{
                position: absolute;
                opacity: 80%;
            }
            h3{
                font-size: 30px;
                line-height: 42px;
                color: #646464;
            }
            p{
                width: 250px;
                height: 100px;
                font-size: 20px;
                line-height: 35px;
                color: #646464;
                margin-top: 10px;
            }
            img{
                position: absolute;
                right: 20px;
                bottom: 20px;
            }
        }
        div[data-id="ch05Memo01"]{
            position: absolute;
            top: 213px;
            left: 109px;
            transform: rotate(-2deg);
            div[data-id="ch05MemoTape01"]{
                width: 120px;
                height: 30px;
                background-color: #EDBEBE;
                transform: rotate(45deg);
                right: -40px;
                top: 5px;
            }
        }
        div[data-id="ch05Memo02"]{
            position: absolute;
            top: 327px;
            left: 604px;
            div[data-id="ch05MemoTape02"]{
                width: 140px;
                height: 25px;
                background-color: #B4E3E3;
                left: 30px;
                top: -12.5px;
            }
        }
        div[data-id="ch05Memo03"]{
            position: absolute;
            top: 219px;
            left: 1062px;
            transform: rotate(2deg);
            div[data-id="ch05MemoTape03"]{
                width: 130px;
                height: 35px;
                background-color: #F4EACA;
                transform: rotate(95deg);
                left: -10px;
                top: -35px;
            }
        }
        #ch05learnMoreButton{
            width: 276px;
            height: 80px;
            background-color: #DDBCBC;
            border-radius: 13px;
            padding: 0px 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            right: 130px;
            bottom: 103px;
            span{
                font-size: 40px;
                line-height: 56px;
                color: #FFFFFF;
            }
        }
    }
}

#chapter06{
    height: 1080px;
    background-color: orange;
}