@font-face {
    font-family: "Didot-Bo1d-1";
    src: url("../fonts/Didot-Bold-1.ttf");
    font-display: fallback;
}

@font-face {
    font-family: "Didot-Italic-2";
    src: url("../fonts/Didot-Italic-2.ttf");
    font-display: fallback;
}

@font-face {
    font-family: "Flexure";
    src: url("../fonts/Flexure.ttf");
    font-display: fallback;
}

@font-face {
    font-family: "Fuji-Extended Bold";
    src: url("../fonts/Fuji-Extended Bold.ttf");
    font-display: fallback;
}

@font-face {
    font-family: "NotoSansCJKtc-Black";
    src: url("../fonts/NotoSansCJKtc-Black.otf");
    font-display: fallback;
}

@font-face {
    font-family: "NotoSansCJKtc-Bold";
    src: url("../fonts/NotoSansCJKtc-Bold.otf");
    font-display: fallback;
}

@font-face {
    font-family: "NotoSansCJKtc-DemiLight";
    src: url("../fonts/NotoSansCJKtc-DemiLight.otf");
    font-display: fallback;
}

@font-face {
    font-family: "NotoSansCJKtc-Light";
    src: url("../fonts/NotoSansCJKtc-Light.otf");
    font-display: fallback;
}

@font-face {
    font-family: "NotoSansCJKtc-Medium";
    src: url("../fonts/NotoSansCJKtc-Medium.otf");
    font-display: fallback;
}

@font-face {
    font-family: "NotoSansCJKtc-Regular";
    src: url("../fonts/NotoSansCJKtc-Regular.otf");
    font-display: fallback;
}

@font-face {
    font-family: "NotoSansCJKtc-Thin";
    src: url("../fonts/NotoSansCJKtc-Thin.otf");
    font-display: fallback;
}

@font-face {
    font-family: "NotoSansMonoCJKtc-Bold";
    src: url("../fonts/NotoSansMonoCJKtc-Bold.otf");
    font-display: fallback;
}

@font-face {
    font-family: "NotoSansMonoCJKtc-Regular";
    src: url("../fonts/NotoSansMonoCJKtc-Regular.otf");
    font-display: fallback;
}

@font-face {
    font-family: "PingFang";
    src: url("../fonts/PingFang.ttc");
    font-display: fallback;
}

@font-face {
    font-family: "Pc";
    src: url("../fonts/PingFang-TC-Regular-2.otf");
    font-display: fallback;
}

@font-face {
    font-family: "plantc";
    src: url("../fonts/plantc.ttf");
    font-display: fallback;
}
@font-face {
    font-family: "PingFang-TC-thin";
    src: url("../fonts/PingFang-Thin.ttf");
    font-display: fallback;
}


