input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button{
-webkit-appearance: none;
margin: 0;
}

%input-common{
    margin:0 8px;
    
    border-radius: 2px;
    border: 1px solid lightgray;
    font-size: 12px;
    line-height: 20px;
}
//input text
.input-xl{ //最大
    @extend %input-common;
    size: 25px;
}
.input-l{ //次大
    @extend %input-common;
    size: 15px;
}
.input-ld{ //日期輸入
    @extend .input-l;
    text-align: right;
    line-height:20px;
}

//input checkbox
.input-checkbox{
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin: 0 5px;
}
.input-quantity{
    @extend %input-common;
    text-align: center;
    margin:0;
    width:40px;
}
.input-price{
    @extend %input-common;
    text-align: center;
    margin:0;
    width:100px;
}
.categories{ //selection 種類輸入
    @extend %input-common;
    margin:0 4px;
    color:$lb;
    background-color: $C9;
}
.form-control{
    display:inline-block;
    position: relative;
    width: 154px;
    margin-left: 8px;
}

.input-group{
    width:150px;
}