#pagination{
    position: absolute;
    transform: translate(-50% , 50%);
    left: 55%;
    bottom: 0px;
    font-size: 27px;
    display: inline-flex;
    a{
        color: #887664;
        text-decoration: none;
        padding: 0 3px;

        &:hover{
            background-color: #887664;
            color: #FFFFFF;
        }
    }
}