
table{
    border-collapse: collapse;
    tr:nth-child(odd){
        background-color: #fff;
        th{
            color:white;
            background-color: $brown;
        }
        td{
            color:$brown;
        }
    }
    tr:nth-child(even){
        background-color: $lb;
        }
        td{
            color:$brown;
    }
}
.subheading{
    opacity:0.4;
}