.containerPoints{
    .asideMainWrapper{
        position: relative;
        padding-top:110px;
        display: flex;
        width:1200px;
        margin:0 auto;
        .headerMainWrapper{
            .headerWrapper{
                background-color: $y;
            }
        }
    }
    
    main{
        box-sizing: border-box;
        width: 980px;
        #pointsDataControlArea, .pointsDataArea{
            box-sizing: border-box;
            width: 100%;
            background-color: #F3E9C0;
            border-radius: 10px;
            box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
            margin-left: 15px;
        }
        #pointsDataControlArea{
            padding: 27px 29px 18px 31px;
            #pointsDataFilterTabsBlock{
                width: 550px;
                height: 50px;
                display: flex;
                flex-direction: row;
                .pointsDataFilterTab{
                    width: 180px;
                    height: 50px;
                    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
                    font-size: 24px;
                    background-color: #E6E6E6;
                    color: #8F8770;
                    text-align: center;
                    line-height: 50px;
                    cursor: pointer;
                    a{
                        text-decoration: none;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
                .tabActive{
                    background-color: #FAFDDD;
                }
            }
            #pointsDataFilter, #pointsDataUploader{
                width: 920px;
                border-radius: 13px;
                padding: 24px 17px 22px 18px;
                position: relative;
            }
            #pointsDataFilter{
                display: flex;
                #pointsDataFilterLeftUpperBlock{
                    width: 560px;
                    height: 80px;
                    font-size: 16px;
                    color: #7B807D;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    .pointsDataFilterLeftUpperBlockRow{
                        display: flex;
                        flex-direction: row;
                        justify-items: center;
                        padding: 3px 0px 3px 0px;
                        div{
                            margin: 3px 0px 0px 0px;
                        }
                        div:nth-child(3){
                            margin: 3px 0px 0px 5px;
                        }
                    }
                }
                #pointsDataFilterButton01{
                    margin: 0px 0px 0px 250px;
                }
                
                #pointsDataFilterRightBlock{
                    width: 350px;
                    font-size: 16px;
                    color: #707070;
                    #queryDateRow{
                        display: flex;
                    }
                    span{
                        margin: 5px 0px 5px 5px;
                    }
                    .pointsDataFilterButton{
                        width: 60px;
                        height: 26px;
                        border-radius: 5px; 
                        background-color: #887664;
                        color: #FFFFFF;
                        box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
                        text-align: center;
                        line-height: 26px;
                        margin-left: 250px;
                    } 
                    #membersPointsActionBlock{
                        margin-top: 15px;
                        position: relative;
                        .pointsDataFilterButton{
                            position: absolute;
                            top: 35px;
                        }
                        #pointsDataFilterButton01{
                            left: 80px;
                        }
                        #pointsDataFilterButton02{
                            left: 160px;
                        }
    
                    }
                }
            }
            #pointsDataUploader{
                h4{
                    color: rgb(190, 2, 2);
                }
                #uploadCSVBlock{
                    width: 300px;
                    display: flex;
                    justify-items: center;
                    label{
                        width: 500px;
                        margin-right: 5px;
                    }
                    // input{
                    //     width: 500px;
                    //     margin-right: 5px;
                    // }
                    button{
                        width: 180px;
                    }
                }
            }
        }
        .pointsDataArea{
            height: 578px;
            margin-top: 20px;
            padding: 27px 17px 27px 17px;
            .memberProfileBlock{
                display: flex;
                justify-content: space-between;
                margin: 15px 0px 30px 0px;
                h4{
                    font-weight: 800;
                }
                .memberProfile{
                    width: 500px;
                    display: block;
                    .memberProfileRow{
                        display: flex;
                        line-height: 30px;
                        height: 30px;
                        margin-bottom: 10px;
                    }
                }
                .memberPointsInput{
                    width: 330px;
                    display: block;
                    input{
                        margin: 0px 5px 10px 0px;
                    }
                }
            }
            .systemLogBlock{
                table tr, tr td{
                    border: 1px solid #D3D3D3;
                }
                table{
                    width: 945px;
                    height: 120px;
                    #pointsDataHeader{
                        th{
                            background-color: #887664;
                            color: #FFFFFF;
                            font-size: 14px;
                            text-align: center;
                        }
                    }
                    tbody{
                        tr, td{
                            height: 35px;
                        }
                        tr:nth-child(2n){
                            background-color: #FFFFFF;
                        }
                        tr:nth-child(2n+1){
                            background-color: #EBE8E8;
                        }
                        tr{
                            color: #A0754A;
                            font-size: 14px;
                            text-align: center;
                            .pointsDataActionBlock{
                                display: flex;
                                justify-content: space-around;
                                height: 50px;
                                td{
                                    align-self: center;
                                }
                            }       
                        }
                    }
                }
            }
            h4{
                font-weight: 800;
            }
            table tr, tr td{
                border: 1px solid #D3D3D3;
            }
            table{
                width: 945px;
                height: 120px;
                #pointsDataHeader{
                    th{
                        background-color: #887664;
                        color: #FFFFFF;
                        font-size: 14px;
                        text-align: center;
                    }
                }
                tbody{
                    tr, td{
                        height: 35px;
                    }
                    tr:nth-child(2n){
                        background-color: #FFFFFF;
                    }
                    tr:nth-child(2n+1){
                        background-color: #EBE8E8;
                    }
                    tr{
                        color: #A0754A;
                        font-size: 14px;
                        text-align: center;
                        .pointsDataActionBlock{
                            display: flex;
                            justify-content: space-around;
                            height: 50px;
                            td{
                                align-self: center;
                            }
                        }       
                    }
                    .btn-xs{
                        width: 60px;
                        margin: 0px 5px 0px 5px;
                    }
                }
            }
        }
        #pagination{
            position: absolute;
            transform: translate(-50% , 50%);
            left: 55%;
            bottom: 27px;
            font-size: 27px;
            a{
                color: #887664;
                text-decoration: none;
                &:hover{
                    background-color: #887664;
                    color: #FFFFFF;
                }
            }
        }
    }
}

