.containerIndex{
    .asideMainWrapper{
        position: relative;
        padding-top:110px;
        display: flex;
        width:1200px;
        margin:0 auto;
        .headerMainWrapper{
            .headerWrapper{
                background-color: $y;
            }
        }
    }
    .headerMainWrapper{
        position: relative;
        margin-left:10px;
        flex-grow: 1;
        .headerWrapper{
            margin-bottom: 10px;
            header{
                    div{
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        padding:5px;
                        span{
                            input{
                                margin-left:8px;
                                border-radius: 8px;
                                border: 1px solid gray;
                                font-size: 12px;
                                line-height: 20px;
                            }
                        }
                        svg{
                            top: 3px;
                            position: relative;
                        }
                        button{
    
                            right:3px;
                        }
                    }
                 
                div:nth-child(2){
                    justify-content: space-between;
                }
                div:nth-child(3){
                    padding: 0;
                    justify-content: space-between;
                    div span input{
                        text-align: right;
                    }
                }
            }
        }
    }
}



